<div id="mobileNavTab">
    <ul>
        <li>
            <a href="/collections/mattresses">mattresses</a>
        </li>
        <li class="middle">
            <a href="/collections/pillows">pillows</a>
        </li>
        <li>
            <a href="/pages/crystal-cove-collection">yoga</a>
        </li>
    </ul>
</div>


{% include 'nowtime' %}
<style>
    ol.carousel-indicators, a.carousel-control{
        display: none;
    }
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/collections/mattresses" id="collections">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam=10&rect=462,0,870,870&w=768">
                    <source media="(min-width: 768px)" srcset="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam=10&q=55&auto=compress,formatw=1280">
                    <img src="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam=10&q=55&auto=compress,formatw=1280" alt="Brentwood Home Affordable Luxury">
                    {%comment%}
                    <source media="(max-width: 767px)" sizes="100vw" srcset="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&q=65&w=320&rect=462,0,870,870 320w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&rect=462,0,870,870&w=400 400w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&rect=462,0,870,870&w=500 500w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&rect=462,0,870,870&w=559 559w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&rect=462,0,870,870&w=600 600w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&&rect=462,0,870,870w=700 700w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=800 800w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&rect=462,0,870,870&w=839 839w">

                    <source media="(min-width: 768px)" sizes="100vw" srcset="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=768 768w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=800 800w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=900 900w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1000 1000w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1100 1100w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1200 1200w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1300 1300w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1400 1400w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1500 1500w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1600 1600w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1700 1700w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1800 1800w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1900 1900w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=2000 2000w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=2100 2100w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=2200 2200w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=2300 2300w, https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=2400 2400w">
                    <img alt="Affordable Natural Luxury Mattresses &amp; Bedding" class="Hero__image___I1jio" src="https://brentwood-home.imgix.net/hp-hero-luxury.jpg?gam10&fm=webp&auto=compress&q=65&w=1600">
                    {%endcomment%}
                </picture>
            </a>
            <div class="carousel-caption">
                <!--<h1 class="tk-aw-conqueror-didot">Affordable Luxury</h1>-->
                <h1 class="">Affordable Natural Luxury<br>Mattresses &amp; Bedding</h1>
                <p class="caption">Live healthy, sleep well</p>
                <p><a href="/collections/mattresses" class="cta solid text-center">SHOP MATTRESSES</a></p>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="carousel-main left fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="carousel-main right fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    /* carousel image clicks 
    $(function() {
        $('.item').on('click', function() {
            //console.log('clicked! going to: ' + $(this).find('a').attr('href'));
            //window.location = $(this).find('a').attr('href');
        });
    });*/
</script>
<script type="text/javascript">
    window.VWO = window.VWO || [];
    window.VWO.push(['track.goalConversion',1]);
</script>