<div id="mobileNavTab">
    <ul>
        <li>
            <a href="/collections/mattresses">mattresses</a>
        </li>
        <li class="middle">
            <a href="/collections/pillows">pillows</a>
        </li>
        <li>
            <a href="/pages/crystal-cove-collection">yoga</a>
        </li>
    </ul>
</div>
{% include 'nowtime' %}
<style type="text/css">
    .jumbtron H1{
        color: white;
        text-shadow: 1px 1px 1px rgba(128,128,128,0.9);
    }
    BODY.template-index .cta{
        padding: 15px 52px;
    }
    BODY.template-index .cta.yogaOverride{
        background-color: white;
        color: #38414f;
        border-color: white;
        margin-top: 10px;
    }
    BODY.template-index .cta.yogaOverride:HOVER{
        background-color: transparent;
        color: #fff;
    }
    .copyContainer1{
        z-index: 50;
    }
</style>
<div class="jumbtron crystalcoveVideo">
    <div class="valueProps ">
        <div class="copyContainer1" style="transition-delay:266ms">
            <div class="tagline">
                <h1>Affordable Natural Luxury<br>Mattresses, Bedding &amp; Pillows</h1>
                <p><a href="/collections/crystal-cove-yoga" class="cta solid text-center yoga">SHOP YOGA PILLOWS</a></p>
                <p><a href="/collections/mattresses" class="cta solid white text-center yogaOverride mattress">SHOP MATTRESSES</a></p>
            </div>
        </div>
         <div class="videoVimeo" style="z-index: 2;">
            <iframe src="https://player.vimeo.com/video/445626953?autoplay=1&loop=1&background=1&muted=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <a style="z-index: 1;position: absolute;width: 100%;top: 0; " href="/collections/crystal-cove-yoga" id="collections"><img alt="Affordable Natural Luxury Mattresses &amp; Bedding" loading="eager" src="https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=15&auto=compress,format&w=1600&blur=100"></a>
        <!--<a href="/collections/crystal-cove-yoga" id="collections">
            <picture>                
                <source media="(max-width: 767px)" sizes="100vw" data-srcset="https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=320 320w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=400 400w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=500 500w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=559 559w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=600 600w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=700 700w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=800 800w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&rect=462,0,870,870&w=839 839w">

                <source media="(min-width: 768px)" sizes="100vw" data-srcset="https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=768 768w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=800 800w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=900 900w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1000 1000w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1100 1100w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1200 1200w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1300 1300w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1400 1400w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1500 1500w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1600 1600w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1700 1700w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1800 1800w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1900 1900w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=2000 2000w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=2100 2100w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=2200 2200w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=2300 2300w, https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=2400 2400w">
                <img alt="Affordable Natural Luxury Mattresses &amp; Bedding" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=55&auto=compress,format&w=1600" src="https://s3-brentwoodhome.imgix.net/hero/crystalcoveyogahero-cover2.jpg?gam=10&q=15&auto=compress,format&w=1600&blur=100">
            </picture>
        </a>-->
    </div>
</div>
<script type="text/javascript">
    window.VWO = window.VWO || [];
    window.VWO.push(['track.goalConversion',1]);
</script>

