{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 201906172359 %}
{% assign newPromoEnd = 201907082359 %}



<!-- EYEBROW -->
{% assign eyebrowCurrent = "Sale: Save up to $400 on select mattresses and more" %}
{% assign eyebrowCurrentMobile = "Sale! Up to $400 off mattresses" %}
{% assign eyebrowNew = "July 4 sale: Up to $400 on select mattresses and more" %}
{% assign eyebrowNewMobile = "Sale! Up to $400 off mattresses" %}

<!-- MODAL -->


<!-- SALE PAGE -->