{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 202006160000 %}
{% assign newPromoEnd = 202007070000 %}
{% assign extensionStart = 202007070001 %}

<!-- EYEBROW -->
{% assign eyebrowCurrent = "Sale! Save up to $175 on mattresses & more" %}
{% assign eyebrowCurrentMobile = "Sale! Save up to $175 on mattresses & more" %}
{% assign eyebrowNew = "Sale! Save up to $200 on mattresses & more" %}
{% assign eyebrowNewMobile = "Shop our mattress sale now" %}
{% assign newdesign = "Sale! $200 off mattresses & more" %}


<!-- SALE PAGE variable for extending promo. 'enddate' var displayed in mobile nav and sale page. -->
{% if rightnowint > extensionStart %}
    {% comment %} Shows extended end sale date {% endcomment%}
    {% assign enddate = "Ends March 23" %}
    {% assign mobile_sale_name = "Sale" %}
{% elsif rightnowint < currentPromoEnd %}
    {% comment %} Shows the correct end date when still in current promo range (currentPromoEnd){% endcomment%}
    {% assign enddate = "Ends June 15" %}
    {% assign mobile_sale_name = "Sale" %}
{% else %}
    {% comment %} AFter current promoPromoEnd and before newPromoEnd. Shows end date for new promo (newPromoEnd){% endcomment%}
    {% assign enddate = "Ends July 6" %}
    {% assign mobile_sale_name = "Fourth of July Sale" %}
{% endif %}

{% comment %} SALE BADGE {% endcomment %}
{% assign sale = false %}

{% if rightnowint < currentPromoEnd %}
  {% case product.handle %}

        {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>WAVES175</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>WAVES175</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>WAVES175</strong><span>*enter code at checkout</span>" %}

        {% when 'hybrid-latex-mattress' %}
          {% assign sale = "SALE! SAVE $100 <span>no code needed</span>" %}
          
    {% endcase %}
{% else %}
    {% case product.handle %}

        {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>WAVES175</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>WAVES175</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $200 with code <strong>CEDAR200</strong><span>*enter code at checkout</span>" %}

        {% when 'hybrid-latex-mattress' %}
          {% assign sale = "SALE! SAVE $100 <span>no code needed</span>" %}
          
    {% endcase %}
{% endif %}

{% case product.handle %}
        {% when 'griffith-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'runyon-deluxe-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}
          
        {% when 'crystal-cove-yoga-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-pranayama-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-meditation-pillow' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-square-meditation-pillow' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*not valid on Square + Oval Meditation Bundle</span>" %}

        {% when 'crystal-cove-bundle' %}
          {% assign sale = "Bundle & Save 20%! <span>*no code needed</span>" %}
    {% endcase %}
