{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 201911182359 %}
{% assign newPromoEnd = 201912100000 %}
{% assign extensionStart = 201912100001 %}



<!-- EYEBROW -->
{% assign eyebrowCurrent = "Veteran's Day Sale! Up to $200 off mattresses, 20% off yoga & pets collections" %}
{% assign eyebrowCurrentMobile = "Veteran's Day Sale! Save on mattresses & more" %}
{% assign eyebrowNew = "Cyber Sale! See all our deals on mattresses, bedding & more" %}
{% assign eyebrowNewMobile = "Cyber Sale! See all our deals" %}

<!-- MODAL -->


<!-- SALE PAGE variable for extending promo. 'enddate' var displayed in mobile nav and sale page. -->
{% if rightnowint > extensionStart %}
    {% comment %} Shows extended end sale date {% endcomment%}
    {% assign enddate = "Ends December 21" %}
    {% assign mobile_sale_name = "Cyber Sale" %}
{% elsif rightnowint < currentPromoEnd %}
    {% comment %} Shows the correct end date when still in current promo range (currentPromoEnd){% endcomment%}
    {% assign enddate = "November 18" %}
    {% assign mobile_sale_name = "Veteran's Day Sale" %}
{% else %}
    {% comment %} Shows end date for new promo (newPromoEnd){% endcomment%}
    {% assign enddate = "Ends December 9" %}
    {% assign mobile_sale_name = "Cyber Sale" %}
{% endif %}

