{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 202003030001 %}
{% assign newPromoEnd = 202003310001 %}
{% assign extensionStart = 202003310002 %}

<!-- EYEBROW -->
{% assign eyebrowCurrent = "Presidents' Day Sale! Save up to $200 on mattresses & more" %}
{% assign eyebrowCurrentMobile = "NPresidents' Day Sale! shop now" %}
{% assign eyebrowNew = "Sale! Save up to $175 on mattresses & more" %}
{% assign eyebrowNewMobile = "Shop our mattress sale now" %}
{% assign newdesign = "Sale! $175 off mattresses & more" %}

<!-- MODAL -->


<!-- SALE PAGE variable for extending promo. 'enddate' var displayed in mobile nav and sale page. -->
{% if rightnowint > extensionStart %}
    {% comment %} Shows extended end sale date {% endcomment%}
    {% assign enddate = "Ends March 2" %}
    {% assign mobile_sale_name = "Presidents' Day Sale" %}
{% elsif rightnowint < currentPromoEnd %}
    {% comment %} Shows the correct end date when still in current promo range (currentPromoEnd){% endcomment%}
    {% assign enddate = "Ends March 2" %}
    {% assign mobile_sale_name = "Presidents' Day Sale" %}
{% else %}
    {% comment %} AFter current promoPromoEnd and before newPromoEnd. Shows end date for new promo (newPromoEnd){% endcomment%}
    {% assign enddate = "Ends March 16" %}
    {% assign mobile_sale_name = "Natural Luxury Sale" %}
{% endif %}

{% comment %} SALE BADGE {% endcomment %}
{% assign sale = false %}

{% if rightnowint < currentPromoEnd %}
  {% case product.handle %}
        {% when 'griffith-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'runyon-deluxe-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $200 with code <strong>PRESIDENTS200</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>LUXURY175</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $200 with code <strong>PRESIDENTS200</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-yoga-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-pranayama-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-meditation-pillow' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-bundle' %}
          {% assign sale = "Bundle & Save 20%! <span>*no code needed</span>" %}
    {% endcase %}
{% else %}
    {% case product.handle %}
        {% when 'griffith-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'runyon-deluxe-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>LA175</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>LA175</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>LA175</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-yoga-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-pranayama-bolster' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-meditation-pillow' %}
          {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-bundle' %}
          {% assign sale = "Bundle & Save 20%! <span>*no code needed</span>" %}
    {% endcase %}
{% endif %}

