{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 202103012359 %}
{% assign newPromoEnd = 202103152359 %}
{% assign extensionStart = 202103160000 %}

<!-- EYEBROW -->
{% assign eyebrowCurrent = "Presidents’ Sale! Save up to $175 on select mattresses & more" %}
{% assign eyebrowCurrentMobile = "New Year Sale!" %}
{% assign eyebrowNew = "Sleep Week Sale! Save up to $150 on select mattresses & more" %}
{% assign eyebrowNewMobile = "Sleep Week Sale" %}
{% assign newdesign = "Sleep Week Sale" %}


<!-- SALE PAGE variable for extending promo. 'enddate' var displayed in mobile nav and sale page. -->
{% if rightnowint > extensionStart %}
    {% comment %} Shows extended end sale date {% endcomment%}
    {% assign enddate = "Ends March 22, 11:59pm PDT" %}
    {% assign mobile_sale_name = "Sleep Week Sale" %}
    {% assign newdesign = "Sleep Week Sale Extended" %}
{% elsif rightnowint < currentPromoEnd %}
    {% comment %} Shows the correct end date when still in current promo range (currentPromoEnd){% endcomment%}
    {% assign enddate = "Ends March 1, 11:59pm PDT" %}
    {% assign mobile_sale_name = "Presidents’ Sale" %}
    {% assign newdesign = "Presidents’ Sale Extended" %}
{% else %}
    {% comment %} AFter current promoPromoEnd and before newPromoEnd ends. Shows end date for new promo (newPromoEnd){% endcomment%}
    {% assign enddate = "Ends March 15, 11:59pm PDT" %}
    {% assign mobile_sale_name = "Sleep Week Sale" %}
    {% assign newdesign = "Sleep Week Sale" %}
{% endif %}

{% comment %} SALE BADGE FOR PRODUCT PAGES{% endcomment %}
{% assign sale = false %}
{% if rightnowint < currentPromoEnd %}
    {% case product.handle %}
        {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>POTUS</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>POTUS</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>POTUS</strong><span>*enter code at checkout</span>" %}

        {% when 'hybrid-latex-mattress' %}
          {% assign sale = "SALE! SAVE $100 <span>no code needed</span>" %}

        {% when 'griffith-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

        {% when 'runyon-deluxe-orthopedic-pet-bed' %}
          {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}
  {% endcase %}

{% else %}

  {% case product.handle %}
    {% when 'oceano-mattress' %}
          {% assign sale = "Sale! Save $150 with code <strong>SLEEPWEEK</strong><span>*enter code at checkout</span>" %}

        {% when 'crystal-cove-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>SLEEPWEEK</strong><span>*enter code at checkout</span>" %}

        {% when 'cedar-natural-luxe-mattress' %}
          {% assign sale = "Sale! Save $175 with code <strong>SLEEPWEEK</strong><span>*enter code at checkout</span>" %}

        {% when 'hybrid-latex-mattress' %}
          {% assign sale = "SALE! SAVE $100 <span>no code needed</span>" %}

  {% endcase %}

{% endif %}

{% case product.handle %}
{% comment %}
      {% when 'griffith-orthopedic-pet-bed' %}
        {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}

      {% when 'runyon-deluxe-orthopedic-pet-bed' %}
        {% assign sale = "Sale! Save 20% with code <strong>PETBED20</strong><span>*enter code at checkout</span>" %}
{% endcomment %}
      {% when 'crystal-cove-yoga-bolster' %}
        {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

      {% when 'crystal-cove-pranayama-bolster' %}
        {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

      {% when 'crystal-cove-meditation-pillow' %}
        {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*enter code at checkout</span>" %}

      {% when 'crystal-cove-square-meditation-pillow' %}
        {% assign sale = "Sale! Save 20% with code <strong>YOGA20</strong><span>*not valid on Square + Oval Meditation Bundle</span>" %}

      {% when 'crystal-cove-bundle' %}
        {% assign sale = "Bundle & Save 20%! <span>*no code needed</span>" %}
  {% endcase %}


