{%comment%}
Gets date and time and converts it into in int
Tobe used for banners/tickers ect...

    {% if rightnowint <= currentPromoEnd %}
        <!-- CYBER HOLIDAY 11/19 - 12/03 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Black Friday &amp; Cyber Week Sale: Save $200 on select mattresses and more</a>
    {% elsif rightnowint > currentPromoEnd and rightnowint <= newPromoEnd %}
        <!-- HOLIDAY SALE 12/04 - 01/07 -->
        <a href="/pages/sale" id="sitewidesalebanner" class="freepacificajune2017">Holiday Sale: Save $175 on select mattresses and more</a>
    {% endif %}
{%endcomment%}

{% assign rightnow = 'now' | date: '%Y%m%d%H%M' %}
{% assign rightnowint = rightnow | times: 1 %}

{% assign currentPromoEnd = 201910150000 %}
{% assign newPromoEnd = 201910290000 %}
{% assign extensionStart = 201910290001 %}



<!-- EYEBROW -->
{% assign eyebrowCurrent = "sale! $175 to $400 off select mattresses & more" %}
{% assign eyebrowCurrentMobile = "Sale! $175-$400 off mattresses & more" %}
{% assign eyebrowNew = "Fall Sale! Mattresses, yoga & pets up to $200 off" %}
{% assign eyebrowNewMobile = "Sale! Up to $200 off mattresses & more" %}
{% assign mobile_sale_name = "Fall Sale" %}

<!-- MODAL -->


<!-- SALE PAGE variable for extending promo. 'enddate' var displayed in mobile nav and sale page. -->
{% if rightnowint > extensionStart %}
    {% comment %} Shows extended end sale date {% endcomment%}
    {% assign enddate = "Ends November 7" %}
{% elsif rightnowint < currentPromoEnd %}
    {% comment %} Shows the correct end date when still in current promo range (currentPromoEnd){% endcomment%}
    {% assign enddate = "Ends October 14" %}
{% else %}
    {% comment %} Shows end date for new promo (newPromoEnd){% endcomment%}
    {% assign enddate = "Ends October 28" %}
{% endif %}

