<style>
    DIV.inside{
        margin: 0;
    }
    DIV.inside .matTip.small{
        background: rgba(74, 74, 74,0.45);
        border-radius: 48px;
        padding: 5px;
        width: 290px;
    }
    DIV.inside .matTip.small.sheets.gots{
        top: 220px;
        left: 240px;
    }
    DIV.inside .matTip.small.sheets.light{
        top: 440px;
        left: 420px;
    }
    DIV.inside .matTip.small.sheets.luxe{
        top: 340px;
        right: 150px;
    }
    IMG.rdthumb{
        border: none;
        box-shadow: none;
    }
    DIV.inside .matTip P{
        margin: 0 0 0 65px;
        color: white;
        font-size: 13px;
        line-height: 15px;
    }
    DIV.inside .matTip P STRONG{
        font-size: 16px;
        display: block;
        color: white;
        float: none;
        line-height: 20px;
        margin-bottom: 0;
        margin: 0px 0px 4px 0px;
    }
    @media (max-width: 991px){
        DIV.inside .matTip.small P {
            margin-left: 62px;
        }
        DIV.inside .matTip.small IMG.rdthumb{
            width: 55px;
            height: 55px;
            border: 2px solid white;
        }
        DIV.inside .matTip.small.sheets.gots {
            top: 140px;
            left: 130px;
        }
        DIV.inside .matTip.small.sheets.light {
            top: 230px;
            left: 420px;
        }
        DIV.inside .matTip.small.sheets.luxe {
            top: 300px;
            right: 250px;
        }
        .section.warranties.background>div{
            padding: 60px 0;
        }
    }
    @media (max-width: 520px){
        DIV.inside .matTip.small P {
            margin-left: 15px;
            margin-left: 0px;
            background-color: transparent;
        }
        DIV.inside .matTip.small{
            width: 200px;
        }
        DIV.inside .matTip.small IMG.rdthumb{
            display: none;
        }
        /*DIV.inside .matTip.small.sheets.gots {
            top: 90px;
            left: 50px;
        }
        DIV.inside .matTip.small.sheets.light {
            top: 130px;
            left: 250px;
        }
        DIV.inside .matTip.small.sheets.luxe {
            top: 190px;
            right: 90px;
        }*/
        DIV.inside .matTip.small.sheets.gots {
            top: 100px;
            left: 40px;
        }
        DIV.inside .matTip.small.sheets.light {
            top: 150px;
            left: 130px;
        }
        DIV.inside .matTip.small.sheets.luxe {
            top: 220px;
            right: 60px;
        }
        DIV.inside .matTip P STRONG{
            display: none;
        }
        .section.warranties.background>div{
            padding: 30px 0;
        }
        DIV.inside .matTip.small{
            
        }
        .section.warranties.background>div #warranties{
            margin-top: 10px;
        }
    }
</style>
<div class="container section">
   <h2 class="text-center">Eco-Luxury Organic Sheets</h2>
    <div class="inside">
        <div class="matTip small gots sheets">
            <img src="https://s3-brentwoodhome.imgix.net/products/organicsheets/bubble-organicgots.png?w=55&h=55" alt="" class="rdthumb">
            <p><strong>Organic & Non-Toxic</strong>GOTS and MADE SAFE® certified India cotton.</p>
        </div>
        <div class="matTip small light sheets">
            <img src="https://s3-brentwoodhome.imgix.net/products/organicsheets/bubble-lightbreathable.png?w=55&h=55" alt="" class="rdthumb">
            <p><strong>Light & Breathable</strong>400 or 600 single-ply extra long staple cotton.</p>
        </div>
        <div class="matTip small luxe sheets">
            <img src="https://s3-brentwoodhome.imgix.net/products/organicsheets/bubble-luxurious.png?w=55&h=55" alt="" class="rdthumb">
            <p><strong>Beautiful & Luxurious</strong>Ultra-soft with a beautiful sateen finish.</p>
        </div>
        <picture>
            <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00017.jpg?w=768&rect=677,173,1720,1720&w=768&ch=Width,DPR&q=55">
            <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00017.jpg?w=768&rect=682,386,1748,1031&w=768&ch=Width,DPR&q=55">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00017.jpg?w=1280&rect=682,386,1748,1031">
            <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00017.jpg?w=1280&rect=682,386,1748,1031&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00017.jpg?w=1280&rect=682,386,1748,1031" alt="eco-luxury organic sheets">
        </picture>
    </div>
</div>

{% include 'product-warranties' %}

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00013.jpg?rect=324,650,1517,1517&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00013.jpg?rect=324,411,1517,2099&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00013.jpg?rect=324,411,1517,2099&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00013.jpg?rect=324,411,1517,2099&w=555" alt="Organic Is Better">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>cotton in its purest form</h3>
                <h2>Organic Is Better</h2>
                <p>Rest easy with our renewable and sustainable bedding. <strong>Our sheets are a GOTS organic certified product and the cotton we use is 
                        100% GOTS organic certified.</strong> Why Organic? Because conventional cotton is a polluted crop. <strong>Organic cotton is held to a stricter standard and ours is responsibly and sustainably grown in India</strong> without pesticides, herbicides and fertilizers. This is better for you as well as our family farmers. Best of all, organic cotton delivers a luxurious finish, breathes easily, and wicks away moisture better than any synthetic.
                </p>
                <p class="text-center"><img src="{{ 'logo-gotsorg-cu861640.png' | asset_url}}" alt="GOTS" style="max-width: 80px; width: 80px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center col-sm-push-6 wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00020.jpg?rect=1410,231,1220,1220&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00020.jpg?rect=1410,231,1220,1688&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00020.jpg?rect=1410,231,1220,1688&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00020.jpg?rect=1410,231,1220,1688&w=555" alt="Naturally Non-Toxic">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow col-sm-pull-6 fadeInRight">
            <div>
                <h3>SLeep with complete peace of mind</h3>
                <h2>Naturally Non-Toxic</h2>
                <p>Sleep with complete peace of mind knowing our sheets are 
                    <strong>MADE SAFE® certified</strong> — a rigorous, scientific screening process which only allows the use of ingredients that are not known or suspected to harm human health, animals, aquatic life or ecosystems. Plus, our cotton has received <strong>STANDARD 100 by OEKO-TEX®: Class 1 certification to ensure no harmful chemicals are present.</strong></p>
                <p class="text-center">
                    <img src="{{ 'oeko-tex-logo-hin.png' | asset_url}}" alt="OEKO" style="max-width: 130px; width: 130px;margin-top: 30px;">&nbsp;&nbsp;
                    <img src="{{ 'logo-madesafe-square-newblu.png' | asset_url}}" alt="MADESAFE" style="max-width: 90px; width: 90px;margin-top: 30px;">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00026.jpg?rect=260,611,2506,2506&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00026.jpg?rect=260,611,2506,3468&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00026.jpg?rect=260,611,2506,3468&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00026.jpg?rect=260,611,2506,34688&w=555" alt="Eco-Conscious & Healthy Materials">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>ethically crafted</h3>
                <h2>Eco-Conscious &amp; Healthy Materials</h2>
                <p>Made with a manufacturing process that reduces water and electricity consumption. <strong>Our sheets are pre-washed and processed to maintain a neutral pH level providing safe touch to the skin. </strong>
                    We’ve also worked to reduce the amount of fabric that is wasted during production.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00021.jpg?rect=916,0,1583,1583&w=768&ch=Width,DPR&q=55&txtalign=middle,center&txtfont=Avenir-Heavy&txt=BREATHABLE&txtclr=FFFFFF&txtsize=58">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00021.jpg?rect=916,0,1583,1920&w=585&txtalign=middle,center&txtfont=Avenir-Heavy&txt=BREATHABLE&txtclr=FFFFFF&txtsize=48">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00021.jpg?rect=916,0,1583,1920&w=585&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00021.jpg?rect=916,0,1583,1920&w=585&txtalign=middle,center&txtfont=Avenir-Heavy&txt=BREATHABLE&txtclr=FFFFFF&txtsize=48" alt="Breathable">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00012.jpg?rect=505,480,806,806&w=768&ch=Width,DPR&q=55&txtalign=middle,center&txtfont=Avenir-Heavy&txt=LUXURY&txtclr=FFFFFF&txtsize=58">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00012.jpg?rect=505,480,806,978&w=585&txtalign=middle,center&txtfont=Avenir-Heavy&txt=LUXURY&txtclr=FFFFFF&txtsize=48">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00012.jpg?rect=505,480,806,978&w=585&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00012.jpg?rect=505,480,806,978&w=585&txtalign=middle,center&txtfont=Avenir-Heavy&txt=LUXURY&txtclr=FFFFFF&txtsize=48" alt="Luxury">
            </picture>
        </div>
    </div>
</div>

<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00027.jpg?rect=0,400,1518,1518&w=768&ch=Width,DPR&q=55&txtalign=middle,center&txtfont=Avenir-Heavy&txt=ORGANIC%20LOVE&txtclr=FFFFFF&txtsize=58">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00027.jpg?w=1280&txtalign=middle,center&txtfont=Avenir-Heavy&txt=ORGANIC%20LOVE&txtclr=FFFFFF&txtsize=48">
        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00027.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/organicsheets/brentwoodhome_organicsheets_00027.jpg?w=1280&txtalign=middle,center&txtfont=Avenir-Heavy&txt=ORGANIC%20LOVE&txtclr=FFFFFF&txtsize=48" alt="Luxury">
    </picture>
</div>
{% assign isLastSectionLeft = false %}