<div class="oceanomaterials">
    <section>
        <div class="container">
            <h2 class="text-center margTB7050">Nine Luxe Layers of Premium Materials</h2>
            <div class="inside five">
                <div class="hidden-xs hidden-sm matTip small oceano tencel wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="https://s3-brentwoodhome.imgix.net/tencel_round.png?w=80&h=80" alt="Plant-Based Tencel™ Blended Fabric Cover" class="rdthumb">
                    <p><em class="matnumberSmall">1</em><strong>Plant-Based Tencel™ Blended Fabric Cover</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
                    <img src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" alt="GOTS Organic Certified Wool" class="rdthumb">
                    <p><em class="matnumberSmall">2</em><strong>GOTS Organic Certified Wool</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano microcoils wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
                    <img src="https://s3-brentwoodhome.imgix.net/microcoils_round.png?w=80&h=80" alt="Responsive Micro-Support Coils" class="rdthumb">
                    <p><em class="matnumberSmall">4</em><strong>Responsive Micro-Support Coils</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small cedarluxe wow springs" data-wow-duration="1s" data-wow-delay="2.3s">
                    <img src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=80&h=80" alt="5-Zone spring core" class="rdthumb">
                    <p><em class="matnumberSmall">3</em><strong>5-Zone Support Core</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm matTip small oceano gel wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
                    <img src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80" alt="CertiPUR-US® certified Cooling Gel Memory Foam" class="rdthumb">
                    <p><em class="matnumberSmall">5</em><strong>CertiPUR-US® certified Cooling Gel Memory Foam</strong></p>
                    <div class="arrow">
                        <div class="pointer"></div>
                    </div>
                </div>
                <picture>
                    <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=480 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=960&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_mobile.jpg?w=1440&fit=max&q=20&dpr3 3x">
                    <source media="(max-width: 991px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_tablet.jpg?w=767&fit=max&q=20&dpr3 3x">
                    <source media="(min-width: 992px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170 1x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&fit=max&q=40&dpr=2 2x,
                                                                    https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&fit=max&q=20&dpr3 3x">
                    <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_side_materials_desktop2b.jpg?w=1170" alt="Oceano Materials">
                </picture>         
            </div>
        </div>

        <div class="container visible-md-block visible-lg-block section materialListMob">
            <br><h3 class="text-center" style="text-align: center">our natural layers</h3>
            <div id="materials-desk" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <p class="text-center matnumber">1</p>
                    <h3 class="text-center features">Plant-Based Tencel™ Blended Fabric Cover</h3>
                    <p>Sustainably-produced, airy and soft to the skin with unique moisture-absorbing abilities.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">2</p>
                    <h3 class="text-center features">GOTS Organic Certified Wool</h3>
                    <p>100% organic, keeps you cool in the summer and warm in the winter.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">3</p>
                    <h3 class="text-center features">5 Zones, Up to 1,441 Support Coils</h3>
                    <p>Premium support unit strategically designed to support hips, back and shoulders.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">4</p>
                    <h3 class="text-center features">Responsive Micro-Support</h3>
                    <p>Up to 1,722 comfort coils for ultra-responsive comfort for precise support.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">5</p>
                    <h3 class="text-center features">Cooling Gel-Infused Swirl Memory Foam</h3>
                    <p>Contouring and cooling for pressure-point relief and deep rest.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">6</p>
                    <h3 class="text-center features">Luxurious Natural Poly-Silk Fiber
                    </h3>
                    <p>A premium and unique fiber blend for lightness and enhanced breathability that only natural silk provides.
                    </p>
                </div>

                <div class="item text-center">
                    <p class="text-center matnumber">7</p>
                    <h3 class="text-center features">Serene Cool Air Luxe Foam™</h3>
                    <p>2-inches of deep comfort for pressure-point relief, that is notably airy and cool.
                    </p>
                </div>

                <div class="item text-center">
                    <p class="text-center matnumber">8</p>
                    <h3 class="text-center features">Premium Base Support Foam
                    </h3>
                    <p>1-inch of luxe CertiPUR-US® Certified High-Density support foam.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">9</p>
                    <h3 class="text-center features">Organic Cotton Canvas Base
                    </h3>
                    <p>100% GOTS organic certified cotton canvas base in a beautiful Herringbone pattern.
                    </p>
                </div>
            </div>
        </div>


        <div class="container section visible-xs-block visible-sm-block materialListMob">
            <div id="materials" class=" owl-carousel owl-theme">
                <div class="item text-center">
                    <p class="text-center matnumber">1</p>
                    <h3 class="text-center features">Plant-Based Tencel™ Blended Fabric Cover</h3>
                    <p>Sustainably-produced, airy and soft to the skin with unique moisture-absorbing abilities.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">2</p>
                    <h3 class="text-center features">GOTS Organic Certified Wool</h3>
                    <p>100% organic, keeps you cool in the summer and warm in the winter.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">3</p>
                    <h3 class="text-center features">Luxurious Natural Poly-Silk Fiber
                    </h3>
                    <p>A premium and unique fiber blend for lightness and enhanced breathability that only natural silk provides.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">4</p>
                    <h3 class="text-center features">Cooling Gel-Infused Swirl Memory Foam</h3>
                    <p>Contouring and cooling for pressure-point relief and deep rest.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">5</p>
                    <h3 class="text-center features">Responsive Micro-Support</h3>
                    <p>Up to 1,722 comfort coils for ultra-responsive comfort for precise support.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">6</p>
                    <h3 class="text-center features">Serene Cool Air Luxe Foam™</h3>
                    <p>2-inches of deep comfort for pressure-point relief, that is notably airy and cool.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">7</p>
                    <h3 class="text-center features">5 Zones, Up to 1,441 Support Coils</h3>
                    <p>Premium support unit strategically designed to support hips, back and shoulders.
                    </p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">8</p>
                    <h3 class="text-center features">Premium Base Support Foam
                    </h3>
                    <p>1-inch of luxe CertiPUR-US® Certified High-Density support foam.</p>
                </div>
                <div class="item text-center">
                    <p class="text-center matnumber">9</p>
                    <h3 class="text-center features">Organic Cotton Canvas Base
                    </h3>
                    <p>100% GOTS organic certified cotton canvas base in a beautiful Herringbone pattern.
                    </p>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

                $('#materials-desk').owlCarousel({
                    loop:false,
                    margin:10,
                    responsiveClass:true,
                    responsive:{
                        991:{
                            items:3,
                            loop: true,
                            stagePadding: 40,
                        },
                        1280:{
                            items:4,
                            stagePadding: 40,
                        }
                    },
                    nav : false,
                });

                $('#materials').owlCarousel({
                    loop:false,
                    margin:10,
                    responsiveClass:true,
                    responsive:{
                        0:{
                            items:1,
                            loop: true,
                            stagePadding: 40,
                        },
                        480:{
                            items:2,
                            loop: true,
                            stagePadding: 40,
                        },
                        991:{
                            items:3,
                            loop: true,
                            stagePadding: 40,
                        },
                        1280:{
                            items:4,
                            loop: true,
                            stagePadding: 40,
                        }
                    },
                    nav : false,
                });
            });
        </script>
        <p class="text-center"><a href="#materialsspecs" class="sscroll cta2">see full materials specs</a></p>
    </section>
</div>

{% include 'product-warranties' %}

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?rect=0,63,2248,2248&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/dualspringunit_mattress.jpg?w=555" alt="Two Innerspring Units, 5 Zones, Up to 3,163 Coils!">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h3>Two Innerspring Units, 5 Zones, Up to 3,163&nbsp;Coils!</h3>
                <h2>Maximum Coils, Essential&nbsp;Support</h2>
                <p>A good night’s rest depends on lasting support. We offer not one, but <strong>two premium innerspring units, with up to 3,163 individually-wrapped coils</strong>, to give you <strong>more support than any other hybrid mattress on the market.</strong> Our high-end units are strategically placed to offer precise support and respond to your body’s shape and subtle movements.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,4912&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_woman_greenery.jpg?rect=0,360,4912,6797&w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h3>Temperature-Regulating and Moisture-Wicking</h3>
                <h2>Sleep Cool, Wake&nbsp;Refreshed</h2>
                <p>Our Air Luxe cooling Gel Memory Foam, which is <strong>CertiPUR-US® certified</strong>, uses <strong>open-cell technology to regulate temperature and wick moisture for a comfortable night’s sleep.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,3459&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano_feel.jpg?rect=1980,0,3459,4787&w=555" alt="Medium-Plush Hybrid">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInLeft">
            <div>
                <h3>perfect for all type of sleepers</h3>
                <h2>Medium-Plush Hybrid</h2>
                <p><strong>The combination of foam and coils in hybrid mattresses offers elevated support, increased airflow and lasting durability.</strong> For the Oceano, we took our pressure-relieving, breathable, gel-infused memory foam and combined it with our responsive layers of individually-wrapped microcoils that keep your spine in healthy alignment to create our most-luxurious and best-selling hybrid mattress.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section mattress19_cutout">
    <div class="inside">
        <div class="beautiful">
            <h2 class="text-center">Most Luxurious In Its Class</h2>
            <p class="text-center sub">#1 Rated on Sleep Sherpa (9.4/10)</p>
        </div>
        <picture>
            <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-side-woman-sleeping2.jpg?w=768&rect=480,0,1920,1920&ch=Width,DPR&q=55">
            <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-side-woman-sleeping2.jpg?w=768ch=Width,DPR&q=55">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-side-woman-sleeping2.jpg?w=1280&rect=215,95,2430,1700">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-side-woman-sleeping2.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-side-woman-sleeping2.jpg?w=1280" alt="{{ product.title }} construction">
        </picture>
    </div>
    <div class="row reviewOverlay">
        <p class="h3 subs text-center" style="margin-bottom: 40px;">See why customers love the Oceano Luxe Hybrid Mattress:</p>
        <div class="col-xs-12 col-md-6">
            <p class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i>from Monica L.</i>
            </p>
            <p class="reviewTitle" style="text-align: left;"><strong>2nd Purchase Does Not Disappoint</strong></p>
            <p class="line-right-a">This is our second mattress purchase from Brentwood Home. I will not purchase a mattress anywhere else. Delivery is smooth, set up takes seconds, and the mattresses are so comfortable.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i>from Eric M.</i>
            </p>
            <p class="reviewTitle" style="text-align: left;"><strong>Finally sleeping through the night</strong></p>
            <p class="line-right-b">My wife and I tried three different online mattresses and sent them all back. She is a back sleeper and I’m a side sleeper, so it’s difficult to find a soft enough mattress for me with enough support for my wife. The Oceana is the best of both worlds. I’m waking up with no shoulder or neck pain and my wife has no more back pain.</p>
        </div>
        <p class="text-center readAll"><strong><a href="#reviewsAnchor" class="sscroll">See All Reviews</a> ></strong></p>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInLeft">    
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2104&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/sunnycal-shoreline2.jpg?rect=450,0,2104,2912&w=555" alt="">
            </picture>            
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInRight">
            <div>
                <h3>Unsurpassed Quality Since 1987</h3>
                <h2>Handmade in Sunny&nbsp;California</h2>
                <p><strong>Handcrafted in our own GOTS & GOLS organic certified factory just outside of Los Angeles.</strong> Most other mattresses are shipped from overseas, where environmental and quality standards are low. Not ours. We make our own mattresses (few brands do!) and our valued team members (many of whom have been with us for more than 20 years) are paid living wages and provided comprehensive benefits.</p>
                <p class="text-center"><img src="{{ 'gots-gols-logo-factory.png' | asset_url }}" alt="GOTS &amp; GOLS Certified Factory" style="max-width: 250px; width: 250px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-topview.jpg?rect=781,0,1388,1920&w=555" alt="Non-Toxic Materials">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV wow fadeInRight">
            <div>
                <h3>Sleep with Peace of&nbsp;Mind</h3>
                <h2>Non-Toxic Materials</h2>
                <p>Our non-toxic materials include <strong>CertiPUR-US®</strong> certified cooling, gel-infused memory foam, silk fibers, <strong>GOTS organic certified cotton and wool</strong>, and sustainably-sourced plant-based Tencel fibers from eucalyptus trees. Better still, no chemical or synthetic fiber flame retardants are used. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/woman-wearing-eye-mask.jpg?w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/woman-wearing-eye-mask.jpg?w=555">
                <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/https://s3-brentwoodhome.imgix.net/products/oceano/woman-wearing-eye-mask.jpg?w=555Greenguard Gold&nbsp;Certified&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/woman-wearing-eye-mask.jpg?w=555" alt="">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>Lab Tested for Low Emissions</h3>
                <h2>Greenguard Gold&nbsp;Certified</h2>
                <p>The Oceano mattress is <strong>GREENGUARD Gold Certified by UL Environment</strong> for low emissions. This certification means it has been scientifically tested in environmental chambers to <strong>meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants</strong>, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://spot.ul.com/main-app/products/detail/5c75b6e755b0e822ac81cff5?page_type=Products%20Catalog" target="_blank" title="Greenguard Gold Certified">View Profile</a>.</p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>
<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-bed-woman-reading-fun.jpg?rect=829,0,1708,1708&w=768">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-bed-woman-reading-fun.jpg?w=1480">
        <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-bed-woman-reading-fun.jpg?blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/oceano/oceano-bed-woman-reading-fun.jpg?w=1480" alt="Oceano mattress">
    </picture>
</div>
{% assign isLastSectionLeft = true %}