<style type="text/css">
    A.ship-estimate{
        text-decoration: underline;
        color: #38414F;
    }
    A.ship-estimate:HOVER{
        text-decoration: none;
        color: #38414F;
    }
</style>
{% assign trial = false %}

{% case product.type %}
    {% when 'Pillow' %}
        {% assign trial = "30-day trial" %}

    {% when 'Wedge Pillow' %}
        {% assign trial = "30-day trial" %}

    {% when 'Pillow Cover' %}
        {% assign trial = "30-day trial" %}

    {% when 'Mattress' %}
        {% assign trial = "1-year trial" %}

    {% when 'Bed Frames' %}
        {% assign trial = "1-year trial" %}

    {% when 'Mattress Topper' %}
        {% assign trial = "1-year trial" %}
{% endcase %}

{%comment%}
    Converts production days into weeks (rounded up) if prod time > 7 days otherwise display time in days
{%endcomment%}
{% liquid
    assign weeks = false
    assign variant_prod_time_field = var_variant.metafields.custom_fields["production_time"]
    assign variant_prod_time_int = variant_prod_time_field | times: 1
    assign variant_prod_time_weeks = variant_prod_time_int | divided_by: 5.0
    if variant_prod_time_weeks > 1.5
        assign variant_prod_time = variant_prod_time_weeks | ceil
        assign weeks = true
    else
        assign variant_prod_time = variant_prod_time_int
    endif
%}

<p class="short-description shipping">
    <img src="https://brentwood-home-2.imgix.net/icon-shippingv4.svg" alt="Ships free, free returns">
    <a href="#" data-toggle="modal" data-target="#shipping-popup" class="ship-estimate">Ships free within {{ variant_prod_time }} {% if weeks %} week(s) {% else %} business days{% endif %}</a> <a href="#" data-toggle="modal" data-target="#shipping-popup"><em class="glyphicon glyphicon-question-sign"></em></a> | free returns {% if trial %}| {{ trial }}{% endif %}
</p>

<div class="modal fade" id="shipping-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Shipping Times</h4>
                </div>
                <div class="modal-body">
                    <div class="copy">
                        <p>
                            Our products are handmade in Los Angeles and they are currently in extremely high demand. Once production is complete, your product will ship. Please see notes on shipping below. <strong>Current shipping times are estimates.</strong> Many factors are currently causing delays:
                        </p>
                        <ul>
                            <li><strong>COVID-19:</strong> We've taken measures to ensure the safety of our employees, which could affect production time.</li>
                            <li><strong>FedEx delays:</strong> Due to high levels of demand, FedEx has not been able to scan all shipments when they pick them up from the warehouse. It's this scan that normally triggers an email to you communicating that your product has shipped.</li>
                            <li><strong>Material shortages:</strong> Some manufacturers are still not working at full capacity, making it more difficult to match the demand.</li>
                            <li><strong>Brentwood Home mattresses are handmade in Los Angeles, California.</strong> If the shipping address is in the same region, your delivery time will be greatly reduced.</li>
                            <li><strong>Note that smaller size mattresses usually ship faster.</strong></li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center">For more info, visit our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/en/collections/2213380-covid-19" class="more" target="_blank">help center</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>