<div class="container section">
    <h2 class="text-center margTB7050">It's all in the details</h2>
    <div class="embed-container text-center" style="padding-top: 0;">
        <iframe src="https://player.vimeo.com/video/388590442?muted=1&autoplay=1&loop=1&title=0&byline=0&autopause=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div id="details" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <p class="text-center"><img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_tuftingdetail.jpg?w=480&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_tuftingdetail.jpg?w=480" alt="Wool Tufting"></p>
            <h3 class="text-center features">Wool Tufting</h3>
            <p class="hidden-xs">We button-tuft the Cedar Natural Luxe by hand not only because it adds a nice luxurious touch but it is also functional — it keeps the different layers together without the use of chemical adhesives between the comfort layers.
            </p>
        </div>
        <div class="item text-center">
            <p class="text-center"><img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_strapsdetail.jpg?w=480&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_strapsdetail.jpg?w=480" alt="Coconut Buttons"></p>
            <h3 class="text-center features">Coconut Buttons</h3>
            <p class="hidden-xs">The buttons on our Cedar Natural Luxe are cut from imported coconut husks and finished by hand. They’re sourced from a small Veteran-owned button shop in Brooklyn, New York, that has been in continuous operation since 1939.
            </p>
        </div>
        <div class="item text-center">
            <p class="text-center"><img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_removetopperdetail.jpg?w=480&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_removetopperdetail.jpg?w=480" alt="Hand-Stitched Handles"></p>
            <h3 class="text-center features">Hand-Stitched Handles</h3>
            <p class="hidden-xs">We outfitted this mattress with eight hand-stitched and reinforced handles for easy moving. These handles are also designed to attach the optional Euro-designed topper (sold separately) to the mattress and hold it firmly in place.
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#details').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    loop: true,
                    stagePadding: 40,
                },
                768:{
                    items:2,
                    loop: true,
                    stagePadding: 40,
                },
                1024:{
                    items:3,
                    stagePadding: 0,
                    loop: false,
                    mouseDrag: false,
                    touchDrag: false
                }
            },
            nav : false,

        });
    });
</script>

<h2 class="text-center margTB7050">At the core, precision support</h2>

<div class="container section cc_coils">
    <div class="image">
        <div class="row flex">
            <div class="col-xs-12 col-sm-5 flexV">
                <div class="drop hidden-xs">
                    <h3>5 Strategic Zones</h3>
                    <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs-block">
        <h2>5 Strategic Zones</h2>
        <p>Precision crafted, pocketed coils — made in the US from recycled, single-tempered steel — effortlessly distribute your body’s weight and relieve aching pressure points. Made of up to 1,414 individually pocketed coils, they also provide critical zoned support for your hips and shoulders, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
    </div>
</div>

<div class="container section hidden-xs">
    <h2 class="text-center margTB7050">Handmade with<br>Eco-Conscious Materials</h2>
    <div class="inside five text-center" id="{{product.handle}}">
        <div class="matTip small cedarluxe latex wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=80&h=80" alt="GOLS Certified Organoc Latex" class="rdthumb">
            <p><strong>Organic Latex</strong><span>This GOLS organic certified latex is free of synthetic latex or blends and gives the topper medium feel.</span><span class="mobile"> GOLS organic certified latex.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" alt="Wool" class="rdthumb">
            <p><strong>Organic Wool</strong><span>GOTS organic certified wool wicks away moisture, allows for air circulation, and regulates temperature.</span><span class="mobile">GOTS organic certified wool wicks away moisture.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe threezonelatex wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/3zonelatex-round2.png?w=80&h=80" alt="3-zone latex" class="rdthumb">
            <p><strong>Organic Zoned Latex</strong><span>GOLS organic certified latex, computer designed and cut into 3 targeted zones.</span><span class="mobile">Precision cut for maximum support.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe wow springs" data-wow-duration="1s" data-wow-delay="2.3s">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=80&h=80" alt="5-Zone spring core" class="rdthumb">
            <p><strong>5-Zone Support Core</strong><span>Up to 1,414 zoned support coils to relieve pressure points and a reinforced perimeter that supports you all the way to the edge.</span><span class="mobile">Reinforced all around</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small cedarluxe alpaca wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
            <img loading="lazy" src="https://s3-brentwoodhome.imgix.net/alpacawool-round.png?w=80&h=80" alt="Alpaca Wool" class="rdthumb">
            <p><strong>Alpaca Wool</strong><span>A lustrous and silky natural fiber that is not only soft and luxurious but also naturally hypoallergenic and flame resistant.</span><span class="mobile">Naturally hypoallergenic and flame resistant.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <picture class="wow fadeIn" data-wow-duration="1s">
            <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=480&rect=0,0,1100,617&ch=Width,DPR">
            <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=480&rect=0,0,1100,617&ch=Width,DPR">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170">
            <img class="lazy" loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170&blur=100&q=10" alt="Cedar Luxe Mattress layers">
        </picture>
    </div>
</div>

<style>
    .materialListMob H3{
        font-size: 16px;
    }
    .materialListMob P{
        font-size: 14px;
        line-height: 20px;
    }
</style>
<div class="container section visible-xs-block materialListMob">
    <h2 class="text-center margTB7050">Handmade with<br>Eco-Conscious Materials</h2>
    <h3 class="text-center features">Mattress Structure</h3>
    <picture class="wow fadeIn" data-wow-duration="1s">
        <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?rect=0,0,1110,617&w=480&ch=Width,DPR">
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?rect=0,0,1110,617&w=767&ch=Width,DPR">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170">
        <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_internals.jpg?w=1170&blur=100&q=10" alt="Cedar Luxe Mattress">
    </picture>
    <h3 class="text-center features">Materials</h3>
    <div id="materials" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/latex-closeup.png?w=160&h=160" alt="GOLS Certified Organoc Latex" class="rdthumb"></p>
            <h3 class="text-center features">GOLS Organic Certified latex</h3>
            <p>This GOLS organic certified latex is free of synthetic latex or blends and gives the topper medium feel.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=160&h=160" alt="Wool" class="rdthumb"></p>
            <h3 class="text-center features">Organic Wool</h3>
            <p>GOTS organic certified wool wicks away moisture.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/alpacawool-round.png?w=160&h=160" alt="Alpaca Wool" class="rdthumb"></p>
            <h3 class="text-center features">Alpaca Wool</h3>
            <p>A lustrous and silky natural fiber that is not only soft and luxurious but also naturally hypoallergenic and flame resistant.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/3zonelatex-round2.png?w=160&h=160" alt="3-zone latex" class="rdthumb"></p>
            <h3 class="text-center features">Organic Latex</h3>
            <p>Computer designed and cut into 3 targeted zones to allow for greater heat dissipation and precise comfort.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/rd-spring-closeup.png?w=160&h=160" alt="5-Zone spring core" class="rdthumb"></p>
            <h3 class="text-center features">5-Zone Support Core</h3>
            <p>Up to 1,414 zoned support coils to relieve pressure points and a reinforced perimeter that supports you all the way to the edge.</p>
        </div>
        <div class="item text-center">
            <p class="text-center" style="margin-top: 10px;"><img src="https://s3-brentwoodhome.imgix.net/rd-coconut-closeup.png?w=160&h=160" alt="Coconut Husk" class="rdthumb"></p>
            <h3 class="text-center features">Coconut Husk</h3>
            <p>An eco-friendly and sustainable layer coconut husk is bonded with GOLS organic certified latex by hand-tufting and without the use of glue.</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#materials').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    loop: true,
                    stagePadding: 40,
                }
            },
            nav : false,

        });
    });
</script>

<div class="container section" style="margin-top: 95px;margin-bottom: 95px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center">Perfect Medium-Firm Feel</h2>
            <div style="position: relative;">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedar-side-no-topper.jpg?w=768&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedar-side-no-topper.jpg?w=768&ch=Width,DPR&q=55">
                    <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedar-side-no-topper.jpg?w=768&ch=Width,DPR&q=55" src="hhttps://s3-brentwoodhome.imgix.net/products/cedarluxe/cedar-side-no-topper.jpg?w=768&&q=55&blur=500&q=10" alt="The Perfect Medium-firm Firmness - the cedar natural luxe mattress">
                </picture>
                <div class="text-center" style="position: absolute;bottom: 0;background-color: rgba(255,255,255,0.8);padding: 17px 26px;margin: 0 auto;">
                    <img src="https://s3-brentwoodhome.imgix.net/products/feels/7_feel_scale.svg" alt="Medium firm feel">
                </div>
            </div>
            <br>
            <p><strong>The Cedar Natural Luxe mattress offers a perfect medium-firm feel. It rates as a 7 on a firmness scale of 1 to 10 (with 10 being the firmest).</strong> The sleep experience feels comfortingly supportive — you do not sink into the mattress. Instead, it is uplifting and buoyant — well-suited for all sleeping positions and body types, especially back sleepers. Bonus: it is flexible enough to perform well on an adjustable base.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center">or Add a Gentle Topper</h2>
            <div style="position: relative;">
                <picture>
                    <source media="(max-width: 767px)" data-srcset="https://brentwood-home-products.imgix.net/cedarluxe__0000_Brentwood_Home_-_Cedar_Mattress_web_-226.jpg?rect=526,0,1440,1440&flip=h&w=768&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://brentwood-home-products.imgix.net/cedarluxe__0000_Brentwood_Home_-_Cedar_Mattress_web_-226.jpg?rect=526,0,1440,1440&flip=h&w=768&ch=Width,DPR&q=55">
                    <img loading="lazy" class="lazy" data-src="https://brentwood-home-products.imgix.net/cedarluxe__0000_Brentwood_Home_-_Cedar_Mattress_web_-226.jpg?rect=526,0,1440,1440&flip=h&w=768&ch=Width,DPR&q=55" src="https://brentwood-home-products.imgix.net/cedarluxe__0000_Brentwood_Home_-_Cedar_Mattress_web_-226.jpg?rect=526,0,1440,1440&w=555&blur=500&q=10" alt="Plush Topper cedar natural luxe mattress">
                </picture>
                <div class="text-center" style="position: absolute;bottom: 0;background-color: rgba(255,255,255,0.8);padding: 17px 26px;margin: 0 auto;">
                    <img src="https://s3-brentwoodhome.imgix.net/products/feels/6_feel_scale.svg" alt="Gentle firm feel">
                </div>
            </div>
            <br>
            <p>Want more plush comfort with your mattress? Our Cedar Natural Latex Mattress Topper features a 3" layer of GOLS organic certified latex and a delicate GOTS organic certified cotton cover. By using a layer of latex that’s sculpted into three targeted comfort zones, we’ve eliminated dense pressure points, reduced motion transfer for partners, and created an eco-conscious sleep surface you’ll love. <strong>Adding the plush topper changes the rating to a 6 — a gentle-firm feel.</strong> <a href="#buysection" class="sscroll">Add a topper and save $100!</a>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=310,187,700,700&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=310,187,700,969&w=555">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=310,187,700,969&w=555" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/3zonelatexcut.jpg?rect=310,187,700,969&w=555&blur=500&q=10" alt="GOLS 3 zone latex foam layer">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>3 latex zones</h3>
                <h2>Zoned Latex Provides Articulated Support</h2>
                <p>All latex layers are not equal. The Cedar Luxe is the only green mattress on the market that uses a computer-cut layer of <strong>GOLS organic certified latex</strong>. The sculpted top edge provides targeted firmness and support, which creates comfort zones, improves motion isolation and offers gentle pressure relief for your body’s natural curves.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/couple-laying-down-cedar-mattress.jpg?rect=500,0,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/couple-laying-down-cedar-mattress.jpg?rect=778,0,1382,1920&w=555">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/couple-laying-down-cedar-mattress.jpg?rect=778,0,1382,1920&w=555" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/couple-laying-down-cedar-mattress.jpg?rect=778,0,1382,1920&w=555&blur=500&q=10" alt="Couple laying down on the cedar mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h3>socially responsible</h3>
                <h2>Organic Is Better</h2>
                <p><strong>Luxurious, safe, and eco-conscious. Our Cedar Natural Luxe is a GOTS organic certified mattress.</strong> That means the finished mattress passed the most rigorous global standard for ecologically and socially responsible products. Few finished mattresses are 100% GOTS certified products. That makes the Cedar Natural Luxe, one of the most comfortable AND sustainable mattresses in the world. It’s better for you, the environment, and our family farmers who harvest our materials.
                </p>
                <p class="text-center"><img src="{{ 'gots-logo.png' | asset_url }}" alt="GOTS Certified" style="max-width: 110px; width: 110px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=767&rect=0,660,2880,2880&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/BrentwoodHome-CedarMattress-104.jpg?w=555&blur=500&q=10" alt="The Finest Natural & Organic Materials">
            </picture>                 
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h3>sleep with total peace of mind</h3>
                <h2>The Finest Natural & Organic Materials</h2>
                <p>Sleep with total peace of mind on non-toxic, renewable and sustainable materials, including <strong>GOLS organic certified latex, GOTS organic certified wool and cotton sustainably sourced from our collectives in India, and 100% natural imported coconut shell husk buttons, which are handmade for us in Brooklyn, New York</strong>. No polyurethane foams are used and there are no chemical adhesives or glues between the comfort layers.</p>
                <p class="text-center"><img src="{{ 'gots-gols-product.jpg' | asset_url }}" alt="GOTS &amp; GOLS Certified" style="max-width: 250px; width: 250px;margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>








{% include 'product-warranties' %}

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?w=1140">
        <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?w=1140" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00008.jpg?w=1140&blur=500&q=10" alt="Cedar natural luxe mattress mattress">
    </picture>
</div>

<div class="container section text-center">
    <div class="row">
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?w=760&rect=500,0,1900,1900">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?w=760&rect=500,0,1900,1900" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00000.jpg?w=760&rect=500,0,1900,1900&blur=500&q=10" alt="Woman wrapped in sheets on the Cedar luxe mattress">
            </picture>
        </div>
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=480&rect=0,179,2880,2880&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=760&rect=0,179,2880,2880">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=760&rect=0,179,2880,2880" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00001.jpg?w=760&rect=0,179,2880,2880&blur=500&q=10" alt="Close-up view of the Cedar mattress">
            </picture>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?rect=240,0,1834,1834&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?w=1140">
        <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?w=1140" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe_book_00002.jpg?w=1140&blur=500&q=10" alt="The Cedar mattress">
    </picture>
</div>

<h2 class="text-center margTB7050">Our Eco-Conscious<br> materials</h2>
<div class="container section mountains">
    <div class="image">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <div><br>
                    <p>We sourced the finest materials mother nature has to offer. We traveled around the world to find our latex, wool, and other components that will make the Cedar Natural Luxe unique. We carefully select small businesses that believe in our mission.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?rect=0,45,1024,1024&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?w=620">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?&w=620" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/materialsource1.jpg?&w=620&blur=500&q=10" alt="Eco conscious materials - wool">
            </picture>

        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=746,350,1388,1388&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=840,0,1679,1920&w=620">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=840,0,1679,1920&w=620" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-latex3.jpg?rect=840,0,1679,1920&w=620&blur=500&q=10" alt="Eco conscious materials - Latex">
            </picture>

        </div>
    </div>
</div>



<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55">
                <img loading="lazy" class="lazy" data-src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55" src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&blur=500&q=10" alt="Handcrafted in Southern California">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Handcrafted in Southern California</h2>
                <p><strong>The Cedar Natural Luxe mattress is lovingly handmade in California with renewable, sustainable and natural materials.</strong> Our GOLS organic certified latex is sourced from India and processed in a facility that we own. The facility uses wind power, rainwater collection pools, and even the biomass from trees at the end of their lifecycle to create steam (which bakes our latex). Our wool and cotton are GOTS organic certified and ethically sourced directly from farmers in India.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555">
                <img loading="lazy" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555&q=10&blur=500" data-src="https://s3-brentwoodhome.imgix.net/products/cedarluxe/cedarluxe-greengaurd.jpg?rect=796,235,1218,1686&w=555" alt="Cedar Natural Luxe Greenguard Gold Certified Non-Toxic Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Greenguard Gold Certified</h2>
                <p>According to the <a href="https://www.epa.gov/report-environment" target="_blank">EPA</a>, Indoor air quality is 5 times more polluted than outside air. And since we spend <a href="https://www.epa.gov/report-environment/indoor-air-quality" target="_blank">90% of our time</a> living, working, and playing indoors, indoor air quality is an important consideration.
                </p>
                <p>That’s why the Cedar Natural Luxe mattress is <strong>GREENGUARD Gold Certified by UL Environment for Low Emissions</strong>. It means that it has been scientifically tested in environmental chambers to meet the most rigorous emissions standards for chemical exposure and pollutants, such as Volatile Organic Compounds (VOCs), formaldehyde and phthalates. <a href="https://spot.ul.com/main-app/products/detail/5c75b6e755b0e822ac81cff5?page_type=Products%20Catalog" target="_blank" title="Greenguard Gold Certified">View Profile</a>.</p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>
{%comment%} isLastSectionLeft defines which side the image in the section above is to properly alternate the side of the next section from 3_2 template. False = image to the right, true = image to the left{%endcomment%}
{% assign isLastSectionLeft = false %}