{% assign producthandle = product.handle %}

{% if product.tags contains "bundle-pillows" %}
    <label class="selectLabel bundle">Add matching pillow(s) & save</label>
    <div class="addonmodule clearfix">
        <div class="column input">
            <div class="squaredOne">
                <input type="checkbox" value="none" id="pillow-bundle" name="pillow-bundle" />
                <label for="pillow-bundle"></label>
            </div>
        </div>
        <div class="column img">
            {% case producthandle %}
            {% when "cedar-natural-luxe-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% when "cypress-bamboo-gel-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% when "oceano-mattress-test" %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% when "ojai-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% when "crystal-cove-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% else %}
            <img src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Add pillow(s) and save">
            {% endcase %}
        </div>
        <div class="column copy">
            <p class="text-left hidden-xs">
                Filled with a breathable Certi-PUR-US® gel memory foam and polyester blend to provide the ultimate in comfort and cooling sleep.
            </p>
            <p class="text-left visible-xs-block">
                Filled with a breathable Certi-PUR-US® gel memory foam and polyester blend to provide the ultimate in comfort and cooling sleep.
            </p>
            <p class="text-center"><strong id="pillow-bundle-price"></strong></p>
        </div>
    </div>
{% endif %}

{% if product.tags contains "bundle-foundation" %}
    <label class="selectLabel bundle">Add matching Easy Foundation</label>
    <div class="addonmodule clearfix">
        <div class="column input">
            <div class="squaredOne">
                <input type="checkbox" value="none" id="foundation" name="foundation" />
                <label for="foundation"></label>
            </div>
        </div>
        <div class="column img">
            {% case producthandle %}
            {% when "cedar-natural-luxe-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/marlo-00002.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% when "cypress-bamboo-gel-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/marlo-00002.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% when "oceano-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/hershel-01.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% when "oceano-mattress-test" %}
            <img src="https://brentwood-home-products.imgix.net/hershel-01.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% when "ojai-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% when "crystal-cove-mattress" %}
            <img src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% else %}
            <img src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip" alt="Include a foundation">
            {% endcase %}
        </div>
        <div class="column copy">
            <p class="text-left hidden-xs">
                Our minimalist design, high-grade wood frame, tool-free assembly foundation.
                <a href="/products/foundation">Learn more</a>
            </p>
            <p class="text-center hidden-xs"><strong id="easy-foundation-price"></strong></p>
            {%comment%}
            <div class="addon-a">
                <p class="text-left visible-xs-block">
                    Minimalist design, high-grade wood frame, tool-free assembly.
                    <a href="/products/foundation">Learn more</a>
                </p>
                <p class="text-center"><strong id="easy-foundation-price"></strong></p>
            </div>
            {%endcomment%}
            <div class="addon-b">
                <p class="text-left visible-xs-block">Add matching Easy Foundation <a data-toggle="tooltip" title="Our minimalist design, high-grade wood frame, tool-free assembly foundation. Color matches the {{product.title}}"><em class="glyphicon glyphicon-question-sign"></em></a> <strong id="easy-foundation-price-mob"></strong></p>
            </div>
        </div>
    </div>
{% endif %}
