{% include 'product-warranties' %}

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920" src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_1104.jpg?rect=210,0,800,1152&w=920&blur=500&q=10" alt="Keeps you cool all night long"> 
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Keeps you cool,<br> all night long</h2>
                <p>The key to quality sleep is staying cool. In this regard, the Cypress truly excels. The bamboo infused cover, natural wool backing, gel infused memory foam, and ventilated transition foams work together to promote airflow and cooling, all night long.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920" src="https://s3-brentwoodhome.imgix.net/products/cypress/bambooforest72.jpg?rect=2107,500,1414,2048&w=920&blur=500&q=10" alt="Bamboo forest">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Eco-Luxury Viscose Bamboo</h2>
                <p>Bamboo has environmental advantages — it's a fast growing crop that's usually grown without pesticides in areas unsuitable to forestry. Bamboo leaves and the soft, inner pith from the hard bamboo trunk are extracted using a steaming process and then mechanically crushed to extract the cellulose (a closed loop process), which is made into viscose rayon. It's naturally hypoallergenic and thermal regulating, incredibly soft, helps you sleep cooler, wicks moisture and resists odor and bacteria. </p>
            </div>
        </div>
    </div>
</div>

<div class="container section cypress_cutout">
    <h2 class="text-center margTB7050">The perfect combination of body contouring and cooling</h2>
    <div class="inside five text-center">
        <div class="matTip small bamboo wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboocover-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboocover-round.png?w=80&h=80&blur=500&q=10" alt="Bamboo Cover" class="rdthumb">
            <p><strong>Removable Bamboo Zipper Cover</strong><span>Made from eco-friendly bamboo wood cellulose, it’s durable, luxurious and removable for cleaning.</span><span class="mobile">Eco-friendly and washable.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small wool wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/wool2-round.png?w=80&h=80&blur=500&q=10" alt="Wool" class="rdthumb">
            <p><strong>Natural New Zealand Wool</strong><span>Wool lining wicks moisture, regulates temperature, and prevents odor.</span><span class="mobile">Wicks moisture and prevents odor.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small airflux wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/airflux-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/airflux-round.png?w=80&h=80&blur=500&q=10" alt="Airflow Foam" class="rdthumb">
            <p><strong>Ventilated Airflow Zone</strong><span>Allows your mattress to breathe so that you stay cool and comfortable throughout the night.</span><span class="mobile">Allows mattress breathability to stay cool.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small gelfoam wow fadeIn" data-wow-duration="1s" data-wow-delay="2.3s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/gelmf-round.png?w=80&h=80&blur=500&q=10" alt="Gel Memory Foam" class="rdthumb">
            <p><strong>Gel Memory Foam</strong><span>Conforms to your body for greater pressure relief and eliminates motion transfer while keeping you cool.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <div class="matTip small base wow fadeIn" data-wow-duration="1s" data-wow-delay="2.5s">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/basefoam-round.png?w=80&h=80" src="https://s3-brentwoodhome.imgix.net/products/cypress/basefoam-round.png?w=80&h=80&blur=500&q=10" alt="Base Foam" class="rdthumb">
            <p><strong> Support Base Foam</strong><span>A solid support base absorbs your weight to dampen motion transfer and prevent noise.</span></p>
            <div class="arrow">
                <div class="pointer"></div>
            </div>
        </div>
        <picture class="wow fadeIn" data-wow-duration="1s">
            <source media="(max-width: 480px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg?w=480&ch=Width,DPR">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg">
            <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo_13in_internal.jpg?blur=500&q=10" alt="Bamboo 13 mattress">
        </picture>
    </div>
</div>

<div class="container section side">
    <h2 class="text-center margTB7050"></h2>
    <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-6">
            <div class="side bamboo charcoal">
                <div class="top">
                    <p class="h3">Cypress Bamboo 11"</p>
                    <h4></h4>
                    <div class="thumb2">
                        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo11overview.jpg?w=375" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo11overview.jpg?w=375&blur=500&q=10" alt="Cypress Bamboo 11 Medium-Firm" class="rdrectthumb">
                    </div>
                </div>
                <div class="content bamboo">
                    <h4><i>Medium-firm feel</i></h4>
                    <p class="text-left">
                        The <strong>11-inch Cypress</strong> model features 2.5 inches of gel infused memory foam and 6.5 inches of base foam. It delivers a conforming, cool, medium-firm sleep experience. <strong>Great for back and stomach sleepers that occasionally sleep on their sides.</strong>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="side bamboo latex">
                <div class="top">
                    <p class="h3">Cypress Bamboo 13"</p>
                    <h4></h4>
                    <div class="thumb2">
                        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo13overview.jpg?w=375" src="https://s3-brentwoodhome.imgix.net/products/cypress/bamboo13overview.jpg?w=375&blur=500&q=10" alt="Cypress Bamboo 13 Medium" class="rdrectthumb">
                    </div>
                </div>
                <div class="content bamboo">
                    <h4><i>Medium feel</i></h4>
                    <p class="text-left">
                        The <strong>13-inch Cypress</strong> model uses 3.5 inches of gel infused memory foam and 7.5 inches of base foam. It delivers deeper contouring support, relief from pressure points and a softer sleep experience. <strong>Great for side, back, and stomach sleepers or partners with different preferences.</strong>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="container section margTB7050">
    <h2 class="text-center margTB7050 main">Features everything you’re looking for in a high-quality mattress</h2>
    <div class="row warranties margTB30">
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Gel Memory Foam">
            <p>Gel<br> Memory Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
            <p>Motion<br>Isolation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
            <p>CertiPUR-US&reg;<br>Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
            <p>Pressure<br>Relieving</p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img loading="lazy" data-src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
            <p>Eco-friendly</p>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0817.jpg?rect=0,598,7195,4003&w=1140" alt="Laying on the Bamboo Mattress">
    </picture>
</div>

<div class="container section text-center">
    <div class="row">
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0565.jpg?w=555" alt="Reading on Bamboo Mattress">
            </picture>
        </div>
        <div class="col-xs-6">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?h=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0982.jpg?w=555" alt="Seating on Bamboo Mattress">
            </picture>
        </div>
    </div>
</div>

<div class="container section text-center">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?h=480&ch=Width,DPR&q=55">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?w=1140">
        <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0600.jpg?w=1140" alt="Front view Bamboo Mattress">
    </picture>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <!--<picture>
<source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
<source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555">
<img src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555" alt="">
</picture>-->
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/factory2.jpg?&w=555&q=55">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/factory2.jpg?w=555&q=55" alt="Handcrafted in Southern California">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Handcrafted in Southern California</h2>
                <p>All Brentwood Home products are inspired by a passion for California living, the state’s unparalleled natural beauty and strict quality standards for manufacturing with respect to impact on health and the environment. This passion comes through in every detail of each product. All of our mattresses are handcrafted in our factory located just outside of Los Angeles.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=368,0,998,998&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_Bare_2.jpg?rect=323,194,806,1229&w=555" alt="Eco-friendly, non-toxic materials">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h2>Eco-friendly,<br> non-toxic materials</h2>
                <p>The luxurious viscose rayon cover is actually made from naturally regenerated and sustainable bamboo wood cellulose. The natural JOMA® New Zealand Wool, which keeps you cool and dry, is even <strong>OEKO-TEX Standard 100 certified</strong>. And the gel infused memory foam, which helps draw heat away from the body, is <strong>Certi-PUR-US® certified</strong> to be free from harmful chemicals. No toxic flame retardants are used.</p>
                <p class="text-center"><img src="{{ 'certipur-badge.png' | asset_url }}" alt="CertiPUR-US" style="max-width: 75px; width: 75px;margin-top: 30px;" >&nbsp;&nbsp;<img src="{{ 'logo-oeko-tex.png' | asset_url }}" alt="Oeko-Tex" style="max-width: 75px; width: 75px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=1200,440,3500,4310&w=480&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=2608,0,2693,4061&w=555">
                <img loading="lazy" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/Bamboo_0501.jpg?rect=2608,0,2693,4061&w=555" alt="Greenguard Gold Certified Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV">
            <div>
                <h2>Greenguard Gold Certified Mattress</h2>
                <p>The {{ product.title }} is completely <strong>GREENGUARD Gold Certified</strong> by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates. <a href="https://intercom.help/brentwood-home-b4d83ef0a14f/health-safety-and-sustainability/are-your-mattresses-greenguard-gold-certified">View Certificate</a>.</p>
                <p class="text-center"><img src="{{ 'logo-greenguard-2.svg' | asset_url }}" alt="Greenguard Gold Certified Mattress" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>
{% assign isLastSectionLeft = true %}