{% assign producthandle = product.handle %}

<style>
    /*.abtest-control{
        
    }
    .abtest-a{
        
    }
    div.addonmodule .column.img{
        display: none;
    }
    div.addonmodule .column.copy{
        margin-left: 40px;
    }
    .abtest-b{

    }*/
</style>

{% if product.tags contains "bundle-cedarluxe-topper" %}
    <div class="addonmodule clearfix">
        <div class="leftblock">
            <div class="column input">
            <div class="squaredOne">
                <input type="checkbox" value="none" id="luxetopper-bundle" name="luxetopper-bundle" />
                <label for="luxetopper-bundle"></label>
            </div>
            </div>
            <div class="column img">
                <img data-src="https://brentwood-home-products.imgix.net/cedarluxe__00009_Brentwood-Home---Cedar-Mattress-_web_-140_9357ebc1-87a2-4a67-bf16-0008e3e45d40.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=605,0,1440,1440" class="lazy" src="https://brentwood-home-products.imgix.net/cedarluxe__00009_Brentwood-Home---Cedar-Mattress-_web_-140_9357ebc1-87a2-4a67-bf16-0008e3e45d40.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=605,0,1440,1440" alt="Include a topper">
            </div>
            <div class="column copy">
                <p class="text-left title"><a href="#" data-toggle="modal" data-target="#cedartoppermodal">Organic Natural Luxe Topper&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                <p class="text-left">
                    <strong>Bundle & save $100!</strong> <span class="hidden-xs">Add three inches of comfort. Organic latex + organic cotton cover for a softer, gentle-firm feel.</span>
                </p>
            </div>
        </div>
        <div class="column addonprice">
            <p class="text-right">
                <strong id="cedarluxe-topper-price"></strong>
            </p>
        </div>
    </div>
{% endif %}

{% if product.tags contains "bundle-pillows" %}
    <label class="selectLabel bundle">Add matching pillow(s) & save</label>
    <div class="addonmodule clearfix">
        <div class="leftblock">
            <div class="column input">
                <div class="squaredOne">
                    <input type="checkbox" value="none" id="pillow-bundle" name="pillow-bundle" />
                    <label for="pillow-bundle"></label>
                </div>
            </div>
            <div class="column img">
                {% case producthandle %}
                    {% when "crystal-cove-mattress" %}
                        <img data-src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Add pillows and save">
                    {% when "oceano-mattress" %}
                        <img data-src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Add pillows and save">
                {% endcase %}
            </div>
            <div class="column copy">
                {% case producthandle %}
                    {% when "crystal-cove-mattress" %}
                        <p class="text-left title"><a href="#" data-toggle="modal" data-target="#crystalpillowmodal">Activated Charcoal Pillow&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                        <p class="text-left title qt"><strong></strong></p>
                        <p class="text-left hidden-xs">
                            Restorative support for a deeper night's sleep.
                        </p>
                    {% when "oceano-mattress" %}
                        <p class="text-left title"><a href="#" data-toggle="modal" data-target="#oceanopillowmodal">Gel Memory Foam Pillow&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                        <p class="text-left title qt"><strong></strong></p>
                        <p class="text-left hidden-xs">
                            Adjustable gel memory foam pillow, soft, supportive and built to last.
                        </p>
                {% endcase %}

                
            </div>
        </div>
        <div class="column addonprice">
            <p class="text-right">
                <strong id="pillow-bundle-price"></strong>
            </p>
        </div>
    </div>
{% endif %}

{% if product.tags contains "bundle-foundation" %}
    <div class="addonmodule clearfix">
        <div class="leftblock">
            <div class="column input">
                <div class="squaredOne">
                    <input type="checkbox" value="none" id="foundation" name="foundation" />
                    <label for="foundation"></label>
                </div>
            </div>
            <div class="column img">
                {% case producthandle %}
                {% when "cedar-natural-luxe-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "cypress-bamboo-gel-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "oceano-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-oceano.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-oceano.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "cypress-memory-foam-mattress" %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "crystal-cove-mattress" %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% else %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% endcase %}
            </div>
            <div class="column copy">
                <p class="text-left title"><a href="#" data-toggle="modal" data-target="#foundationmodal">Easy Foundation&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                <p class="text-left hidden-xs">
                    Minimalist design & tool-free assembly.
                </p>
            </div>
        </div>
        <div class="column addonprice">
            <p class="text-right">
                <strong id="easy-foundation-price"></strong>
            </p>
        </div>
    </div>
{% endif %}

{% if product.tags contains "bundle-adjustable" %}
<label class="selectLabel bundle">Add an Adjustable Base</label>
<div class="addonmodule clearfix">
    <div class="leftblock">
        <div class="column input">
            <div class="squaredOne">
                <input type="checkbox" value="none" id="adjustable-bundle" name="adjustable-bundle" />
                <label for="adjustable-bundle"></label>
            </div>
        </div>
        <div class="column img">
            <img data-src="" class="lazy" src="https://brentwood-home-products.imgix.net/2E4A4243.jpg?rect=600,170,1747,1747&ch=Width,DPR&w=115&dpr=1&fit=clip" alt=">Add Adjustable Base & save">
        </div>
        <div class="column copy">
            <p class="text-left title"><a href="#" data-toggle="modal" data-target="#adjustablemodal">Easy Adjustable Base&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
            <p class="text-left hidden-xs">
                Customize your sleep positions.
            </p>
        </div>
    </div>
    <div class="column addonprice">
        <p class="text-right">
            <strong id="adjustable-bundle-price"></strong>
        </p>
    </div>
</div>
{% endif %}

{% if product.tags contains "bundle-adj-found" %}
<div class="clearfix">
    <label for="product-selectors" class="selectLabel set">Complete Your Set</label>
    <div class="addonmodule clearfix">
        <div class="leftblock">
            <div class="column input">
                <div class="squaredOne">
                    <input type="checkbox" value="none" id="foundation" name="foundation" />
                    <label for="foundation"></label>
                </div>
            </div>
            <div class="column img">
                {% case producthandle %}
                {% when "cedar-natural-luxe-mattress" %}
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "cypress-bamboo-gel-mattress" %}
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "oceano-mattress" %}
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-oceano.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "cypress-memory-foam-mattress" %}
                <img class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "crystal-cove-mattress" %}
                <img class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% when "hybrid-latex-mattress" %}
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% else %}
                <img class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=115&dpr=1&fit=clip&rect=249,458,1458,1458" alt="Include a foundation">
                {% endcase %}
            </div>
            <div class="column copy">
                <p class="text-left title"><a href="#" data-toggle="modal" data-target="#foundationmodal">Easy Foundation&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                <p class="text-left hidden-xs">
                    Minimalist design & tool-free assembly.
                </p>
            </div>
        </div>
        <div class="column addonprice">
            <p class="text-right">
                <strong id="easy-foundation-price"></strong>
            </p>
        </div>
    </div>

    <div class="addonmodule clearfix">
        <div class="leftblock">
            <!--<p class="text-center"><a href="#" data-toggle="modal" data-target="#adjustablemodal">Add an Adjustable <em class="glyphicon glyphicon-question-sign"></em></a></p>-->
            <div class="column input">
                <div class="squaredOne">
                    <input type="checkbox" value="none" id="adjustable-bundle" name="adjustable-bundle" />
                    <label for="adjustable-bundle"></label>
                </div>
            </div>
            <div class="column img">
                <img class="lazy" src="https://brentwood-home-products.imgix.net/2E4A4243.jpg?rect=600,170,1747,1747&ch=Width,DPR&w=115&dpr=1&fit=clip" alt=">Add Adjustable Base">
            </div>
            <div class="column copy">
                <p class="text-left title"><a href="#" data-toggle="modal" data-target="#adjustablemodal">Easy Adjustable Base&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
                <p class="text-left hidden-xs">
                    Customize your sleep positions.
                    <!-- <strong>Limited time: Bundle and save $50</strong> -->
                </p>
            </div>
        </div>
        <div class="column addonprice">
            <p class="text-right">
                <strong id="adjustable-bundle-price"> <span style="text-decoration: line-through"></span></strong>
            </p>
        </div>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="adjustablemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">The Easy Adjustable Base </h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        <img data-src="https://brentwood-home-2.imgix.net/adjustablebase-zeroG.jpg?w=640" class="lazy" src="https://brentwood-home-2.imgix.net/adjustablebase-zeroG.jpg?w=640&blur=500&q=10" alt=">Add Adjustable Base">
                    </div>
                    <div class="copy">
                        <p class="text-center sub">100-night trial | 20-year warranty</p>
                        <p>
                            Our customizable Adjustable Bed Frame quietly eases into the most comfortable position for your body.
                        </p>
                        <ul>
                            <li>Wireless remote with flashlight</li>
                            <li>Upper body massage</li>
                            <li>Reading, anti-snore, and zero gravity presets</li>
                            <li>Ambient LED light</li>
                            <li>Two USB ports to charge your devices</li>
                            <li>Sync each side to work together or individually</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/products/adjustable-bed-frame" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="foundationmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">The Easy Foundation</h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        {% case producthandle %}
                {% when "cedar-natural-luxe-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                {% when "cypress-bamboo-gel-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                {% when "oceano-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-oceano.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-oceano.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                {% when "cypress-memory-foam-mattress" %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                {% when "crystal-cove-mattress" %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">

                {% when "hybrid-latex-mattress" %}
                <img data-src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://s3-brentwoodhome.imgix.net/products/foundation/foundation-color-cedar.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                
                {% else %}
                <img data-src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip" class="lazy" src="https://brentwood-home-products.imgix.net/Brentwood_Home_-_Foundation_Web_-1.jpg?ch=Width,DPR&w=640&dpr=1&fit=clip&blur=500&q=10" alt="Include a foundation">
                {% endcase %}
                    </div>
                    <div class="copy">
                        <p class="text-center sub">1-year trial | 10-year warranty</p>
                        <p>
                            Our Easy Foundation was designed to provide the perfect support structure to accompany any Brentwood Home mattress. 
                        </p>
                        <ul>
                            <li>Comes in 3 different colors to match your Brentwood Home mattress</li>
                            <li>Tool-free assembly</li>
                            <li>Spruce, Pine, Fir (SPF) high-grade wood frame and slats</li>
                            <li>Woven exterior upholstery</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/products/foundation" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cedartoppermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Organic Natural Luxe Topper</h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        <img data-src="https://brentwood-home-products.imgix.net/cedarluxe__0009_Brentwood-Home---Cedar-Mattress-_web_-140_2c31498b-ac0d-4b01-b7f9-12b70efa72c1.jpg?w=640" class="lazy" src="https://brentwood-home-products.imgix.net/cedarluxe__0009_Brentwood-Home---Cedar-Mattress-_web_-140_2c31498b-ac0d-4b01-b7f9-12b70efa72c1.jpg?w=640&blur=500&q=10" alt=">Cedar Natural Luxe Latex Topper">
                    </div>
                    <div class="copy">
                        <p class="text-center sub">1-year trial | 10-year warranty</p>
                        <p>
                            Add additional plush comfort, featuring a layer of GOLS organic certified latex and a delicate GOTS organic certified cotton cover.
                        </p>
                        <ul>
                            <li>GOLS organic certified latex</li>
                            <li>Adds some plushness to your mattress</li>
                            <li>Naturally antimicrobial with absolutely no pesticides, toxins, or harmful chemicals</li>
                            <li>GREENGUARD GOLD CERTIFIED for low emissions</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/products/cedar-natural-luxe-topper" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="oceanopillowmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Oceano Gel Memory Foam Pillow</h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        <img data-src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?w=640" class="lazy" src="https://brentwood-home-products.imgix.net/OceanoPillow_0030_Crop_0001_OceanoPillow_0152.jpg?w=640&blur=500&q=10" alt="Oceano Gel Memory Foam Pillow">


                    </div>
                    <div class="copy">
                        <p class="text-center sub">30-day trial | 1-year warranty</p>
                        <p>
                            Our Oceano Pillows were designed with the same comfort and eco-consciousness as our Oceano Mattress so you have peace of mind and restful nights.<br>
                            <strong>Bundle: Twin & Twin XL mattresses come with 1 standard size pillow. Full size: 2 standard size pillows. Queen mattress: 2 queen size pillows. King, Cal King & Split King: 2 king size pillows.</strong>
                        </p>
                        <ul>
                            <li>Tencel stretch-knit zippered cover with an inner white liner</li>
                            <li>Zipper makes it easy to add or remove fill to adjust to the perfect size and firmness for your needs.</li>
                            <li>Free of flame retardants, formaldehyde, mercury, lead, heavy metals, phthalates and ozone depleters.</li>
                            <li>Handmade in the USA</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/products/oceano-pillow" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crystalpillowmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crystal Cove Activated Charcoal Pillow</h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        <img data-src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?w=640" class="lazy" src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?w=640&blur=500&q=10" alt="Oceano Gel Memory Foam Pillow">
                    </div>
                    <div class="copy">
                        <p class="text-center sub">30-day trial | 1-year warranty</p>
                        <p>
                            Mindfully designed for the ultimate night of healing sleep, our Crystal Cove Pillows feature activated charcoal-infused memory foam for a luxury plush feel that is naturally cooling. Because no wool is used, it's completely vegan. GREENGUARD Gold Certified.<br>
                            <strong>Bundle: Twin & Twin XL mattresses come with 1 standard size pillow. Full size: 2 standard size pillows. Queen mattress: 2 queen size pillows. King, Cal King & Split King: 2 king size pillows.</strong>
                        </p>
                        <ul>
                            <li>Great for wellness-seekers of all ages, ideal for restorative sleep</li>
                            <li>Cooling activated charcoal-infused memory foam fill</li>
                            <li>Certi-PUR-US® certified memory foam is made without ozone depleters, PBDE flame retardants, mercury, lead, heavy metals, formaldehyde or phthalates</li>
                            <li>GREENGUARD GOLD CERTIFIED for low emissions</li>
                            <li>Handmade in the USA</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/products/crystal-cove-pillow" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if product.tags contains "bundle-wedge-cover" %}
<label class="selectLabel bundle">Add a replacement cover</label>
<div class="addonmodule clearfix">
    <div class="leftblock">
        <div class="column input">
            <div class="squaredOne">
                <input type="checkbox" value="none" id="replacement-wedge-cover-bundle" name="replacement-wedge-cover-bundle" />
                <label for="replacement-wedge-cover-bundle"></label>
            </div>
        </div>
        <div class="column img">
            {% case producthandle %}
                {% when "oceano-wedge-pillow" %}
                    <img class="lazy" src="https://brentwood-home-products.imgix.net/bwh_oceanowedgecover_1a.jpg?ch=Width,DPR&w=115&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" alt="Include a foundation">
                {% when "crystal-cove-wedge-pillow" %}
                    <img class="lazy" src="https://brentwood-home-products.imgix.net/CC_Details_012.jpg?w=115&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" alt="Include a foundation">
                {% when "therapeutic-foam-bed-wedge" %}
                    <img class="lazy" src="https://brentwood-home-products.imgix.net/01_BWH_Bamboo_Pillow.jpg?w=115&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" alt="Include a foundation">
                {% when "cypress-memory-foam-mattress" %}
                    <img class="lazy" src="https://brentwood-home-products.imgix.net/bwh_oceanowedgecover_1a.jpg?ch=Width,DPR&w=115&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" alt="Include a foundation">
                {% when "whitney-gel-memory-foam-wedge-pillow" %}
                    <img class="lazy" src="https://brentwood-home-products.imgix.net/Image7.jpg?w=115&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" alt="Include a foundation">
                {% endcase %}
        </div>
        <div class="column copy">
            <p class="text-left title"><a href="#" data-toggle="modal" data-target="#replacementwedgemodal">Wedge Pillow Cover&nbsp;<em class="glyphicon glyphicon-question-sign"></em></a></p>
            <p class="text-left hidden-xs">
                Get a spare cover for in-between wash.
            </p>
        </div>
    </div>
    <div class="column addonprice">
        <p class="text-right">
            <strong id="replacement-wedge-cover-price"></strong>
        </p>
    </div>
</div>
<!-- WEDGE COVER MODAL -->
<div class="modal fade" id="replacementwedgemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Replacement Wedge Pillow Covers</h4>
                </div>
                <div class="modal-body">
                    <div class="img">
                        <img data-src="https://brentwood-home-products.imgix.net/bwh_wedgecover_all.jpg?w=640&auto=compress,format&q=65&dpi=72&fit=crop&dpr=1&fp-x=0.5&fp-y=0.5&fp-z=1&fp-debug=false" class="lazy" src="https://brentwood-home-products.imgix.net/bwh_wedgecover_all.jpg?w=640&blur=500&q=10" alt="Wedge pillow replacement cover">
                    </div>
                    <div class="copy">
                        <p class="text-center sub">30-day trial | 1-year warranty</p>
                        <p>
                            Need a refresh? Give your Brentwood Home Wedge Pillow a new look with our replacement covers.
                        </p>
                        <ul>
                            <li>Fits all our wedge pillows</li>
                            <li>Hand-made in Los Angeles</li>
                        </ul>
                    </div>
                    <div class="modal-bottom-cta">
                        <p class="text-center"><a href="/replacement-wedge-pillow-covers" class="more">more info</a></p>
                        <p class="text-center"><a type="button" class="cta2" data-dismiss="modal" aria-label="Close">CLOSE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}