<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
           <div class="badge_price">
               <p class="text-center">
                   <span>from</span>
                   $399
               </p>
           </div>
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_stretchingonbed.jpg?rect=820,200,1307,1307&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_stretchingonbed.jpg?rect=820,0,1307,1809&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_stretchingonbed.jpg?rect=820,0,1307,1809&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_stretchingonbed.jpg?rect=820,0,1307,1809&w=555" alt="A Better Memory Foam Mattress For Less">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>Simply the best sleep</h3>
                <h2>A Better Memory Foam Mattress For Less</h2>
                <p><strong>Redesigned for 2020, the new Cypress Memory Foam Mattress costs less than the competition while ensuring greater comfort and quality.</strong> Assembled in our own Los Angeles factory, the cover is a luxurious soft knit that breathes effortlessly. The CertiPUR-US® certified memory form is infused with charcoal, supporting your body’s natural curves and relieving pressure. It’s available in classic or luxury heights and an all-foam or hybrid option with springs. It’s Greenguard Gold Certified. Plus, it can be paired with an adjustable base — at prices that <strong>start from $998 for a complete set!</strong>
                </p>
                <p class="text-center"><img src="https://brentwood-home-2.imgix.net/logo-certipur-us.jpg?w=110" alt="CertiPUR-US® certified" style="margin-top: 30px;"></p>
            </div>
        </div>
    </div>
</div>

<div class="container section mattress19_cutout">
    <div class="inside">
        <div class="beautiful">
            <h2 class="text-center">Beautiful Inside&nbsp;&amp;&nbsp;Out</h2>
        </div>
        <picture>
            <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_build.jpg?w=768&rect=480,0,1920,1920&ch=Width,DPR&q=55">
            <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_build.jpg?w=768ch=Width,DPR&q=55">
            <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_build.jpg?w=1280">
            <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_build.jpg?w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_build.jpg?w=1280" alt="{{ product.title }} construction">
        </picture>
    </div>
    <br>
    <h2 class="text-center">All-foam or Hybrid</h2>
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-5 col-md-offset-1">
            <p class="h3 subs text-left" style="text-align: left;">charcoal-infused foam for cooling</p>
            <p class="line-right-a"><strong>Charcoal is full of beneficial properties that are perfect for mattresses, like temperature and moisture control.</strong> Plus, charcoal is completely natural. The Cypress memory foam mattress with BioFoam<sup>&reg;</sup> is charcoal-infused, so while <strong>the bed has plush contouring comfort, it is also super breathable.</strong> The charcoal-infused foam works hard to move moisture and heat away from your body, so all you do is stay dry, cool, and comfortable — all night long.
            </p>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5">
            <p class="h3 subs text-left" style="text-align: left;">hybrid for more support &amp; breathability</p>
            <p class="line-right-b">Want extra firmness and breathability? <strong>Our hybrid upgrade includes all the benefits of the memory foam mattress plus our innerspring unit with coil support.</strong> Precision crafted, pocketed coils effortlessly distribute your body’s weight, absorb partner movement, and relieve aching pressure points, while structurally reinforcing the perimeter to eliminate that “roll-off-the-edge” feeling.</p>
        </div>
    </div>
    <br><br>
    <div id="feature1"></div>
    <h2 class="text-center">Classic 11" or Luxe 13"</h2>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <p class="h3 subs">Classic 11" All-Foam</p>
                </div>
                <div class="col-xs-6">
                    <p class="h3 subs">Classic 11" Hybrid</p>
                </div>
            </div>
            <div class="text-center">
                <picture>
                    <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550&ch=Width,DPR&q=55">
                    <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550">
                    <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-classic-sketch.png?w=550" alt="{{ product.title }} construction">
                </picture>
            </div>
            <br><br>
            <p class="line-right-a">The Cypress memory foam mattress with BioFoam<sup>&reg;</sup> comes in two heights — 11 and 13 inches. <strong>The 11-inch-thick Classic mattress has ample support and is suitable for most sleepers. Available in all-foam or hybrid.</strong></p>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <p class="h3 subs">Luxe 13" All-Foam</p>
                </div>
                <div class="col-xs-6">
                    <p class="h3 subs">Luxe 13" Hybrid</p>
                </div>
            </div>
            <div class="text-center">
                <picture>
                    <source media="(max-width: 520px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550&ch=Width,DPR&q=55">
                    <source media="(min-width: 521px) and (max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550=Width,DPR&q=55">
                    <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550">
                    <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/cypressmattress-luxe-sketch.png?w=550" alt="{{ product.title }} construction">
                </picture>
            </div>
            <br><br>
            <p class="line-right-b">Upgrade to the 13-inch Luxe version for increased pressure relief and plush comfort. It’s <strong>ideal for couples, heavier individuals, or side-sleepers</strong> or others who need a thicker mattress with more support from the <strong>two extra inches of charcoal-infused memory foam.</strong></p>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row warranties margTB30">
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
            <img class="lazy" src="https://brentwood-home.imgix.net/iconv2-gelmemoryfoam.svg" alt="Gel Memory Foam">
            <p>Charcoal-Infused<br>Foam</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img class="lazy" src="https://brentwood-home.imgix.net/iconv2-motionisolation.svg" alt="Motion Isolation">
            <p>Motion<br>Isolation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img class="lazy" src="https://brentwood-home.imgix.net/iconv2-certipurus.svg" alt="CertiPUR-US&reg; Foam">
            <p>CertiPUR-US&reg;<br>Certified</p>
        </div>
        <div class="col-xs-6 col-sm-2">
            <img class="lazy" src="https://brentwood-home.imgix.net/iconv2-pressurerelieving.svg" alt="Pressure Relieving">
            <p>Pressure<br>Relieving</p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="lazy" src="https://brentwood-home.imgix.net/iconv2-ecofriendly.svg" alt="Eco-friendly">
            <p>Eco-friendly</p>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center col-sm-push-6 wow fadeInLeft">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_adjustablereading.jpg?rect=0,925,2880,2880&w=768&ch=Width,DPR&q=55&flip=h">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_adjustablereading.jpg?rect=181,316,2701,3738&w=555&flip=h">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_adjustablereading.jpg?rect=181,316,2701,3738&w=555&blur=300&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_adjustablereading.jpg?rect=181,316,2701,3738&w=555" alt="Adjustable Frame Ready">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow col-sm-pull-6 fadeInRight">
            <div>
                <h3>make it personal</h3>
                <h2>Add an Adjustable Bed Frame</h2>
                <p><strong>Pair your Cypress Memory Foam Mattress with our <a href="/products/adjustable-bed-frame">Adjustable Bed Frame</a>.</strong> Its design allows custom positioning for both the upper and lower body, providing the utmost personalized comfort while in bed. A wireless remote control also has presets of the three most common positions — reading, anti-snore, and zero gravity. Just tap the button and the bed will automatically reposition to the desired setting.  
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 text-center wow fadeInRight">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_frontcropped.jpg?rect=0,330,2880,2880&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_frontcropped.jpg?rect=0,330,2880,3985&w=555">
                <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_frontcropped.jpg?rect=0,330,2880,3985&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_frontcropped.jpg?rect=0,330,2880,3985&w=555" alt="Greenguard Gold Certified Mattress">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 flexV wow fadeInLeft">
            <div>
                <h3>CERTIFIED FOR LOW EMISSIONS</h3>
                <h2>Greenguard Gold Certified Mattress</h2>
                <p>The Cypress Memory Foam Mattress is completely GREENGUARD Gold Certified by UL Environment. It means that it has been scientifically tested in environmental chambers to meet some of the world’s most rigorous, third-party emissions standards for prolonged chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates.
                </p>
                <p class="text-center"><img src="{{ 'greenguard-logo-full.svg' | asset_url }}" alt="Greenguard Gold Certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
            </div>
        </div>
    </div>
</div>
<div id="bio"></div>
<div class="container section">
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <picture>
                <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/affordable-memory-foam-mattress-corner-cypress.jpg?rect=0,220,1920,1920&w=768&ch=Width,DPR&q=55">
                <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/affordable-memory-foam-mattress-corner-cypress.jpg?rect=0,220,1920,2657&w=555">
                <img class="lazy" loading="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/affordable-memory-foam-mattress-corner-cypress.jpg?rect=0,220,1920,2657&w=555&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/affordable-memory-foam-mattress-corner-cypress.jpg?rect=0,220,1920,2657&w=555" alt="Memory Foam with Plant-Based BioFoam&reg;">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
            <div>
                <h3>Eco-friendly &amp; supportive</h3>
                <h2>Memory Foam with<br>Plant-Based BioFoam<sup>&reg;</sup></h2>
                <p>BioFoam<sup>&reg;</sup> is a polyurethane foam that adds a modest amount of soy-based polypol, the maximum possible, without altering the traditional cushioning feeling of memory foam. <strong>We believe memory foam with BioFoam<sup>&reg;</sup> is a better alternative, a positive step forward for reducing the environmental impact of memory foam, without sacrificing luxurious, supportive comfort.</strong> Of course, our memory foam with BioFoam<sup>&reg;</sup> is free of chlorofluorocarbon (CFCs) and Polybrominated Diphenyl Ethers (PBDEs), which can be harmful to human and environmental health. A CertiPUR-US certification validates our BioFoam<sup>&reg;</sup> has low indoor emissions and is made without ozone-depleters, formaldehyde, lead, mercury, and other harmful materials.</p>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_funheadphones.jpg?rect=829,0,1708,1708&w=768">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_funheadphones.jpg?rect=682,289,2087,1277&w=1480">
        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_funheadphones.jpg?rect=682,289,2087,1277&w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_funheadphones.jpg?rect=682,289,2087,1277&w=1480" alt="Woman listening to music">
    </picture>
</div>
<div class="container section">
    <picture>
        <source media="(max-width: 767px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_sitting.jpg?rect=0,470,1447,1447&w=768">
        <source media="(min-width: 768px)" data-srcset="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_sitting.jpg?rect=143,165,2716,1658&w=1480">
        <img class="lazy" src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_sitting.jpg?rect=143,165,2716,1658&w=1280&blur=500&q=10" data-src="https://s3-brentwoodhome.imgix.net/products/cypress/bwh_cypressmattress_sitting.jpg?rect=143,165,2716,1658&w=1480" alt="Woman sitting eating cookies">
    </picture>
</div>
{% assign isLastSectionLeft = false %}
