
<style type="text/css">
	#vtail{
	padding: 10px 15px 5px 15px;
    border: 1px solid #666;
    border-radius: 6px;
    margin-top: 25px;
    text-align: center;
    background-color: white;
	}
	#vtail UL{
		margin: 0;
	}
	#vtail LI{
		list-style: none;
		text-align: left;
	}
	#vtail LI A{
		font-size: 13px;
		color: #38414F;
		font-weight: bold;
		font-family: AvenirLTStd-Roman, 'Helvetica Neue', helvetica, sans-serif;
	}
	#vtail LI A:HOVER{
		text-decoration: underline;
	}
	#vtail LI IMG{
		width: 55px;
	}
	#vtail LI.img{
		width: 55px;
		float: left;
	}
	#vtail LI.book{
		margin-left: 75px;
	}
	#vtail LI.book P{
		line-height: 18px;
		margin-bottom: 0;
		font-size: 14px;
		color: #4a4a4a;
	}
</style>
<div id="vtail">
	<ul>
		<li class="img"><a href="https://calendly.com/brentwood-vx/video-experience" onclick="return false;"><img src="https://brentwood-home-2.imgix.net/vtail-tracy.png" alt="Book an appointment"></a></li>
		<li class="book">
			<p><strong style="">NEW!</strong> Schedule a free sales appointment via Zoom<sup>&reg;</sup> video to explore our products in a real showroom.</p>
			<a href="https://calendly.com/brentwood-vx/video-experience" onclick="return false;"><em class="glyphicon glyphicon-calendar"></em> BOOK AN APPOINTMENT</a>
		</li>
	</ul>
</div>
