<br>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Oops, the page you are looking for doesn't exist... but check out our best sellers:</h1><br><br>
    </div>
</div>

<div class="row" id="hpcategories">
    <div class="col-xs-12 col-sm-6">
        <div class="bhmauve">
            <a href="/products/oceano-mattress"><img src="https://brentwood-home-products.imgix.net/brentwood_hybrid_latex_mattress2.jpg?w=555" alt="Luxurious Mattresses"></a>
            <div class="ctaBloc">
                <h2>Luxurious Mattresses</h2>
                <p class="text-center whitetxt">Experience the best sleep of your life, delivered to your door</p>
                <p class="text-center"><a href="/products/oceano-mattress" class="cta2 solid text-center white">Explore the mattresses</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="bhblue">
            <a href="/collections/luxury-memory-foam-pillows"><img src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?w=555" alt="Natural Pillows"></a>
            <div class="ctaBloc">
                <h2>Natural Pillows</h2>
                <p class="text-center whitetxt">Sleep naturally</p>
                <p class="text-center"><a href="/collections/luxury-memory-foam-pillows" class="cta2 solid text-center white">Explore our pillows</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="bhlightgreen">
            <a href="/collections/crystal-cove-yoga"><img src="https://brentwood-home-products.imgix.net/crystalC-pillow00002.jpg?w=555" alt="Crystal Cove Yoga"></a>
            <div class="ctaBloc">
                <h2>Crystal Cove Yoga</h2>
                <p class="text-center whitetxt">Meditation pillows & more</p>
                <p class="text-center"><a href="/collections/crystal-cove-yoga" class="cta2 solid text-center white">Explore the collection</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="bhgrey">
            <a href="/collections/pets"><img src="https://brentwood-home-products.imgix.net/Runyon_Lifestyle_001_0e53b754-43af-40e7-8d0b-3463a5b980e7.jpg?w=555" alt="Pet Beds"></a>
            <div class="ctaBloc">
                <h2>Pet Beds</h2>
                <p class="text-center whitetxt">High quality, non-toxic materials for your furry friend</p>
                <p class="text-center"><a href="/collections/pets" class="cta2 solid text-center white">Explore the pet beds</a></p>
            </div>
        </div>
    </div>
</div>
