<br>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Oops, the page you are looking for doesn't exist... but check out our best sellers:</h1><br><br>
    </div>
</div>

<div class="row" id="hpcategories">
    <div class="col-xs-12 col-sm-6">
        <div class="bhmauve">
            <a href="/products/oceano-mattress" title="Ocenao Mattress"><img src="{{ 'hp-restore-wide.jpg' | asset_url }}" alt=""></a>
            <div class="ctaBloc">
                <h2>Oceano Mattress</h2>
                <p class="text-center whitetxt">Experience the best sleep of your life, delivered to your door</p>
                <p class="text-center"><a href="/products/oceano-mattress" class="cta2 solid text-center white">Explore the mattress</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="bhblue">
            <a href="/products/pacifica-pillow" title="Ocenao Mattress"><img src="{{ 'hp-refresh-wide.jpg' | asset_url }}" alt=""></a>
            <div class="ctaBloc">
                <h2>Pacifica Pillow</h2>
                <p class="text-center whitetxt">Sleep naturally</p>
                <p class="text-center"><a href="/products/pacifica-pillow" class="cta2 solid text-center white">Explore the pillow</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="bhlightgreen">
            <a href="/pages/crystal-cove-collection" title="Ocenao Mattress"><img src="{{ 'hp-medotate-wide.jpg' | asset_url }}" alt=""></a>
            <div class="ctaBloc">
                <h2>Crystal Cove</h2>
                <p class="text-center whitetxt">Meditation pillows & more</p>
                <p class="text-center"><a href="/pages/crystal-cove-collection" class="cta2 solid text-center white">Explore the collection</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="bhgrey">
            <a href="/collections/pets" title="Ocenao Mattress"><img src="{{ 'hp-restore-wide.jpg' | asset_url }}" alt=""></a>
            <div class="ctaBloc">
                <h2>Pet Beds</h2>
                <p class="text-center whitetxt">High quality, non-toxic materials for your furry friend</p>
                <p class="text-center"><a href="/collections/pets" class="cta2 solid text-center white">Explore the pet beds</a></p>
            </div>
        </div>
    </div>
</div>
