{% assign product_per_page = 100 %}
{% include 'affirm-product' %}
<div class="row">
{% if settings.display_sidebar_categories %}
<div class=" col-md-12 col-sm-12 col-xs-12 col-main">
{%else%}
<div class="col-xs-12 col-main">
{% endif%}

{% paginate collection.products by product_per_page %}

{%comment%}
UNCOMMENT TO USE DEFAULT OPTIONS (UPLOADING IMAGE THROUGH SITE SETTINGS)
<header class="page-header">
    <div class="images">
    {% if settings.display_image_cat %}
        {{ 'image_category.jpg' | asset_url | img_tag }}
    {% endif %}
    </div>
{% if collection.description != ''  %}
    <div class="rte">
        {{ collection.description }}
    </div>
{% endif %}
</header>
{%endcomment%}

<div class="collection-list {{collection.handle}}-color">
    <div class="row">
<!--
        <div class="col-xs-12 col-md-8">
            <img src="{{ collection.image.src | collection_img_url: 'master'}}" class="img-responsive" alt="">
        </div>
-->
        <div class="col-xs-12 col-md-12 text-center">
            <h1></h1><br>
        </div>
    </div>
</div>

{% comment %}
Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}

{%comment%}{% include 'toolbar' %}{%endcomment%}

{% comment %}
Use class grid-uniform to have evenly sized columns clear
each other properly at each breakpoint.
{% endcomment %}

    <div class="products-grid">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                {%comment%}{% include 'collection-sidebar' %}{%endcomment%}
            </div>
            <div class="col-lg-10">
            {% if collection.products.size > 0 %}
                {% paginate collection.products by product_per_page %}
                    {% for product in collection.products %}
                        {% include 'product-grid-item-category' %}
                        {% include 'bold-product' with product, hide_action: 'skip' %}
                    {% endfor %}
                {% endpaginate %}
            {% else %}
            <p style="text-align: center;">There are no products in this collection.</p>
            {% endif %}
            </div>
        </div>
    </div>

{% if paginate.pages > 1 %}
<div class="padding">
    {% include 'pagination-page' %}
</div>
{% endif %}
{% endpaginate %}
</div>
</div>
    <script>
        mixpanel.track("Mattress Collection w Filters");
    </script>