<div class="home-slideshow">{% include 'homepage-flexslider' %}</div>
<div class="banner-features">
    <div class="text-center">NON-TOXIC | FREE SHIPPING | FREE RETURNS | 1-YEAR TRIAL | 0% APR AVAILABLE</div>
</div>
<div class="container sectionMarg50">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>California Ethos, Handmade in L.A.</h3>
            <p class="text-center">
                Since 1987, Brentwood Home has been handcrafting the finest luxury mattresses, pillows and bedding — thoughtfully made with non-toxic materials and natural elements — right here in our own Los Angeles factory. As designers, makers and artisans, we thrive by articulating the details that others ignore. Yet it is our “California ethos” that truly defines us; compelling us to craft beautiful sleep products that also promote healthy lifestyles and greater wellbeing.    
            </p>
            <p class="text-center"><a href="/pages/our-story" class="cta solid text-center">Our Story</a></p>
        </div>
    </div>
</div>

<div class="container one-year-trial flex sectionMarg50">
    <div class="row flex">
        <div class="col-xs-12 col-md-8 col-md-offset-2 flexV">
            <div>
                <h2 class="">1-Year Sleep Trial</h2>
                <p class="text-center">
                    <strong>Experiencing is believing, </strong>especially when it comes to our top-rated mattresses. Try your mattress for 365 days, risk-free, in the comfort of your home. Explore our amazing <a href="/pages/1-year-risk-free-mattress-trial" id="1yearHPv1">1 Year Sleep Trial Policy</a> for mattresses sold on our website.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="hpCategories">
    <div class="row">
        <div class="col-xs-12 text-center sectionHeader">
            <h4>CUSTOMER FAVORITES</h4>
            <p class="tk-aw-conqueror-didot title3">Our Most Popular</p>
        </div>
        <div class="col-xs-12 collection renew">
            <picture>
                <source media="(max-width: 767px)" srcset="https://brentwood-home.imgix.net/hp-renew-wide.jpg?w=768">
                <source media="(min-width: 768px)" srcset="https://brentwood-home.imgix.net/hp-renew-wide.jpg">
                <img src="https://brentwood-home.imgix.net/hp-renew-wide.jpg" alt="Crystal Cove Mattress">
            </picture>
            <div class="ctaBloc odd">
                <h2>Renew</h2>
                <p class="text-center"><a href="/products/crystal-cove-mattress" class="cta solid text-center">Crystal Cove Mattress</a></p>
                <h3 class="text-center">
                    ACTIVATED CHARCOAL<br>&amp; DUAL-SIDED DESIGN
                </h3>
            </div>
        </div>
        <div class="col-xs-12 collection restore">
            <picture>
                <source media="(max-width: 767px)" srcset="https://brentwood-home.imgix.net/hp-restore-wide.jpg?w=768">
                <source media="(min-width: 768px)" srcset="https://brentwood-home.imgix.net/hp-restore-wide.jpg">
                <img src="https://brentwood-home.imgix.net/hp-restore-wide.jpg" alt="Oceano Mattress">
            </picture>
            <div class="ctaBloc">
                <h2>Restore</h2>
                <p class="text-center"><a href="/products/oceano-mattress" class="cta solid text-center">Oceano Mattress</a></p>
                <h3 class="text-center">
                    #1 RATED LUXURY MATTRESS<br>
                    – SLEEPSHERPA.COM
                </h3>
            </div>
        </div>
        <div class="col-xs-12 collection meditate">
            <picture>
                <source media="(max-width: 767px)" srcset="https://brentwood-home.imgix.net/hp-medotate-wide.jpg?w=768">
                <source media="(min-width: 768px)" srcset="https://brentwood-home.imgix.net/hp-medotate-wide.jpg">
                <img src="https://brentwood-home.imgix.net/hp-medotate-wide.jpg" alt="Meditation Pillows">
            </picture>
            <div class="ctaBloc odd">
                <h2>Meditate</h2>
                <p class="text-center"><a href="/crystal-cove-collection" title="View Crystal Cove collection" class="cta solid text-center">Crystal Cove</a></p>
                <h3 class="text-center">
                    MEDITATION PILLOWS
                </h3>
            </div>
        </div>
        <div class="col-xs-12 collection refresh">
            <picture>
                <source media="(max-width: 767px)" srcset="https://brentwood-home.imgix.net/hp-refresh-wide.jpg?w=768">
                <source media="(min-width: 768px)" srcset="https://brentwood-home.imgix.net/hp-refresh-wide.jpg">
                <img src="https://brentwood-home.imgix.net/hp-refresh-wide.jpg" alt="Pillows">
            </picture>
            <div class="ctaBloc">
                <h2>Refresh</h2>
                <p class="text-center"><a href="/pages/pillow-collection" class="cta solid text-center">HEALTHY PILLOWS</a></p>
                <h3 class="text-center">SLEEP NATURALLY</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>Greenguard gold certified</h3>
            <p class="text-center">
                We believe in science. That’s why most Brentwood Home mattresses are Greenguard Gold Certified by UL Environment. It means that they are tested in environmental chambers for more than 300 harmful chemicals and pollutants. Greenguard Gold is the most emission stringent standard for chemical exposure and pollutants, such as volatile organic compounds (VOCs), formaldehyde and phthalates. For healthy, non-toxic sleep, it’s the gold standard.
            </p>
            <p class="text-center"><img src="{{ 'logo-greenguard-2.svg' | asset_url }}" alt="Greenguard gold certified" style="max-width: 100px; width: 100px;margin-top: 30px;" ></p>
        </div>
    </div>
</div>

<div class="container" id="hpCategories">
    <div class="row flex">
        <div class="col-xs-12 collection yoga">
            <img src="https://s3-brentwoodhome.imgix.net/ccyoga/yogagirl-trio.jpg?rect=0,659,4593,2567&w=1440&blend=464646&balph=20&ba=top,left" alt="Yoga collection">
            <div class="ctaBloc center flexV">
                <div>
                    <h2 class="">Collect Them All</h2>
                    <a href="/pages/crystal-cove-collection" class="cta solid text-center">THE YOGA COLLECTION</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container sectionMarg">
    <h3>our customers love us</h3>
    <div id="home-reviews" class=" owl-carousel owl-theme">
        <div class="item text-center">
            <h4>Sleep at Last!</h4>
            <p class="text-center">
                <i>"I'm all about this mattress and company. The bed is well designed, beautifully constructed, and most importantly, SO comfortable! I'm on the light side, so I opted for the soft gel topper for a little more lush sleeping experience."</i>
            </p>
            <p class="author">
                - Brady R. 4/06/18
                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>
        <div class="item text-center">
            <h4>Love this pillow</h4>
            <p class="text-center">
                <i>"This is the perfect meditation pillow. It’s so comfortable and is absolutely gorgeous. My husband also likes to use it while he reads to lean his back on. We love it!"</i>
            </p>
            <p class="author">
                - Rebecca B. 4/05/18
                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>
        <div class="item text-center">
            <h4>Amazing!</h4>
            <p class="text-center">
                <i>"We sleep much better now and the set up was easy and shipping was very fast! Much faster than we expected."</i>
            </p>
            <p class="author">
                - Natalie B. 3/23/18
                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>
    </div>
    <p class="text-center"><a href="/pages/reviews-all" class="cta solid text-center">more reviews</a></p>
</div>
<script>
    $(document).ready(function() {
        
        $('#home-reviews').owlCarousel({
            loop:false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    //nav:true
                },
                768:{
                    items:2,
                    //nav:true
                },
                1024:{
                    items:3,
                    //nav:true
                }
            },
            nav : false
        });
        
        /*$("#home-reviews").owlCarousel({
            itemsCustom : [ 
                [0, 1],
                [450, 1],
                [600, 2],
                [700, 2],
                [1000, 3],
                [1200, 3],
                [1400, 3],
                [1600, 3]
            ],
            autoPlay : false,
            stopOnHover : false,

            lazyLoad : false,
            lazyFollow : true,
            lazyEffect : "fade",
            pagination : true,
            callbacks: false,
            // Navigation
            navigation : false,
            navigationText : ['<i class="fa icon-left"></i>','<i class="fa icon-right"></i>'],
            rewindNav : true,
            scrollPerPage : false

        });*/
    });
</script>

<div class="container sectionMarg">
    {% comment %}Blog{% endcomment %}
    {% include 'home-blog' %}
</div>


<div class="newsneter">
  <div class="container">
    {% comment %} newsletter {% endcomment %}
    {% include 'homepage-block-newsletter' %}
  </div>
</div>

<script>
  jQuery('.main-content').removeClass('container');
    mixpanel.track("Homepage");
    mixpanel.track_links("A#1yearHPv1","Click 1yearHPv1");
</script>