
<div class="container standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Looking for a quality Los Angeles mattress store?</h1>
            <img src="{{ 'bib-autumnbox.jpg' | asset_url }}" alt="Brentwood Home.">
        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1 description">
            <p>Looking for a new mattress or bedding store in Los Angeles? Brentwood Home has a showroom conveniently located in Downtown Los Angeles near the Arts District. Whether you’re East side or West side, Santa Monica or Echo Park, our showroom is easy to get to and from. Read on for more information on our mattresses and to make an appointment at our Los Angeles mattress store.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="col-left-block">
                <ul class="list-group sideLinks">
                    <li class="list-group-item"><a href="#a1" class="h2anchor">What’s special about Brentwood Home's Los Angeles mattress store?</a></li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#1a">We ship right to your door</a></li>
                        <li class="list-group-item"><a href="#2a">Over 4,000 5-Star reviews</a></li>
                    </ul>
                    <li class="list-group-item"><a href="#a2" class="h2anchor">What products will I see at the showroom?</a></li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#2a">Brentwood Home’s mattress collections</a></li>
                    </ul>
                    <li class="list-group-item"><a href="#a3" class="h2anchor">I’m in! How do I get there?</a></li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#3a">Directions</a></li>
                        <li class="list-group-item"><a href="#3b">Contact Information</a></li>
                        <li class="list-group-item"><a href="#3c">Appointments</a></li>
                        <li class="list-group-item"><a href="#3d">What’s nearby?</a></li>
                    </ul>
                    <li class="list-group-item"><a href="#a4" class="h2anchor">More about us</a></li>
                </ul>
            </div> 
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
           <div class="videoWrapper">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/cYa8-GQAYE0?list=PLU9Y2t1J9RrXGHn4_oZ-mHFVJ9xJhRKS2" frameborder="0" allowfullscreen></iframe>
           </div>
            <p class="caption">Brentwood Home’s Los Angeles mattress factory</p>
            
            <h2 id="a1">1. What’s special about Brentwood Home’s Los Angeles mattress store?</h2>
            <h3 id="1a">A. We ship right to your door</h3>
            <p>Mattress shopping can be a cumbersome and awkward experience. The environment can feel sterile with an overwhelming amount of charts and graphs. Nobody wants to deal with pushy salespeople watching you sit on and try out the different beds, or figuring out which brand’s promotion is providing the best prices.</p>
            <p>It doesn’t have to be that way, and we’re trying to change the game. Now, you can try out Brentwood Home mattresses in your own home. Browse our entire selection of mattresses on our <a href="https://www.brentwoodhome.com/pages/mattress-collections" target="_blank" title="Brentwood Home">website</a> and try them out - yes, actually sleep on them - for 120 nights.</p>
            <p>Don’t worry about hauling your new mattress home from our store - that’s a thing of the past. All of our beds ship directly to your door after being compressed and rolled into a box. Just place an order with us, and your bed will be with you in 1-2 weeks, probably less if you’re one of our West coast neighbors. Lugging a huge piece of furniture around is a hassle, and we take care of that with free shipping and returns. Plus, you can try it in your own home for 120 nights, risk free. If you don’t like it, return it for a full refund.</p>

            <h3 id="1b">B. Over 4,000 5-Star reviews</h3>
            <p>See a couple of our customer reviews below.</p>
            <p><strong>These are good people making great mattresses</strong><br>
                “We bought a mattress manufactured by one of the big-name mattress companies. After about a week we demanded that the retailer take it back because it smelled like formaldehyde. I did some research and discovered that most mattresses are made with rather noxious chemicals. Brentwood was the exception. The mattress Brentwood made for us is incredible. We got the firm version and it is perfect. I spoke with a Brentwood employee on the phone and he was remarkably knowledgeable and helpful.”<br>
                <i class="text-right">Dan S., verified Brentwood Home buyer on 11/09/16</i>
            </p>
            <p><strong>Five stars!</strong><br>
                “If you're even looking at purchasing a memory foam mattress, you've come to the right place. This mattress is so comfortable, cool to the touch and doesn't have an odor. It is the perfect balance between firm and soft. I will never sleep on another mattress. I was worried that for such a great price, that it would be too good to be true but this is certainly not the case. Do not think twice. Buy and try for yourself.”<br>
                <i class="text-right">Sam, Amazon review on 4/30/14</i>
            </p>
            
            <p>If you’d like to see one of our mattresses in person, there is the possibility to schedule an appointment. Our Downtown Los Angeles studio houses a few of our top-of-the-line products in our spring, memory foam, and natural latex mattress collections. We’re proud of our space’s beautiful design, and it’s representative of the classic California style and attention to detail you’ll see in our products. This is your bedroom we’re talking about - you shouldn’t feel like you’re at a doctor’s office or a car dealership.</p>
            <img src="{{ 'Meditation_Pillow_Rooftop.jpg' | asset_url}}" alt="">
            <p class="caption">The view at Brentwood Home’s Los Angeles store in Downtown Los Angeles</p>
            
            <h2 id="a2">2. What products will I see there?</h2>
            <p>Our showroom houses a few of our top-of-the-line mattresses, but you can see our entire collections page <a href="https://www.brentwoodhome.com/pages/mattress-collections" title="Mattress Collections" target="_blank"></a>here.</p>
            <p>At Brentwood Home, we offer three lines of handcrafted mattresses: natural latex, spring, and memory foam. Each consists of three mattresses at descending price points, so you can find something that fits your budget and the kind of support you need. We’ve combined the convenience and ease of the mattress-in-a-box trend with 30 years of manufacturing experience in bedding, natural and organic materials, and California spirit. Find your perfect fit with no hassle - we offer free shipping and returns, plus a 120-night sleep guarantee.</p>
            <h3 id="2a">A. Brentwood Home’s mattress collections</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Natural Latex collection</td>
                        <td>Our latex collection comprises the most natural mattresses we offer, using impossibly soft layers of 100% natural latex. For a bouncier feel—soft but sturdy—natural latex is plush but supportive, good for delicate backs and those who want a little morning get-up-and-go. </td>
                        <td>Find your fit in our <a href="/collections/latex" target="_blank">Natural Latex collection</a> with the <a href="/products/mirador-mattress?variant=19259202246" target="_blank">Mirador</a>, <a href="/products/palmetto-mattress" target="_blank">Palmetto</a>, and <a href="/products/solano-mattress?variant=19259120134" target="_blank">Solano</a> mattresses.</td>
                    </tr>
                    <tr> 
                        <td>2. Memory Foam collection</td>
                        <td>For those who appreciate the hugging sensation of memory foam, this collection is your key to a more restful, deep sleep. Your joints and pressure points will thank you in the morning for the cradling support and responsive foam that adjusts to your every move.</td>
                        <td>Find your fit in our <a href="/collections/memory-foam" target="_blank">Memory Foam collection</a> with the <a href="/products/sequoia-mattress?variant=15500302470" target="_blank">Sequoia</a>, <a href="/products/coronado-mattress?variant=15501946694" target="_blank">Coronado</a>, and <a href="/products/sierra-mattress?variant=17602035782" target="_blank">Sierra</a> mattresses.</td>
                    </tr>
                    <tr>
                        <td>3. Spring Collection</td>
                        <td>You can’t go wrong with a traditional spring mattress. This collection of well-crafted spring hybrid mattress will last for years. Enjoy the comfort of gel memory foam with the support of individually wrapped coils.</td>
                        <td>Find your fit in our <a href="/collections/spring" target="_blank">Spring collection</a> with the <a href="/products/oceano-mattress" target="_blank">Oceano</a>, <a href="/products/del-mar-mattress?variant=19257983558" target="_blank">Del Mar</a>, and <a href="/products/avalon-mattress?variant=19256420358" target="_blank">Avalon</a> mattresses. </td>
                    </tr>
                </tbody>
            </table>

            <img src="{{ 'unboxingseo.jpg' | asset_url}}" alt="">
            <p class="caption">The view at Brentwood Home’s Los Angeles store in Downtown Los Angeles</p>
            
            <h2 id="a3">3. I’m in! How do I get there?</h2>
            <h3 id="3a">A. Directions and Hours</h3>
            <p>If you’d like to visit our showroom, please make an appointment first. Keep reading for contact information.</p>
            <p>Our Los Angeles mattress store showroom location is at <strong>2301 E. 7th Street, Suite A-450</strong>, conveniently in central Los Angeles. There’s a visitor parking lot right off of 7th street - just confirm with our parking attendants that you’re visiting Brentwood Home. Street parking is also abundant on Anderson Street. </p>
            <p>We’re located on the 4th floor in Suite A-450. Enter from the visitor parking lot, take the stairs down and to the elevator. Once you reach the fourth floor, we’re located at the very end of the hallway. </p>
            <p>Our office is open from Monday-Friday, 9AM-5PM, and at this time we’re able to welcome customers <strong>by appointment only</strong>. </p>
            
            <div class="videoWrapper map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.3413849371564!2d-118.22475504903761!3d34.03511302598456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c61c316432e5%3A0x5e68b088d43af42f!2s2301+E+7th+St%2C+Los+Angeles%2C+CA+90023!5e0!3m2!1sfr!2sus!4v1480705133137" width="1280" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
            <h3 id="3b">B. Contact Us</h3>
            <p>We can be reached by phone at <a href="tel:+18559791416">855-979-1416</a>. You can also send us an email at <a href="mailto:hello@brentwoodhome.com">hello@brentwoodhome.com</a>, or find us on social media at @brentwoodhome.</p>
            
            <h3 id="3b">C. What’s nearby?</h3>
            <p>There are a ton of popular coffee shops, eateries, and shops located in the Arts District of Downtown LA. Some of our favorites are <a href="http://www.zinccafe.com/locations/3190/los-angeles" title="Zinc Cafe" target="_blank">Zinc Cafe</a>, <a href="https://bluebottlecoffee.com/cafes/arts-district" title="Blue Bottle Coffee" target="_blank">Blue Bottle Coffee</a>, and <a href="http://www.poketo.com/" title="Poketo" target="_blank">Poketo</a> for cute gifts and trinkets. If you’re making the trip into the city, ask us for recommendations and stay a while! We love our home in DTLA. </p>
            
            <div class="spacer"></div>
            <h2 id="a5">5. More About Us</h2>
            <p>At Brentwood Home, we obsess over creating lifestyle essentials using healthy and sustainable materials, all inspired by our love for the natural world and our home in California. They're handcrafted in our LA workshops, where we maintain honest prices by eliminating middlemen and shipping directly to you. We believe that a comfortable life shouldn’t be out of reach. Visit our Los Angeles mattress store to see our products first hand.</p>
            <p><a href="/pages/mattress-collections" target="_blank">Click here</a> to shop our catalog of natural, handcrafted mattresses. We pride ourselves on being hassle free with free shipping both ways, a 120-night sleep guarantee on your mattress-in-a-box, and a 25-year limited warranty.</p>
        </div>
    </div> 
</div>        