<br>
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Thank You</h1><br>
      <h2>Your request has been submitted to Brentwood Home and will receive prompt attention.</h2>
      <br><br>
      <p class="text-center"><a href="/" class="cta2 solid text-center">Back to homepage</a></p>
    </div>
</div>


