<div class="standardPages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Brentwood Home’s Natural Latex Mattress</h1>
                
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 description">
                <p>A mattress is a big investment, and with the hundreds of options available to you, it’s more important than ever to do your research. Keep in mind that not everyone sleeps the same, and different bodies have different needs when it comes to the support provided by a mattress. Memory foam and spring mattresses have been around for a while, but a natural latex mattress is becoming more and more popular.</p>
            </div>
    
        </div> 
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block">
                    <ul class="list-group sideLinks">
                        <li class="list-group-item"><a href="#a1" class="h2anchor">What is a Natural Latex mattress?</a></li>
    
                        <li class="list-group-item"><a href="#a2" class="h2anchor">What’s Natural Latex?</a></li>
                        <li class="list-group-item"><a href="#a3" class="h2anchor">How is it beneficial for my sleep?</a></li>
                        <ul class="list-group nested">
                            <li class="list-group-item"><a href="#3a">Why might I not like Natural Latex? What should I get instead?</a></li>
                        </ul>
                        <li class="list-group-item"><a href="#a4" class="h2anchor">Brentwood Home’s Natural Latex Beds</a></li>
                        <li class="list-group-item"><a href="#a5" class="h2anchor">Resources</a></li>
                    </ul>
                </div> 
            </div>
    
            <!-- Right Column -->
            <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
                <!-- 2. Is a bed-in-abox... -->
                <h2 id="a1">1. What is a Natural Latex mattress?</h2>
                <p>Natural latex mattresses are a popular kind of mattress for those looking for a bouncy, resilient surface for their comfort. They’re also a popular choice for eco-conscious shoppers, as the material is sustainably sourced from rubber trees.</p>
    
                <h2 id="a2">2. What’s Natural Latex?</h2>
                <p>Natural latex is a material sourced from rubber trees, usually found in tropical regions. The trees are tapped for their rubber polymer sap, which is then mixed with a small amount of organic compounds to reach a gel-like state, then poured into a mold where it takes its shape. </p>
                <p><img src="{{'naturallatex-tree.jpg'|asset_url}}" alt="Natural Latex Tree"></p>
                <p>There are two different processes that are typically used: Talalay and Dunlop. The Talalay process freezes the mixture to preserve consistency while it’s settling, and the Dunlop process does not. </p>
                <p>Not all latex is natural, so make sure the product you’re buying is certified. Synthetic latex is a cheaper material chosen by many brands. It can also be made with the Talalay and Dunlop processes, but it starts with completely manmade rubbers and synthetic materials, sometimes mixed with a small amount of natural rubber tree sap. Synthetic latex doesn’t last as long as natural latex does, and it easily becomes flattened under the weight of frequent use. Synthetic latex is also known for its off-gassing, which can be smelly and even irritate users with allergies. </p>
                
                <p style="margin-bottom: 5px;"><strong>Natural Latex Bedding:</strong></p>
                <ul class="list-group bullets">
                    <li class="list-group-item">No harmful chemicals</li>
                    <li class="list-group-item">Can last for around 25 years</li>
                    <li class="list-group-item">Low VOCs</li>
                    <li class="list-group-item">No strong odor</li>
                </ul>
                <p style="margin-bottom: 5px;"><strong>Synthetic Latex Bedding</strong></p>
                <ul class="list-group bullets">
                    <li class="list-group-item">Typically lasts less than 10 years</li>
                    <li class="list-group-item">High VOCs</li>
                    <li class="list-group-item">Has a strong and smelly odor</li>
                    <li class="list-group-item">Can irritate users with allergies</li>
                </ul>
                
                <h2 id="a3">3. How is it beneficial for my sleep?</h2>
                <p>Natural latex is soft but supportive, making it a popular choice for use in mattresses, pillows, toppers, crib mattresses, and other bedding. It has high elasticity, providing a “bounce back” feeling and pushing back on the parts of your body that push down harder while you sleep. Natural latex provides an uplifting type of support, relieving sensitive pressure points and responding to all of your movements through the night. This counter pressure makes natural latex a great choice for those with active lifestyles, and those lookings for that “get up and go” morning feeling.</p>
                <p><img src="{{'materials_latex.jpg'|asset_url}}" alt="Natural Latex"></p>
                <p>It’s also a very healthy and breathable material, allowing for increased airflow that keeps you cool through the night. It has hypo-allergenic and antimicrobial properties, resisting mold and dust mites. It’s ideal for those with allergies or who are sensitive to smell.</p>
                <p style="margin-bottom: 5px;"><strong>Natural Latex is:</strong></p>
                <ul class="list-group bullets">
                    <li class="list-group-item">Bouncy</li>
                    <li class="list-group-item">Resilient</li>
                    <li class="list-group-item">Responsive</li>
                    <li class="list-group-item">Great for active lifestyles</li>
                    <li class="list-group-item">Breathable</li>
                    <li class="list-group-item">Anti-microbial</li>
                </ul>
                <p>Sleeping on a natural latex mattress may not be ideal for those looking for a plush, hugging feel. The properties of the material.</p>
                
                
                <h3 id="3a">A. Why might I not like a Natural Latex mattress?</h3>
                <p>Natural Latex is a quality, healthy material for bedding, but with all of the available options, it isn’t the perfect fit for everyone. You might not like natural latex bedding if you prefer the classic  memory foam feel with its hugging sensation. Memory foam mattresses allow you to sleep more “into” the mattress, while with natural latex with its bouncy feel allows you to rest more “on top of” the mattress.</p>
                <p style="margin-bottom: 5px;">Natural Latex bedding might not work for those who:</p>
                <ul class="list-group steps">
                    <li class="list-group-item">Want the hugging and cradling qualities of memory foam</li>
                    <li class="list-group-item">Want to sink and sleep “into” the mattress</li>
                </ul>
    
                <h2 id="a4">4. What kind of materials does Brentwood Home use and why?</h2>
                <p><img src="{{'nontoxic-palmetto-lifestyle.jpg'|asset_url}}" alt="non-toxic mattresses" class="img-responsive"></p>
                <p>Brentwood Home has a collection of natural latex mattresses with different feels and price points, so you can find the bed that fits your sleep style and your budget. </p>
                <p>Best of all, Brentwood Home offers a 1-Year Risk-Free Sleep Trial guarantee. You can try your natural latex mattress in your own home for up to 1 year, and if it’s not your perfect fit, you can return it for a full refund.</p>
    
               
    
                
    
    
                <!-- 4. Resources -->
                <div class="spacer"></div>
                <h2 id="a5">5. Resources</h2>
                <p>Most importantly, make sure your mattress is safe and healthy for your and your home. Brentwood Home uses a combination of organic, nontoxic, and natural materials with no chemical retardants, phthalates, ozone depleters, or heavy metals. Materials like 100% natural latex, organic cotton, and foams certified by <a href="http://certipur.us" target="_blank">CertiPUR-US</a> mean you and your family can sleep safe and sound. </p>
                <p>At Brentwood Home, we obsess over creating lifestyle essentials using healthy and sustainable materials and products, all inspired by our love for the natural world and our home in California. They're handcrafted in our LA workshops, where we maintain honest prices by eliminating middlemen and shipping directly to you. We believe that a comfortable life shouldn’t be out of reach. </p>
                
            </div>
        </div> 
    </div>        </div>
<script>
    mixpanel.track("Page", {
        "name": "{{ page_title | handle }}"
    });
</script>