<style>
    .template-page .standardPages h2, .template-page .standardPages h3{
        text-align: left;
    }
    .standardPages>.row{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .template-page .standardPages h2{
        margin-top: 0;
    }
    I.fa.affirm{
        color: #00c9e5;
    }
    UL LI{
        line-height: 40px;
    }
    OL LI{
        line-height: 24px;
        padding-bottom: 10px;
    }
    strong{
        color: #666;
    }
    .text-small{
        line-height: 20px !important;
    }
    .underline{
        text-decoration: underline;
    }
    .underline:HOVER{
        text-decoration: none;
    }
    .flexV div{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* The hero image */
    .hero-image {
        /* The image used */
        background-image: url("https://brentwood-home.imgix.net/hero-finance.jpg");

        /* Set a specific height */
        height: 550px;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .hero-text H1{
        color: white;
        font-size: 70px !important;
        margin-bottom: 20px !important;
    }
    .hero-text H3{
        color: white;
        font-size: 20px !important;
        font-style: normal !important;
    }
    @media screen and (max-width:768px) {
        .flex{
            display: block;
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-10%, -50%);
            color: white;
        }
        .hero-text H1{
            color: white;
            font-size: 36px !important;
            margin-bottom: 20px !important;
        }
        .standardPages>.row{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
</style>

<div class="rte standardPages">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="">1-Year Sleep Trial</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>The Basics:</h2>
        </div>
        <div class="col-xs-12 col-md-8">
            <p>When changing to a new mattress — any new mattress — expect it to take some time for your body to adjust and acclimate. One night just won't do. So we offer one of the best in-home sleep trials available in the industry — especially for an American-made product!
            </p>
            <p><strong>To qualify, we require that you try your mattress for at least 30 days. You have one full year (365 days) to try it in your home. Effective for mattresses purchased directly from the Brentwood Home website after September 14, 2018. (Purchases prior to this date are covered by our previous 120 night sleep trial.)</strong></p>
        </div>
    </div>
    
    <div class="row padB">
        <div class="flex" style="background-color: #fbfbfb">
            <div class="col-xs-12 col-sm-12 col-md-6 flexV">
                <div class="row">
                    <div>
                        <h2>How The One Year Sleep Trial Works: </h2>
                        <div class="col-xs-2">
                            <img src="{{ 'ico-sleeptrial.svg' | asset_url }}" alt="Sleep on your new Brentwood Home mattress for at least 30 days">
                        </div>
                        <div class="col-xs-10 padBmd">
                            <p><strong>Sleep on your new Brentwood Home mattress for at least 30 days.</strong></p>
                            <p>Your one-year trial period starts upon receipt of your mattress.</p>
                        </div>
                        <div class="col-xs-2">
                            <img src="{{ 'ico-bubble.svg' | asset_url }}" alt="Contact Us">
                        </div>
                        <div class="col-xs-10 padBmd">
                            <p><strong>If you're not happy, let us know via our <a href="/pages/contact" class="underline" title="contact page">contact page</a> or web chat.</strong></p>
                            <p>If there is something we can address or fix, we'll try to make it right.</p>
                        </div>
                        <div class="col-xs-2">
                            <img src="{{ 'ico-moneyback.svg' | asset_url }}" alt="Return">
                        </div>
                        <div class="col-xs-10 padBmd">
                            <p><strong>After 30 days from receipt of your mattress, if you want to proceed with a return at any point within the first year, we'll start the return process.</strong></p>
                            <p>Refunds are paid only after your mattress is received in good condition by Brentwood Home for recycling or a direct charitable donation is verified.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="https://s3-brentwoodhome.imgix.net/Bamboo_0513.jpg?rect=1712,1109,2613,3342&w=555" alt="One year sleep trial">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>How Are Mattresses Returned?</h2>
        </div>
        <div class="col-xs-12 col-md-8">
            <ol>
                <li>
                    <strong>Because our mattresses come compressed in a box, you do not have to ship the mattress back to us or try to get it back in the original box.</strong> Instead, our large and experienced customer service team will work with you to coordinate the return, and will arrange pickup for you. There are no return shipping or restocking fees.
                </li>
                <li>
                    Although we can have the returned mattress picked up right away by a partner service, <strong>our priority is to have the mattress donated to a worthy local nonprofit or responsibly recycled.</strong> Yes, this takes a bit more coordination and effort, but we firmly believe it is the most responsible and sustainable choice.
                </li>
                <li>
                    <strong>We cannot and do not resell used mattresses.</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>What Exclusions Apply?</h2>
        </div>
        <div class="col-xs-12 col-md-8">
            <ol>
                <li>
                    <strong>The mattress must be purchased directly from Brentwood Home.</strong>
                </li>
                <li>
                    <strong>You must be the original purchaser.</strong> The One-Year Sleep Trial is non-transferable.
                </li>
                <li>
                    If you finance your mattress via Affirm®, you’ll receive a full refund for the mattress and shipping from us, but <strong>we can not refund financing fees paid-to-date directly to Affirm.</strong>
                </li>
                <li>
                    <strong>Our sleep trial is limited to one of each particular product type per initial order.</strong> If you decide to exchange your mattress, it will end your sleep trial. If you return or exchange a mattress from any order, you are not eligible for an additional 1-year trial on future mattress orders.
                </li>
                <li>
                    <strong>Physical abuse or damage to the structure and/or materials</strong>, including, but not limited to burns, cuts, tears, and/or liquid damage are not accepted. 
                </li>
                <li>
                    <strong>Mold, odors, and/or discoloration caused by abnormal and inappropriate care</strong>, including, but not limited to liquid spills, improper ventilation and humid climates and/or areas where the mattress is exposed to excessive water or humidity. 
                </li>
                <li>
                    <strong>Mattresses used directly on the floor are excluded</strong>, as the combination of body heat, restricted airflow, humidity and the proximity to existing bacterias on a floor may cause molds to form. 
                </li>
            </ol>
        </div>
    </div>
    
    <p class="text-center" style="margin: 50px 0;"><a href="/collections/mattresses" class="cta2 solid text-center">shop mattresses</a></p>
    
    
</div>

