
<div class="container standardPages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">What’s a “mattress in a box”?</h1>
            <img src="{{ 'bib-autumnbox.jpg' | asset_url }}" alt="A mattress-in-a-box by Brentwood Home.">
            <p class="caption">A mattress-in-a-box by Brentwood Home.</p>

        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1 description">
            <p>Companies that sell the ‘mattress-in-a-box’ offer mattresses that come compressed, rolled, and shipped straight to your door in a box that’s easy to maneuver into your house or apartment. Mattress-in-a-box is an idea that’s been popularized over the past couple of years, especially with millennials who are looking for an affordable, convenient solution to the usually cumbersome mattress shopping experience.</p>
        </div>

    </div> 
    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="col-left-block">
                <ul class="list-group sideLinks">
                    <li class="list-group-item">What’s a “mattress-in-a-box”?</li>

                    <li class="list-group-item">Is a mattress-in-a-box right for you?</li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#2a">What’s great about buying a mattress-in-a-box?</a></li>
                        <li class="list-group-item"><a href="#2b">How to open your mattress-in-a-box</a></li>
                        <li class="list-group-item"><a href="#2c">What are the downfalls to buying a mattress-in-a-box?</a></li>
                    </ul>
                    <li class="list-group-item">The Brentwood Home mattress-in-a-box</li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#3a">Comparison Chart</a></li>
                    </ul>
                    <li class="list-group-item">Resources</li>
                    <ul class="list-group nested">
                        <li class="list-group-item"><a href="#4a">Links to resources</a></li>
                        <li class="list-group-item"><a href="#4b">Links to authority sites</a></li>
                        <li class="list-group-item"><a href="#4c">Learn more about the Brentwood Home mattress in a box</a></li>
                    </ul>
                </ul>

            </div> 
        </div>

        <!-- Right Column -->
        <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
            <img src="{{ 'palmetto-ourstory.jpg' | asset_url }}" alt="The Palmetto mattress by Brentwood Home is from their Natural Latex line, and comes compressed and shipped straight to your door with free shipping and returns.">
            <p class="caption">The Palmetto mattress by Brentwood Home is from their Natural Latex line, and comes compressed and shipped straight to your door with free shipping and returns.</p>
            <div class="spacer"></div>

            <!-- 2. Is a bed-in-abox... -->
            <h2>2. Is a mattress-in-a-box right for you?</h2>
            <h3 id="2a">A. What’s great about buying a mattress-in-a-box?</h3>
            <p>Companies that sell the ‘mattress-in-a-box’ offer mattresses that come compressed, rolled, and shipped straight to your door in a box that’s easy to maneuver into your house or apartment. mattress-in-a-box is an idea that’s been popularized over the past couple of years, especially with millennials who are looking for an affordable, convenient solution to the usually cumbersome mattress shopping experience.</p>
            <img src="{{ 'bib-buyingexperience.jpg' | asset_url }}" alt="The Palmetto mattress by Brentwood Home is from their Natural Latex line, and comes compressed and shipped straight to your door with free shipping and returns.">
            <div class="spacer"></div>
            <p>Secondly, they’re easy to handle. The bed will arrive at your door - all you have to do is pull it where you want it, open the packaging, and watch it expand. Magic! </p>

            <h3 id="2b">B. How to open your mattress-in-a-box:</h3>
            <ul class="list-group steps">
                <li class="list-group-item">	First, slide the box to the room you’d like to set it up in. This is much easier than letting the mattress expand somewhere else, and then having to carry the entire expanded mattress to its destination. Depending on the size and weight of your mattress-in-a-box, you may need an extra hand here.</li>
                <li class="list-group-item">Tip the box over and lay it lengthwise on the floor. Carefully use scissors or something sharp to open the top of the box.</li>
                <li class="list-group-item">Use both hands to grab the mattress and pull it out from the box. Again, depending on the size of your mattress, you may need an extra hand to help you remove it from the box. Remember to recycle your box! </li>
                <li class="list-group-item">Put it on your platform. It’ll be easier to move the mattress-in-a-box to your bedframe when it’s still compressed and rolled. Some mattress-in-a-box mattresses can only work on a solid, flat surface. Most of Brentwood Home’s mattresses can be used on any flat surface, like a slatted base, a flat platform, a foundation or box spring, or even an adjustable base.</li>
                <li class="list-group-item">Carefully use scissors or something sharp to cut the plastic covering lengthwise across the mattress. Be sure not to push too hard into the mattress with the blade and damage any fabric or upholstery. Some companies will send you a small tool, usually a razor protected by a plastic barrier, that you can use to cut the plastic. Remove all plastic covering and discard.</li>
                <li class="list-group-item">Sit back and watch it expand! This is the fun part. You’ll see your mattress start to decompress before your eyes until it fully takes shape. In most cases, your mattress-in-a-box will be ready to use immediately, but you may need to wait up to 48 hours for the mattress to fully decompress and take its final form.</li>
                <li class="list-group-item">Dress it up! Now’s the time to make it your own. Add your sheets, comforter, quilt, and pillows to make your new bed and prep for a great night’s sleep. </li>
            </ul>

            <!-- Video -->
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ulR2B_lryuI" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- End video -->
            <div class="spacer"></div>
            <p>Watch Olympic gold-medalist Rebecca Soni unbox her brand new Mirador mattress from Brentwood Home’s natural latex line. Her mattress-in-a-box arrived at her doorstep in a small, compact box, and she was able to bring it right inside. First, she brings it into the bedroom she wants to set it up in. After opening the top of the box, she pulls the bed out of it and removes the plastic covering. Watch it expand! Soon enough, she’s got an entire queen-sized mattress ready to go, with no hassle. And she looks pretty excited about it.</p>
            <h3 id="2c">C. What are the downfalls to buying a mattress-in-a-box?</h3>
            <p>Well, some companies manufacture and compress beds that sit around in their packaging for months on end. Leaving beds compressed for too long can damage the materials, not to mention some serious off-gassing, and you might not end up getting the kind of sleep you paid for. To avoid this, we recommend looking for beds that are made to order. Companies like Brentwood Home don’t make your mattress-in-a-box mattress until you buy it, and they’ll ship it immediately, right to your door. </p>
            <p>Another downside is that you don’t get to try the mattress until you buy it and assemble it in your home. It can be a little frightening to make such a large investment in a product you haven’t tested in person yet. Luckily, select companies - like Brentwood Home - offer a 1-year sleep trial, along with free shipping and returns. This means you can try it in person, in your home, without risk. If you don’t like it, return it for free with no questions asked.</p>
            <div class="spacer"></div>

            <!-- 3. The Brentwood Home... -->
            <h2>3. The Brentwood Home mattress-in-a-box</h2>
            <h3 id="3a">A. Comparison chart</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Natural Latex collection</td>
                        <td>Our latex collection comprises the most natural mattresses we offer, using impossibly soft layers of 100% natural latex. For a bouncier feel—soft but sturdy—natural latex is plush but supportive, good for delicate backs and those who want a little morning get-up-and-go. </td>
                        
                    </tr>
                    <tr> 
                        <td>2. Memory Foam collection</td>
                        <td>For those who appreciate the hugging sensation of memory foam, this collection is your key to a more restful, deep sleep. Your joints and pressure points will thank you in the morning for the cradling support and responsive foam that adjusts to your every move.</td>
                        
                    </tr>
                    <tr>
                        <td>3. Spring Collection</td>
                        <td>You can’t go wrong with a traditional spring mattress. This collection of well-crafted spring hybrid mattress will last for years. Enjoy the comfort of gel memory foam with the support of individually wrapped coils.</td>
                        
                    </tr>
                </tbody>
            </table>
            <div class="spacer"></div>
            <img src="{{ 'bib-springbox.jpg' | asset_url }}" alt="A mattress-in-a-box by Brentwood Home.">
            <p class="caption">A mattress-in-a-box by Brentwood Home.</p>

            <!-- 4. Resources -->
            <div class="spacer"></div>
            <h2>4. Resources</h2>
            <h3 id="4a">A. Links to resources</h3>
            <p>Most importantly, it’s important to make sure your mattress is safe and healthy for your and your home. Brentwood Home uses a combination of organic, nontoxic, and natural materials with no chemical retardants, phthalates, ozone depleters, or heavy metals. Materials like 100% natural latex, organic cotton, and foams certified by the <a href="http://www.eco-institut.de/en/" target="_blank">eco-INSTITUT</a> and <a href="http://certipur.us" target="_blank">CertiPUR-US</a> mean you and your family can sleep safe and sound. </p>
            <h3 id="4b">B. Links to authority sites</h3>
            <p>At Brentwood Home, we obsess over creating lifestyle essentials using healthy and sustainable materials, all inspired by our love for the natural world and our home in California. They’re handcrafted in our LA workshops, where we maintain honest prices by eliminating middlemen and shipping directly to you. We believe that a comfortable life shouldn’t be out of reach.</p>
            <h3 id="4c">C. Learn more about the Brentwood Home mattress in a box</h3>
            <p><a href="/collections/mattresses" target="_blank">Click here</a> to shop our catalog of natural, handcrafted mattresses. We pride ourselves on being hassle free with free shipping both ways, a 1-Year Risk-Free Sleep Trial sleep guarantee on your mattress-in-a-box, and a 25-year limited warranty.</p>
        </div>
    </div> 
</div>        