<div class="standardPages">
    
            <div class="row">
                <div class="col-xs-12" id="wrapper">
                    <h1>Materials We Use</h1>
                    <div id="map">
                        <!--<img src="{{'materials_map-tags.jpg'|asset_url}}" width="1600" height="853" alt="Our materials" usemap="#materialsmap" style="">
                         <map name="materialsmap">
                            <area alt="" title="" href="/pages/latex" shape="poly" coords="1265,377,1276,419,1300,387,1398,385,1397,329,1286,332" />
                            <area alt="" title="" href="/pages/kapok" shape="poly" coords="1300,445,1312,484,1330,452,1430,452,1426,396,1317,395" />
                            <area alt="" title="" href="/pages/wool" shape="poly" coords="1416,655,1418,711,1522,710,1539,741,1550,703,1529,654" />
                            <area alt="" title="" href="/pages/coils" shape="poly" coords="87,194,30,194,30,242,131,246,146,286,154,249,139,197" />
                            <area alt="" title="" href="/pages/cotton" shape="poly" coords="205,273,218,306,235,271,334,272,334,220,230,216" />
                            <area alt="" title="" href="/pages/buckwheat" shape="poly" coords="293,109,398,109,398,161,304,163,285,194,272,159" />
                        </map>
                        http://imagemap-generator.dariodomi.de/ -->
                    </div>
                </div>
            </div>
    
    
           <div class="row">
               <div class="col-xs-12 col-md-10 col-md-offset-1 description">
                    <p>From our bedroom to our cities to the planet we call home, taking care of the spaces we inhabit is the foundation of our well-being. At Brentwood Home, much of the product development process is spent researching and sourcing materials ourselves, making sure they meet Golden State standards for environmental responsibility. Learn more about the combination of natural, organic, and non-toxic materials we use to make a healthy, happy home below.</p>
               </div>
           </div>
            <div class="row">
                <!-- Materials -->
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/kapok" title="Kapok"><img src="https://brentwood-home-2.imgix.net/materials_kapok.jpg?w=500&q=55&auto=compress,format }}" alt="Kapok"></a>
                    <div class="text-center"><p>Southeast Asia</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/kapok" title="Kapok"><h3><center>Kapok</center></h3></a>
                        <p class="text-center">With the smoothness of silk and fluffiness of cotton, our kapok is sustainable, nontoxic, and pesticide-free.</p> 
                    </div>
                </div>
    
    
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/wool" title=""><img src="https://brentwood-home-2.imgix.net/materials_wool.jpg?w=500&q=55&auto=compress,format" alt="GOTS Organic Certified Wool"></a>
                    <div class="text-center"><p>India</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/wool" title=""><h3><center>GOTS Organic Certified Wool</center></h3></a>
                        <p class="text-center">Indian wool wicks away moisture and is naturally antimicrobial for a cooler, fresher mattress.
                        </p>  
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/buckwheat" title=""><img src="https://brentwood-home-2.imgix.net/materials_buckwheat.jpg?w=500&q=55&auto=compress,format" alt="buckwheat"></a>
                    <div class="text-center"><p>North Dakota</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/buckwheat" title="buckwheat"><h3>
                            <center>Buckwheat</center>
                            </h3></a>
                        <p class="text-center">All-natural buckwheat makes for a firm, durable fill that’s healthy for you, your home, and the planet. </p>
    
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/cotton" title=""><img src="https://brentwood-home-2.imgix.net/materials_cotton.jpg?w=500&q=55&auto=compress,format" alt="organic cotton"></a>
                    <div class="text-center"><p>Texas</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/cotton" title="organic cotton"><h3>
                            <center>Organic Cotton</center>
                            </h3></a>
                        <p>Grown without chemical pesticides or fertilizers, we use organic cotton for mattress covers and bedding. </p>  
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/coils" title="coils"><img src="https://brentwood-home-2.imgix.net/materials_coils.jpg?w=500&q=55&auto=compress,format" alt="coils"></a>
                    <div class="text-center"><p>South Gate, CA</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/coils" title="coils"><h3>
                            <center>Coils</center>
                            </h3></a>
                        <p class="text-center">Our coils are heat-treated and stress-relieved for long-lasting support that responds to every movement.</p>  
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-lg-4 blog-article">
                    <a href="/pages/latex" title="Natural Latex"><img src="https://brentwood-home-2.imgix.net/materials_latex.jpg?w=500&q=55&auto=compress,format" alt="GOLS Organic Certified Latex"></a>
                    <div class="text-center"><p>India</p></div>
                    <div class="article-details clearfix">
                        <a href="/pages/latex" title="Natural Latex"><h3>
                            <center>GOLS Organic Certified Latex</center>
                            </h3></a>
                        <p class="text-center">On top of being sustainable and renewable, Natural latex provides incredible support in bedding.</p>  
                    </div>
                </div>
    
            </div> 
            <!-- End Materials -->
</div>