{% comment %}
This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
Be sure to select page.contact as the template from the admin page to have this template take effect.

For information on adding more fields, visit:
- http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form
{% endcomment %}


<div class="standardPages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="contactus-hero">
                   <div class="content">
                       <h1 class="text-center">Questions?</h1>
                       <p>Use our email or chat channel to get in touch with a customer representative</p>
                       <p class="small">Monday - Friday 6:00AM - 4:00PM PST</p>
                       <p class="small">Saturday &amp; Sunday 6:00AM to 2:00PM PST</p>
                   </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="highlight" style="">
                    <p>For press inquiries <a href="/pages/press">click here</a>.</p>
                    <p>To become an affiliate <a href="https://app.impact.com/campaign-promo-signup/Brentwood-Home.brand?execution=e1s1" target="_blank">click here</a>.</p>
                </div>
                <p>Whether you’re deciding between mattresses or having difficulty ordering online, our customer service team is here to help. Someone will get back to you as soon as they can, typically within one business day. You can also explore our <a href="https://intercom.help/brentwood-home-b4d83ef0a14f" title="FAQ"><b>FAQ page</b></a> to see if your question has already been answered.</p>
                <p>At this time, we do not have a showroom available to the public. We offer free shipping and returns, plus a <a href="https://www.brentwoodhome.com/pages/1-year-risk-free-mattress-trial" title="1-Year Risk-Free Sleep Trial"><b>1-Year Risk-Free Sleep Trial</b></a> guarantee so you can try out our mattresses in your own home.</p>
                <div class="highlight hidden-xs" style="">
                    <p>Send us an email: <a href="mailto:support@brentwoodhome.com">support@brentwoodhome.com</a></p>
                    <p>Business hours:</p>
                    <p class="">Monday - Friday 6:00AM - 4:00PM PST</p>
                    <p class="">Saturday &amp; Sunday 6:00AM to 2:00PM PST</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                {% form 'contact' %}
                    {% if form.posted_successfully? %}
                    <p class="note form-success">
                        Thanks for contacting us! We'll get back to you as soon as possible.
                    </p>
                    {% endif %}

                    {% include 'form-errors-custom' %}
                    <div id="contactFormWrapper">
                        <p>SEND US A MESSAGE</p>
                        <label for="contactFormName">Your Name</label>
                        <input type="text" id="contactFormName" name="contact[name]" autocapitalize="words" placeholder="{{ settings.contact_your_name }}">

                        <label for="contactFormPhone">Your Phone</label>
                        <input type="tel" name="contact[phone]" id="contactFormPhone" placeholder="{{ settings.contact_phone_number }}">
                        {%comment%}pattern="\d{3}[\-]\d{3}[\-]\d{4}"{%endcomment%}
                        <label for="contactFormEmail">Your Email<em>*</em></label>
                        <input type="email" name="contact[email]" id="contactFormEmail" autocorrect="off" autocapitalize="off" placeholder="{{ settings.contact_your_email }}" required>

                        <label for="contactFormMessage">Your Comment<em>*</em></label>
                        <textarea rows="10" name="contact[body]" id="contactFormMessage" placeholder="{{ settings.contact_your_comment }}" required></textarea>

                        <input type="submit" class="btn left" value="Send Message">
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div> 
