<div class="landing birthhour">
    <div class="jumbtron birthhour flexVCenter">
        <div class="tagline">
            <h1>Healthy bedding for babies & kids</h1>
            <p class="line text-center" style="color: #4a4a4a;">Find sweet dreams for your little sleepyhead in our collection of natural and organic mattresses, pillows, and nursery accessories.</p>
            <p><a href="#start" class="sscroll lp-cta">EXPLORE</a></p>
        </div>
    </div>
    <div id="start"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <p class="text-center">When developing our Babies & Kids products, health and safety was top priority. Our choice to use a beautiful combination of natural and non-toxic materials means the whole family can sleep safe and sound. Learn more about the materials we use <a href="https://www.brentwoodhome.com/pages/materials">here</a></p>
            </div>
        </div>
    </div>
    <section class="container products-grid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>CRIB MATTRESSES</h2>
                <p class="text-center copy">All of our Crib Mattresses are expertly handcrafted, waterproof, and made with safe materials for your baby’s sleep. The dual-sided design features a firm side for infants and a soft side for toddlers, so you can simply flip when the time is right.</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['wildfern-crib-and-toddler-mattress'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>

                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['poppy-crib-and-toddler-mattress'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container products-grid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 ">
                <h2>ACCESSORIES</h2>
                <p class="text-center copy">Furnish your nursery with our super soft and comfortable Nursing Pillow and Changing Pad. Ergonomic shapes will smooth your feeding and changing routines, and removable covers of 100% organic cotton make cleaning a breeze. 
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['honeysuckle-nursing-pillow'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>
                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['sweetpea-changing-pad'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container products-grid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>FOR KIDS</h2>
                <p class="text-center copy">As your child grows, their body needs more support. Find it in our Juniper Kids Mattress with CertiPUR-US certified foam for cradling comfort, or complete their space with our Venice Lounger for reading books and taking naps. 
                </p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['juniper'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>
                    <div class="col-xs-6 grid-item">
                        {% assign product = all_products['venice-lounger'] %}
                        {% include 'standaloneproductgrid' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container sectionMarg">
        <div id="home-reviews" class=" owl-carousel owl-theme">
            <div class="item text-center">
                <h4>Perfect “big girl” bed</h4>
                <p class="text-center">
                    <i>"We loved our Brentwood mattress so much we got one for our daughter when she moved to her big girl bed. It arrived quickly, unrolled and puffed up quickly and easily. Construction is very good and she is sleeping comfortably.
                        "</i>
                </p>
                <p class="author">
                    - Christianna M. 4/13/17
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                </p>
            </div>
            <div class="item text-center">
                <h4>Daughter sleeps peacefully</h4>
                <p class="text-center">
                    <i>"Best mattress hands down. Just switched from Naturepedic to Brentwood Home Wildfern mattress and my daughter sleeps ALL NIGHT LONG!! From the quality of products used to the great customer service...we love Brentwood Home products! Thank you for making your products in California!"</i>
                </p>
                <p class="author">
                    - Lindsay A. 12/06/16
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                </p>
            </div>
            <div class="item text-center">
                <h4>I love this product! Great for my daughter!</h4>
                <p class="text-center">
                    <i>"My daughter loves this and uses it in her bedroom to play on her Kindle Fire. It's so comfy I can't get her to move from it when its time to come downstairs and eat. This is a high quality product and I can tell it's going to hold up."</i>
                </p>
                <p class="author">
                    - Angela 12/15/16
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#home-reviews").owlCarousel({
                itemsCustom : [ 
                    [0, 1],
                    [450, 1],
                    [600, 2],
                    [700, 2],
                    [1000, 3],
                    [1200, 3],
                    [1400, 3],
                    [1600, 3]
                ],
                autoPlay : false,
                stopOnHover : false,

                lazyLoad : false,
                lazyFollow : true,
                lazyEffect : "fade",
                pagination : true,

                // Navigation
                navigation : false,
                navigationText : ['<i class="fa icon-left"></i>','<i class="fa icon-right"></i>'],
                rewindNav : true,
                scrollPerPage : false,

            });
        });
    </script>
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class=""></h2>
            </div>
            {% include 'instagram' %}
        </div>
    </section>
</div>
<script>
    mixpanel.track("Bith Hour LP 2");
    /*$(document).ready(function(){
        $("#aboutus-continue").click(function(){
            mixpanel.track("Clicked Continue Shopping");
        });
    });*/
</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>