<div class="standardPages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Brentwood Home’s Non-toxic Mattress Selection</h1>
                <img src="{{ 'bib-autumnbox.jpg' | asset_url }}" alt="Brentwood Home.">
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 description">
                <p>A mattress is a big investment, and with the hundreds of options available to you, it’s more important than ever to do your research. Keep in mind that not everyone sleeps the same, and different bodies have different needs when it comes to the support provided by a mattress. However, everyone should be looking for a nontoxic mattress made with materials that are safe for their health and their home.</p>
            </div>
    
        </div> 
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="col-left-block">
                    <ul class="list-group sideLinks">
                        <li class="list-group-item"><a href="#a1" class="h2anchor">What is a non-toxic mattress?</a></li>
    
                        <li class="list-group-item"><a href="#a2" class="h2anchor">Why should I care about getting a non-toxic mattress?</a></li>
                        <ul class="list-group nested">
                            <li class="list-group-item"><a href="#2a">What do other mattresses use, and how could it affect me?</a></li>
                            <li class="list-group-item"><a href="#2b">What is Off-gassing?</a></li>
                            <li class="list-group-item"><a href="#2c">How do they get away with it?</a></li>
                        </ul>
                        <li class="list-group-item"><a href="#a3" class="h2anchor">What kinds of materials does Brentwood Home use and why?</a></li>
                        <li class="list-group-item"><a href="#a4" class="h2anchor">Brentwood Home's Materials</a></li>
                        <ul class="list-group nested">
                            <li class="list-group-item"><a href="#4a">Chart of our materials</a></li>
                            <li class="list-group-item"><a href="#4b">Brentwood Home’s certifications</a></li>
                            <li class="list-group-item"><a href="#4c">Brentwood Home’s non-toxic Mattresses</a></li>
                        </ul>
                        <li class="list-group-item"><a href="#a5" class="h2anchor">Resources</a></li>
                        <ul class="list-group nested">
                            <li class="list-group-item"><a href="#5a">Certipur and eco-institut certifications</a></li>
                            <li class="list-group-item"><a href="#5b">Learn more about the Brentwood Home mattress in a box</a></li>
                        </ul>
                    </ul>
                </div> 
            </div>
    
            <!-- Right Column -->
            <div class="col-lg-9 col-md-9 col-sm-9 right-pane">
                <!-- 2. Is a bed-in-abox... -->
                <h2 id="a1">1. What is a non-toxic mattress?</h2>
                <p id="2a">A non-toxic mattress is a mattress that is certified free of any toxic chemicals that may be unsafe for you and your home. Many mattresses are made using harsh chemicals that can be harmful to breathe in or can trigger allergic reactions for people with sensitive skin. Non-toxic mattresses often contain a combination of natural, organic materials, and have the certifications to prove it. Read on to learn about the materials to look for in your non-toxic mattress.</p>
    
                <h2 id="a2">2. Why should I care about getting a non-toxic mattress?</h2>
                <p>The truth is, your mattress should be one of the first places you look when it comes to detoxing your home. You’d be surprised about the amount of harsh chemicals that go into treating most mattresses during the manufacturing process. Some mattresses are made with plastics and vinyls, contain chemical flame retardants, heavy metals, phthalates, and even formaldehyde.</p>
                <h3 id="2a">A. What do other mattresses use, and how could it affect me?</h3>
                <p>Toxic materials found in many mattresses include:</p>
                <ul class="list-group steps">
                    <li class="list-group-item">Chemical flame retardants
                    <ul class="list-group bullets level2">
                        <li class="list-group-item">Firemaster 550 - This material includes a particular phthalate that is banned from children’s products because of its carcinogenicity.</li>
                        <li class="list-group-item">Chlorinated tris - a chemical that’s been banned from children’s products since the 70’s because it had been discovered to be linked to cancer.</li>
                        <li class="list-group-item">Polybrominated diphenyl ethers - a fire retardant linked with developmental disorders in children. The worst part? <a href="http://articles.chicagotribune.com/2012-05-09/business/ct-met-flames-science-20120509_1_flame-retardants-chemical-industry-toxic-chemicals" target="blank" title="This retardant doesn’t even work very well at stopping fires.">This retardant doesn’t even work very well at stopping fires.</a></li>
                    </ul>
                    </li>
                    <li class="list-group-item">Phthalates</li>
                    <li class="list-group-item">Heavy metals</li>
                    <li class="list-group-item">Formaldehyde</li>
                </ul>
    
                <h3 id="2b">B. What is off-gassing?</h3>
                <p>Have you heard friends and family complain about “off-gassing” when talking about their new mattress? Most of these volatile organic compounds, VOCs, are to blame, and it’s pretty frightening to think about breathing them in through the night. After all, we do spend about ⅓ of our lives asleep and in our beds. Scarier yet is that too much exposure to these volatile organic compounds has been linked to health problems from chest irritation to cancer. Better safe than sorry when it comes to the materials you choose to bring into your home.</p>
                
                <h3 id="2c">C. How do they get away with it?</h3>
                <p>Using unsafe chemicals as a way to reach fire safety standards has been the norm for years, and the chemical industry has been working in its own interest to hide it from consumers.</p>
                <p><a href="http://articles.chicagotribune.com/2012-05-09/business/ct-met-flames-science-20120509_1_flame-retardants-chemical-industry-toxic-chemicals" target="_blank" title="In a Chicago Tribune article from 2012">In a Chicago Tribune article from 2012</a>, it is said that, “...the chemical industry successfully distorted the basic knowledge about toxic chemicals that are used in consumer products and linked to serious health problems, including cancer, developmental problems, neurological deficits and impaired fertility. Industry has disseminated misleading research findings so frequently that they essentially have been adopted as fact. They have been cited by consultants, think tanks, regulators and Wikipedia, and have shaped the worldwide debate about the safety of flame retardants.”</p>
                <p>It is more important than ever to do your research when shopping for the home. Brentwood Home is committed to using materials in their products that are safe for you and your family, and that create a minimal impact on the environment.
                </p>
                
                <h2 id="a3">3. What kind of materials does Brentwood Home use and why?</h2>
                <p>At Brentwood home, we obsess over creating home essentials made with a combination of non-toxic, organic, and natural materials. We believe that home should be the safest place there is, and that means absolutely no harmful chemicals in our products. Materials like 100% natural latex, organic cotton, and foams certified by <a href="http://certipur.us" title="CertiPUR-US" target="_blank">CertiPUR-US</a> mean you and your family can sleep safe and sound.</p>
                
                <img src="{{'Palmetto-materials-clean.jpg'|asset_url}}" class="img-responsive" alt="Materials">
                
                <h2 id="a4">4. Brentwood Home's Materials</h2>
                <p>Here’s a list of some of the materials we choose to use in our non-toxic mattresses.</p>
                <h3 id="4a">a. Chart of our materials</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>New Zealand Wool</td>
                        <td>A natural and sustainable material, the benefits of wool are endless. It wicks away moisture, acts as a natural fire barrier, and regulates body temperature, keeping you cool when it’s hot and vice versa.</td>
                    </tr>
                    <tr>
                        <td>Silk & Cashmere Blend</td>
                        <td>A luxurious blend of silk and cashmere helps regulate temperature by keeping your mattress breathable, and it repels moisture to prevent mold and mildew.</td>
                    </tr>
                    <tr>
                        <td>Natural Latex</td>
                        <td>Natural latex is bouncy and resilient, pushing back to support your pressure points. It’s the most breathable material we use, and is the most natural material you’ll find in any mattress.</td>
                    </tr>
                    <tr>
                        <td>Gel Memory Foam</td>
                        <td>Gel memory foam relieves pressure points by distributing weight evenly across the mattress. Ideal for couples, it isolates motion so you won’t disturb your partner while you sleep. Best of all, our memory foam is certified free of any toxic chemicals by CertiPUR-US.</td>
                    </tr>
                    <tr>
                        <td>Woven Silica Sand Layer</td>
                        <td>For fire protection, our silica sand layer stops flames without harmful chemicals</td>
                    </tr>
                    <tr>
                        <td>Organic Cotton</td>
                        <td>Organic cotton is grown in untreated fields without pesticides, and we use it for covers on all of our pillows, plus our kids pillows and mattresses.</td>
                    </tr>
                </table>
                
                <p>At Brentwood Home, much of the product development process is spent researching and sourcing materials ourselves, making sure they meet Golden State standards for environmental responsibility. Just see what some of our customers have to say.</p>
                
                <p><strong>These are good people making great mattresses</strong><br>
                We bought a mattress manufactured by one of the big-name mattress companies. After about a week we demanded that the retailer take it back because it smelled like formaldehyde. I did some research and discovered that most mattresses are made with rather noxious chemicals. Brentwood was the exception. The mattress Brentwood made for us is incredible. We got the firm version and it is perfect. I spoke with a Brentwood employee on the phone and he was remarkably knowledgeable and helpful.<br>
                <i class="text-right">Dan S., verified Brentwood Home buyer on 11/09/16</i></p>
                
                <p><strong>Best mattress we’ve owned!</strong><br>
                    My wife and I just moved to a new house and needed a new mattress. She did a lot of research since we were looking for a mattress that suited both of our tastes, she likes softer mattresses and I prefer firm. Also, we are expecting and wanted a natural bed free of toxins and chemicals that would be safe for our little one can co-sleep with us. Shipping was extremely prompt, we received the mattress within days of placing the order. Once we open the box the mattress self inflated and there were zero chemical smells that you usually get from other mattress brands. We've been sleeping on the Brentwood Mirador for well over a week now and wake up every morning refreshed from a solid night's sleep. We are very happy with our purchase and are now buying a Brentwood Homes crib mattress for our little one's nursery as well!
                    <br>
                    <i class="text-right">Verified Amazon buyer on 9/7/16</i></p>
                    
                <p><strong>A Truly Amazing Mattress - Must Have for Those Who Suffer Musculoskeletal Pain</strong><br>
                    One of the things mattresses that ship to your home are almost always notorious for is the toxic-like smell that they have when you open them, creating a necessity to open windows and air the mattress out for a number of days. This mattress had absolutely no traces of such a smell and no airing out was needed. When you consider how much time is actually spent in bed over the years and how bad exposure to such chemicals and heavy metals can be to your body, it becomes evident why it is so important to get a mattress like this one, which is made with natural materials that are non-toxic.<br>
                    <i class="text-right">Verified Amazon buyer on 10/12/2016</i></p>
                
                <h3 id="4b">b. Brentwood Home’s certifications</h3>
                <p>Brentwood Home holds certifications by renowned organizations dedicated to ensuring consumers purchase foams and other materials that meet the highest standards for the environment and safety. Brentwood Home uses foams certified by the <a href="http://www.eco-institut.de/en/" target="_blank" title="eco-INSTITUT">eco-INSTITUT</a> and <a href="http://certipur.us" title="CertiPUR-US" target="_blank">CertiPUR-US</a>.</p>
                
                <p>What’s CertiPUR-US? They’re a not-for-profit organization that focuses on certification of flexible polyurethane foam contained in bedding and upholstered furniture to assure low emissions and high performance. Their technical guidelines and testing requirements are easy to find on their website for full transparency, and they’re living documents that are continually reviewed and improved. CertiPUR-US foams are:</p>
                
                <ul class="list-group bullets">
                    <li class="list-group-item">Made without ozone depleters</li>
                    <li class="list-group-item">Made without PBDEs, TDCPP or TCEP (“Tris”) flame retardants</li>
                    <li class="list-group-item">Made without mercury, lead and heavy metals</li>
                    <li class="list-group-item">Made without formaldehyde</li>
                    <li class="list-group-item">Made without phthalates regulated by the Consumer Product Safety Commission</li>
                    <li class="list-group-item">Low VOC (Volatile Organic Compound) emissions for indoor air quality (less than 0.5 parts per million)</li>
                </ul>
                
                <p>What’s the eco-INSTITUT?<br>
                    Based in Germany, the eco-INSTITUT is another label marking products that meet the strictest requirements for emissions and pollutants. The eco-INSTITUT-Label has been developed according to the latest state of the art and also product group standards defined by the organization. They’re proud to list the <a href="http://www.eco-institut.de/en/" target="_blank" title="transparent criteria of their testing">transparent criteria of their testing</a>, along with a list of companies that hold their label. This organization seeks to provide:</p>
                <ul class="list-group bullets">
                    <li class="list-group-item">Safety and no health risks due to comprehensive emission and toxicological testing</li>
                    <li class="list-group-item">Healthier products and thus less toxicological contamination in your home</li>
                    <li class="list-group-item">Advice on shopping decisions due to additional product information</li>
                </ul>
                <p>We’re proud to meet this standards for our customers, as they mean a better life for you and a healthier environment by making a minimal impact.</p>
                
                <h3 id="4c">c. Brentwood Home’s non-toxic mattresses</h3>
                <p><img src="{{'nontoxic-palmetto-lifestyle.jpg'|asset_url}}" alt="non-toxic mattresses" class="img-responsive"></p>
                <p>At Brentwood Home, we offer three lines of handcrafted mattresses using absolutely no toxic chemicals: natural latex, spring, and memory foam. Each consists of three mattresses at descending price points, so you can find something that fits your budget and the kind of support you need. We’ve combined the convenience and ease of the mattress-in-a-box trend with 30 years of manufacturing experience in bedding, natural materials, and California spirit. Find your perfect fit with no hassle - we offer free shipping and returns, plus a 1-Year Risk-Free Sleep Trial guarantee.</p>
                
                
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Natural Latex collection</td>
                            <td>Our latex collection comprises the most natural mattresses we offer, using impossibly soft layers of 100% natural latex. For a bouncier feel—soft but sturdy—natural latex is plush but supportive, good for delicate backs and those who want a little morning get-up-and-go. </td>
                            
                        </tr>
                        <tr> 
                            <td>2. Memory Foam collection</td>
                            <td>For those who appreciate the hugging sensation of memory foam, this collection is your key to a more restful, deep sleep. Your joints and pressure points will thank you in the morning for the cradling support and responsive foam that adjusts to your every move.</td>
                            
                        </tr>
                        <tr>
                            <td>3. Spring Collection</td>
                            <td>You can’t go wrong with a traditional spring mattress. This collection of well-crafted spring hybrid mattress will last for years. Enjoy the comfort of gel memory foam with the support of individually wrapped coils.</td>
                            
                        </tr>
                    </tbody>
                </table>
                <div class="spacer"></div>
    
    
                <!-- 4. Resources -->
                <div class="spacer"></div>
                <h2 id="a5">5. Resources</h2>
                <h3 id="5a">A. Links to resources</h3>
                <p>As you can see, it’s more important than ever to be sure your mattress is safe and healthy for your and your home. Brentwood Home uses a combination of organic, nontoxic, and natural materials with no chemical retardants, phthalates, ozone depleters, or heavy metals. Materials like 100% natural latex, organic cotton, and foams certified by the <a href="http://www.eco-institut.de/en/" target="_blank">eco-INSTITUT</a> and <a href="http://certipur.us" target="_blank">CertiPUR-US</a> mean you and your family can sleep safe and sound. </p>
                <p>At Brentwood Home, we obsess over creating lifestyle essentials using healthy and sustainable materials and products, all inspired by our love for the natural world and our home in California. They're handcrafted in our LA workshops, where we maintain honest prices by eliminating middlemen and shipping directly to you. We believe that a comfortable life shouldn’t be out of reach, so we cut out the middleman and do what we do with honest prices. </p>
                <h3 id="5b">b. Learn more about the Brentwood Home mattress in a box</h3>
                <p><a href="/collections/mattresses">Click here</a> to shop our catalog of natural, handcrafted mattresses. We pride ourselves on being hassle free with free shipping both ways, a 1-year sleep trial guarantee on your mattress-in-a-box, and a 25-year limited warranty.</p>
            </div>
        </div> 
    </div>        
    </div>
    
<script>
    mixpanel.track("Materials Page", {
        "name": "{{ page_title | handle }}"
    });
</script>