<style>
    .bluebckg{
        background-color: #454d5a;
        padding: 40px 0;
    }
    .graytxt{
        color: gray;
        padding: 40px 0;
    }
    .graytxt P{
        color: gray;
    }
    .graytxt H2{
        color: #454d5a;
    }

    .shopify-buy-frame--product{
        background-color: #454d5a;
    }
    SECTION.sierraD-test P{
        color: white;
    }
    SECTION.sierraD-test H2{
        color: white;
        margin-bottom: 35px;
    }
    .guarantees h4{
        color: #454d5a;
        margin: 30px 0 15px 0;
    }
    DIV.landing DIV.jumbtron DIV.tagline{
        
    }
    DIV.landing DIV.jumbtron.oceano DIV.tagline{
        margin-left: -400px;
        max-width: 800px;
    }
    .template-page H1{
        margin: 10px 0;
    }
    DIV.landing A.lp-cta{
        background-color: transparent;
        border: 1px solid #4A4A4A;
        color: #4A4A4A;
        display: none;
    }
    @media (max-width: 414px){
        DIV.landing DIV.jumbtron.oceano DIV.tagline{
            margin-left: auto;
            top: 47px;
        }
        DIV.landing DIV.jumbtron.oceano DIV.tagline H1{
            font-size: 28px;
            line-height: 28px;
        }
    }
</style>

<div id="followMeBar" class="stickybuy-invisible">
    <p class=""><span style="font-size: 20px;color: white;line-height: 50px;">The Oceano Mattress </span><a href="/products/oceano-mattress" class="sscroll lp-cta" title="">BUY</a></p>
</div>
<div class="landing">
    <div class="jumbtron oceano">
        
            <picture>
                <source media="(max-width: 480px)" srcset="https://brentwood-home.imgix.net/oceano-lp-noframe.jpg?ch=Width,DPR&w=480&fit=clip">
                <source media="(min-width: 481px)" srcset="https://brentwood-home.imgix.net/oceano-lp-noframe.jpg?ch=Width,DPR&w=1600&fit=clip&q=55">
                <img src="https://brentwood-home.imgix.net/oceano-lp-noframe.jpg?ch=Width,DPR&w=1600&fit=clip&q=55" alt="">
            </picture>
        
        <div class="tagline" style="">
            <h1 class="text-center">3 reasons this mattress will change your life</h1>
            <p class="line hidden-xs"><i>See why the Oceano is rated the #1 luxury mattress online</i></p>
            <p><a href="#start" class="sscroll lp-cta hidden-xs">Discover</a></p>
        </div>
    </div>
    <div id="start"></div>
    <div id="" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2 class="text-center">Classic build meets modern technology for the best hybrid mattress</h2>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="https://brentwood-home.imgix.net/oceano-internals.jpg?ch=Width,DPR&w=800&dpr=1&fit=clip" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <h2>Sleep healthier with all non-toxic materials</h2>
                <p style="margin: 40px 0;">Our commitment to a healthy home and life means no pesticides, toxins, or harmful chemicals. We use low VOC and Certi-PUR-US certified foams, and our flame barrier is completely chemical-free.</p>
                <p class="text-center">
                    <a href="/products/oceano-mattress" class="ctaStd">Sleep Healthier</a>
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="https://brentwood-home.imgix.net/mattress-5zones.jpg?ch=Width,DPR&w=800&dpr=1&fit=clip" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 even">
                <h2>Ultimate comfort & support</h2>
                <p style="margin: 40px 0;">Relieve pressure throughout your body and instantly adjust your spine into healthy alignment. The 5-zone base of individually wrapped coils provide targeted support to your lower back and shoulders to give this mattress the perfect luxury hotel feel.</p>
                <p class="text-center">
                    <a href="/products/oceano-mattress" class="ctaStd">Sleep with Support</a>
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="https://brentwood-home.imgix.net/oceano-corner.jpg?ch=Width,DPR&w=800&dpr=1&fit=clip" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 even">
                <h2>Handcrafted quality without the high retail cost</h2>
                <p style="margin: 40px 0;">At a fraction of the retail cost but without compromising on handcrafted quality. 0% financing plus free shipping, a 25 year warranty and a 120 night risk-free trial, our top selling Oceano won’t break the bank or your wallet.</p>
                <p class="text-center">
                    <a href="/products/oceano-mattress" class="ctaStd">Try it risk-free</a>
                </p>
            </div>
        </div>
    </section>

    {%comment%}
    {{ 'starsanimation.css' | asset_url | stylesheet_tag}}
    <section id="nightguarantee">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div id='title'>
            <span>
                120-NIGHT
            </span>
            <br>
            <span>
                GUARANTEE
            </span>
        </div>
    </section>
    {%endcomment%}
    <section class="graytxt guarantees">
        <h2 class="text-center">Our Guarantees</h2><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-120nights.svg" alt="120-Night Guarantee" />
                    <h4>120-Night Guarantee</h4>
                    <p class="hidden-xs">Sleep on your mattress for up to 120 nights. If you don’t love it, return it for a full refund.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-FreeShipping2.svg" alt="Free Shipping & Return" />
                    <h4>Free Shipping & Returns</h4>
                    <p class="hidden-xs">This mattress ships for free with free pickups on returns.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-California.svg" alt="Made in California" />
                    <h4>Made in California</h4>
                    <p class="hidden-xs">We design, develop, and handcraft all of our mattresses here in Los Angeles, CA.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <img src="https://brentwood-home.imgix.net/icon-25YearWarranty.svg" alt="25-Year Warranty" />
                    <h4>25 Year Limited Warranty</h4>
                    <p class="hidden-xs">We’re proud of our quality, so we back our mattresses with a 25 year warranty.</p>
                </div>
            </div>
        </div>
    </section>

</div>
<script>
    mixpanel.track("Oceano LP Top 3",{
        "ab version": "control"
    });

</script>
<script>
    $(document).ready(function(){
        $('A.sscroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 150
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
        //$("#sitewidesalebanner").css({"display":"none"});

    });
    //sessionStorage.setItem("page", "SierraLP");
</script>
