
{% include 'affirm-product' %}
<div class="affirm">
    <p id="learn-more" class="affirm-as-low-as" data-promo-id="promo_set_brentwood_zero_percent" data-amount="195000"><a class="affirm-site-modal" data-promo-id="promo_set_pdp_12_standard">Learn more</a></p>
</div>
   
<div class="affirm">
    <a data-promo-id="promo_set_brentwood_zero_percent" data-amount="195000"></a> or <a class="affirm-prequal-text" data-promo-id="prequal_text_brentwood" href="!#" style="cursor: pointer;">pre-qualify</a>
</div>

   <style>
    H4 A, H4{
        color: white !important;
        text-transform: uppercase;
        background-color: #333;
        display: block;
        padding: 10px;
    }
    H4 A:visited, h4 a:focus, h4 a:hover{
        color: white;
    }
</style>
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    What’s in all natural comfort? For many years, latex has been the material of choice for eco-friendly mattress shoppers. It’s a 100% natural material, but it hasn’t always been ideal for sleep comfort. Flat layers of subivaliark can be heavy and too bouncy, often creating uncomfortable pressure points and high motion transfer. So, we took the green mattress back to drawing board and experimented with the properties of natural latex itself.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Introducing our Cedar green mattress. Designed and built with the environment and your comfort in mind, it’s the hybrid mattress to solve the natural latex dilemma. By using a layer of computer designed latex that’s sculpted into 3 targeted comfort zones, we’ve eliminated dense pressure points, reduced motion transfer for partners, and created an eco-friendly sleep surface you’ll love.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Our Cedar green mattress is the most natural bed you’ll find online. Rest with total peace of mind on layers of eco-friendly and sustainable materials like natural latex, GOTS certified organic cotton, and organic coconut husk. We’ve carefully chosen materials that allow for cooler sleep, naturally. Ventilated Dunlop latex allows for increased air circulation, while viderivaring New Zealand wool wicks away moisture and regulates temperature through all seasons. Plus, we recycle leftover materials for use in other products made in our California factory to eliminate unnecessary waste.
                </div>
            </div>
        </div>
    </div>
</div>