<style>
    .template-page .standardPages h2, .template-page .standardPages h3{
        text-align: left;
    }
    .template-page .standardPages P{
        line-height: 26px;
    }
    .standardPages>.row{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .template-page .standardPages h2{
        margin-top: 0;
    }
    I.fa.affirm{
        color: #00c9e5;
    }
    UL LI{
        line-height: 40px;
    }
    OL LI{
        line-height: 27px;
        padding-bottom: 10px;
    }
    strong{
        color: #666;
    }
    .text-small{
        line-height: 20px !important;
    }
    .underline{
        text-decoration: underline;
    }
    .underline:HOVER{
        text-decoration: none;
    }
    .flexV div{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* The hero image */
    .hero-image {
        /* The image used */
        background-image: url("https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-hero.jpg?w=1920");

        /* Set a specific height */
        height: 62vh;

        /* Position and center the image to scale nicely on all screens */
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .hero-text H1{
        color: white;
        font-size: 52px !important;
        margin-bottom: 20px !important;
    }
    .hero-text H3{
        color: white;
        font-size: 20px !important;
        font-style: normal !important;
    }
    H2.sectiontitle{
        text-align: center !important;
        font-size: 36px;
    }
    Div.quote h2{
        font-size: 24px !important;
        font-style: italic !important;
        text-align: center !important;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 15px !important;
    }
    Div.quote{
        font-size: 24px;
        font-style: italic;
        text-align: center !important;
        margin: 0px 0 0 0;
    }
    Div.quote P{
        font-style: italic;
    }
    .missionLogos{
        margin: 20px 0 50px;
    }
    .margTBLarge{
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .sectionHighlight{
        background-color: #F9F4F4;
        padding: 150px 0;
    }
    P.reliefLogo IMG{
        max-width: 80%;
    }
    .section{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @media screen and (max-width:768px) {
        .flex{
            display: block;
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-10%, -50%);
            color: white;
        }
        .hero-text H1{
            color: white;
            font-size: 36px !important;
            margin-bottom: 20px !important;
        }
        .standardPages>.row{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .template-page .standardPages .section h2{
            margin-top: 40px;
        }
        .margTBLarge{
            margin-top: 60px;
            margin-bottom: 60px;
        }
        .breadcrumb-wrap{
            display: none;
        }
        .sectionHighlight{
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 60px 0;
        }
        .hero-image{
            height: 42vh;
        }
        P.reliefLogo IMG{
            max-width: 40%;
            margin: 20px auto;
        }
    }
</style>

<div class="rte standardPages">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="">Hybrid mattress benefits, what is a hybrid mattress?</h1>
        </div>
    </div>

    <div class="container section">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555">
                    <img src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555" alt="">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2>What to look for in a Hybrid Mattress</h2>
                    <p>The most important thing when buying any mattress is finding a bed that’s going to feel comfortable to you. After that, look for certified materials and whether the spring coil units are pocketed or encased in a cotton cover. Organic latex memory foam typically tend to last longer than synthetic ones. Keep an eye out for any certifications awarded for exceeding rigorous ethical and sustainable testing requirements. If you’re stuck between a spring mattress or a foam one, a hybrid mattress offers the best of both.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=480&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=555">
                    <img src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=555" alt="">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Plush Pillow Top Comfort</h2>
                    <p>Pillow top mattresses embody the pinnacle of luxury in the mattress industry. In addition to it’s plush comfort, there are many benefits of sleeping on a pillow top mattress. The luxurious comfort pillow top mattresses contour specifically to your body to remedy undisturbed rest and tossing and turning. Less pain and more support without the firm feeling traditional spring or memory foam mattress offer. The quality of pillow top mattresses also makes them last longer by using high quality and organic certified materials.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555">
                    <img src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555" alt="">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2>Breathable comfort: Sleep Cool with a Gel Hybrid Mattress</h2>
                    <p>Gel infused memory foam provides a cooler sleep. The coils in a hybrid mattress allow it to breathe and disperse heat evenly. Sleep cool and confidently through sweltering summer nights. Higher end mattresses pair heat releasing open cell memory foam with a layer of moisture wicking organic wool layer, giving the coolest layer of comfort you can find!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=480&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=555">
                    <img src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed-ataglance2.jpg?rect=1559,0,1724,2386&w=555" alt="">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>More Coils, More Support</h2>
                    <p>The more coils the better. If support is an important point of purchase for you, consider the amount of coils and microcoils present in hybrid mattresses. On average, most spring mattresses offer around 1400 coils, offering a medium firm feel with adequate support. Our Oceano hybrid mattress offers over <a href="/products/oceano-mattress?variant=19259096902">3000</a> coils without sacrificing an inch of plush pillow top comfort.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container section">
        <div class="row flex">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555&ch=Width,DPR&q=55">
                    <source media="(min-width: 768px)" srcset="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555">
                    <img src="https://s3-brentwoodhome.imgix.net/BrentwoodHome-reliefbed2.jpg?rect=1136,100,1664,2302&w=555" alt="">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 flexV">
                <div>
                    <h2>Sleep Trials & Warranty</h2>
                    <p>Most bed in a box mattress brands will offer some type of sleep trial enabling you to experience the bed in the comfort of your own home for a varied amount of time. Typically, mattresses can take up to several months to fully “break in”. Knowing that, we proudly offer a one year sleep trial in order to experience the handcrafted quality of our mattresses.<br>
                        Warranties range from 1 year to 25. Most offering to replace or refund your mattress should they come with any type of defect or manufacturing error. 

                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center" style="margin: 50px 0;"><a href="/collections/mattresses" class="cta2 solid text-center">shop mattresses</a></p>


</div>

