
<header class="">
    <h1>{{ page.title }}</h1>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div id="warranty-container">
    
    <style type="text/css"> .form-label-left{ width:150px !important; } .form-line{ padding-top:12px; padding-bottom:12px; } .form-label-right{ width:150px !important; } .form-all{  } .jotform-form{padding-top: 0;}
        .wrapper-container{
            background-image: url({{ 'joinbackground.jpg' | asset_url }});
            background-size: cover;
            background-position: right center;
        }
        .supernova .form-all, .form-all{
            background-color: transparent;
        }
        .jotform-form{
            padding-top: 20px;
        }
        DIV#warranty-container #warranty-center{
            margin-top: 20px;
        }
        .main-content{
            border-top: none;
        }
        .template-page H1{
            margin-bottom: 20px;
        }
        .form-label.form-label-auto{
            text-transform: uppercase;
            color: #454D5A;
        }
        DIV#warranty-container .form-textbox{
            border-bottom: 1px solid #454D5A;
        }
        .breadcrumb a:hover, .breadcrumb span.current-tag{
            font-size: 15px;
        }
        INPUT{
            text-align: center;
            color: #454D5A;
        }
        INPUT::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #454D5A;
        }
        INPUT::-moz-placeholder { /* Firefox 19+ */
            color: #454D5A;
        }
        INPUT:-ms-input-placeholder { /* IE 10+ */
            color: #454D5A;
        }
        INPUT:-moz-placeholder { /* Firefox 18- */
            color: #454D5A;
        }
        input[type="email"].big-dog::-webkit-input-placeholder {
            color: #454D5A;
        }
        LABEL.form-label.form-label-auto{
            display: none;
        }
        .form-input-wide{
            text-align: center;
        }
        H1{
            font-style: italic;
            font-size: 38px;
            text-transform: initial;
            color: #454D5A;
        }
        P{
            color: #545D5A;
        }
        DIV#warranty-container .form-textbox{
            color: #454D5A;
        }
        DIV#warranty-container .form-submit-button{
            /*border: 1px solid white;*/
            width: 40%;
            transition: background-color 0.5s ease;
            background-color: #454d5a;
            padding: 15px;
            height: auto;
            padding: 15px;
            text-transform: uppercase;
            border-radius: 0;
            letter-spacing: 2px;
            color: white;
        }
        DIV#warranty-container .form-submit-button:HOVER{
            background-color: transparent;
            border: 1px solid #454d5b;
            color: #454d5b;
        }
        .field-shift {
            left: -9999px;
            position: absolute;
        }
    </style>

        {{page.content}}



<div class="klaviyo-form-XRzaFQ"></div>
<br>
    <p class="text-center">By submitting this form, you agree to receive emails from Brentwood Home.</p>
    <p class="text-center"><a href="/pages/privacy-policy" target="_blank">Privacy Policy</a></p>
</div>


