
<header class="">
    <h1>{{ page.title }}</h1>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div id="warranty-container">
    
    <style type="text/css"> .form-label-left{ width:150px !important; } .form-line{ padding-top:12px; padding-bottom:12px; } .form-label-right{ width:150px !important; } .form-all{  } .jotform-form{padding-top: 0;}
        .wrapper-container{
            background-image: url({{ 'joinbackground.jpg' | asset_url }});
            background-size: cover;
            background-position: right center;
        }
        .supernova .form-all, .form-all{
            background-color: transparent;
        }
        .jotform-form{
            padding-top: 20px;
        }
        DIV#warranty-container #warranty-center{
            margin-top: 20px;
        }
        .main-content{
            border-top: none;
        }
        .template-page H1{
            margin-bottom: 20px;
        }
        .form-label.form-label-auto{
            text-transform: uppercase;
            color: #454D5A;
        }
        DIV#warranty-container .form-textbox{
            border-bottom: 1px solid #454D5A;
        }
        .breadcrumb a:hover, .breadcrumb span.current-tag{
            font-size: 15px;
        }
        INPUT{
            text-align: center;
            color: #454D5A;
        }
        INPUT::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #454D5A;
        }
        INPUT::-moz-placeholder { /* Firefox 19+ */
            color: #454D5A;
        }
        INPUT:-ms-input-placeholder { /* IE 10+ */
            color: #454D5A;
        }
        INPUT:-moz-placeholder { /* Firefox 18- */
            color: #454D5A;
        }
        input[type="email"].big-dog::-webkit-input-placeholder {
            color: #454D5A;
        }
        LABEL.form-label.form-label-auto{
            display: none;
        }
        .form-input-wide{
            text-align: center;
        }
        H1{
            font-style: italic;
            font-size: 38px;
            text-transform: initial;
            color: #454D5A;
        }
        P{
            color: #545D5A;
        }
        DIV#warranty-container .form-textbox{
            color: #454D5A;
        }
        DIV#warranty-container .form-submit-button{
            /*border: 1px solid white;*/
            width: 40%;
            transition: background-color 0.5s ease;
            background-color: #454d5a;
            padding: 15px;
            height: auto;
            padding: 15px;
            text-transform: uppercase;
            border-radius: 0;
            letter-spacing: 2px;
            color: white;
        }
        DIV#warranty-container .form-submit-button:HOVER{
            background-color: transparent;
            border: 1px solid #454d5b;
            color: #454d5b;
        }
        .field-shift {
            left: -9999px;
            position: absolute;
        }
    </style>

        {{page.content}}

    {%comment%}
    <div id="mc_embed_signup">
        <form action="https://brentwoodhome.us9.list-manage.com/subscribe/post?u=855577813e25708f5bf897c2e&amp;id=127fd5f77e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                    <label for="mce-MMERGE3">Zip Code  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_855577813e25708f5bf897c2e_127fd5f77e" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>
    
    
   
    
    <form action="https://brentwoodhome.us9.list-manage.com/subscribe/post?u=855577813e25708f5bf897c2e&amp;id=127fd5f77e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="form-all">
            <ul class="form-section page-section">
                <li class="form-line jf-required" data-type="control_fullname" id="id_9">
                    <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9">First Name <span class="form-required"> * </span> </label> 
                    <div id="cid_9" class="form-input-wide jf-required">
                        
                        <input type="text" name="MERGE1" id="MERGE1" class="form-textbox" required placeholder="FIRST NAME" size="10" value="" data-component="first" />
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_10">
                    <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10">Last Name <span class="form-required"> * </span> </label> 
                    <div id="cid_10" class="form-input-wide jf-required">
                        
                        <input type="text" name="MERGE2" id="MERGE2" class="form-textbox" required placeholder="LAST NAME" size="15" value="" data-component="last" />
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_email" id="id_5">
                    <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> E-mail <span class="form-required"> * </span> </label> 
                    <div id="cid_5" class="form-input-wide jf-required"> 
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" required data-validation-required-message="Please enter your email address." placeholder="E-MAIL" class="form-textbox" size="30" value="" data-component="email" /> 
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_textbox" id="id_6">
                    <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> ZIP <span class="form-required"> * </span> </label> 
                    <div id="cid_6" class="form-input-wide jf-required"> 
                        <input type="text" name="MERGE3" id="MERGE3" placeholder="ZIP CODE" data-type="input-textbox" class="form-textbox" size="5" value="" data-component="textbox" />
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_2">
                    <div id="cid_2" class="form-input-wide">
                        <div class="form-buttons-wrapper"> 
                            <input id="submit" type="submit" class="form-submit-button" data-component="button" value="Join us">
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_855577813e25708f5bf897c2e_127fd5f77e" tabindex="-1" value=""></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
 {%endcomment%}

    <iframe
      id="JotFormIFrame-70805888384167"
      title="Join our dream team"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/70805888384167"
      frameborder="0"
      style="
      min-width: 100%;
      height:539px;
      border:none;"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-70805888384167");
      if(window.location.href && window.location.href.indexOf("?") > -1) {
        var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
        if(ifr && get.length > 0) {
          var src = ifr.src;
          src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;
          ifr.src = src;
        }
      }
      window.handleIFrameMessage = function(e) {
        if (typeof e.data === 'object') { return; }
        var args = e.data.split(":");
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe) { return; }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            var src = args[1];
            if (args.length > 3) {
                src = args[1] + ':' + args[2];
            }
            var script = document.createElement('script');
            script.src = src;
            script.type = 'text/javascript';
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if      (window.document.exitFullscreen)        window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      </script>
    <p class="text-center">By submitting this form, you agree to receive emails from Brentwood Home.</p>
    <p class="text-center"><a href="/pages/privacy-policy" target="_blank">Privacy Policy</a></p>
</div>


