<h1 style="margin: 50px 0;">{{ page.title }}</h1>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3 class="text-center"><i class="fa fa-truck" aria-hidden="true"></i> Shipping & Returns</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            1. When can I expect my Brentwood Home products to arrive?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        We make everything to order when you purchase from BrentwoodHome.com. The handcrafting process usually takes <b>3–5 days to complete</b>, and delivery times vary depending on your distance from our Los Angeles workshops. Expect to receive your mattress <b>within 5–10 business days</b> after placing your order. We’ll send confirmation by email with a tracking number.
                        <p class="info">May 2018 update: Due to an increase in demand for products that include latex, expect 1-2 weeks plus shipping until you receive your order.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. What are the dimensions of the box my mattress will ship in?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="fleft">
                            <ul>
                                <li class="first"><b>Foam & Latex Mattresses</b></li>
                                <li>Twin/XL: 15”x15”x42”</li>
                                <li>Full: 15”x15”x56”</li>
                                <li>Queen: 20”x20”x48”</li>
                                <li>King/Cal King: 20”x20”x48”</li>
                            </ul>
                        </div>
                        <div class="fright">
                            <ul>
                                <li class="first"><b>Spring & Hybrid Mattresses</b></li>
                                <li>Twin/XL: 15”x15”x42”</li>
                                <li>Full: 15”x15”x56”</li>
                                <li>Queen: 15”x15”x62”</li>
                                <li>King/Cal King: 15”x15”x79”</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Can an entire luxury mattress really fit in that box?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <b>Yes!</b> Mattress technology has changed so much in the past decade. Even high-end mattresses can be easily shipped to your home in smaller boxes.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            4. How do I take it out of the box?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        Open the box where you’d like your mattress to sit. The mattress will be sealed inside plastic, so you can slide it out easily. Inside the box, <b>you’ll also find a little white, plastic safety blade. Use that blade to open the plastic.</b> Once the mattress is open, it’ll have a little rebound, but it won’t burst open. <b>Sit back and watch as it quickly recovers.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            5. When can I sleep on it?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        Your mattress might take up to <b>5 days to recover from being compressed in its box, but you can sleep on it right away with no problem</b>. Just give it a few days before you make any decisions.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            6. What's my return policy?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <p><b>Mattresses & Box Springs</b></p>
                        <p>We offer a 120 night sleep guarantee. Sleep on your mattress for 30 days to allow your body time to adjust to the new bed. During the remaining 90 nights, if you decide your new mattress isn't the right one for you, then we will send someone to pick it up and give you a <b>100% full refund</b>. Only applies to items purchased directly on <a href="http://www.brentwoodhome.com">brentwoodhome.com</a> with a <b>limit of 2 items per year per household</b>. Standard shipping costs will apply after that.</p>
                        <p><b>All Other products</b></p>
                        <p>If you decide they're not right for you, then you may return your pillows, mattress protectors, and other products <b>within 30 days of placing your order</b>.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingHeight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                            7. What if I purchased from a third-party retailer?
                        </a>
                    </h4>
                </div>
                <div id="collapseHeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHeight">
                    <div class="panel-body">
                        If you purchased your Brentwood Home products from a third-party source, returns are a little different and subject to each respective retailer’s return policy, <b>so <b>we cannot honor the 120-night guarantee on purchases from outside vendors.</b></b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseHeight">
                            8. How does In Home Delivery work?
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        Once purchased, a representative will call to arrange a delivery date and confirm an appointment time. For mattresses that require In Home Delivery, estimated delivery time is about 2-3 weeks from time of purchase.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3 class="text-center"><i class="fa fa-leaf" aria-hidden="true"></i> Health & Materials</h3>
        <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwelve">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                            1. How is it possible that you don’t use chemical fire retardants? Doesn’t every mattress have to use them?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                    <div class="panel-body">
                        Fortunately, it’s totally possible to avoid using chemical fire retardants with a hydrated-silica sand. Hydrated silica is basically <b>crushed quartz and opal gemstones</b>. We also line our mattresses with <b>New Zealand wool, which is another natural fire barrier.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThirteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                            2. How does that work?
                        </a>
                    </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                    <div class="panel-body">
                        When exposed to flames, the hydrated silica and the New Zealand wool fire barriers naturally char and self-extinguish without the use of chemicals.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFourteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            3. Why don’t other people use this material?
                        </a>
                    </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                    <div class="panel-body">
                        Well, it’s a little pricier. But because we own our workshops and make all our mattresses ourselves, we save money without a middleman and can afford to put a little extra care into making our mattresses completely nontoxic.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFifteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                            4. What about the gel memory foam? I heard it might be toxic and give off a strong odor?
                        </a>
                    </h4>
                </div>
                <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                    <div class="panel-body">
                        We only use <b>CertiPUR-US-certified nontoxic</b> polyurethane foam, which means <b>low VOC</b> emissions. When you open up your Brentwood Home pillows and mattresses, you won’t get the same “off-gassing” odors you might find from other memory foams.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSixteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                            5. Where do you source all your materials?
                        </a>
                    </h4>
                </div>
                <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                    <div class="panel-body">
                        Since <b>we handmake everything here in California</b>, we try to source locally when we can. But if we can’t, <b>we look for the next best thing.</b><br>
                        <p>Foams – California</p>
                        <p>Fire Barrier Fabric – California</p>
                        <p>Wool – New Zealand</p>
                        <p>Textiles – Illinois & North Carolina</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeventeen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                            6. Are the bamboo mattress covers removable/washable/replaceable?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                    <div class="panel-body">
                        The bamboo cover on our mattresses can be removed and spot cleaned, but if that doesn’t do the trick, we sell replacements. <b>Definitely beware that washing your bamboo cover isn’t a good idea, because it’s lined with New Zealand wool that can easily shrink in a washer or dryer.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEighteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                            7. What’s the difference between gel memory foam and regular memory foam?
                        </a>
                    </h4>
                </div>
                <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                    <div class="panel-body">
                        Our gel memory foam is a specially formulated memory foam, <b>designed to breathe better and sleep cooler than traditional memory foam.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNineteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                            8. Is the kapok in some of your pillows hypoallergenic?
                        </a>
                    </h4>
                </div>
                <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                    <div class="panel-body">
                        <b>Kapok is an all-natural material picked from the seed pods of trees in South America.</b> While it’s possible some people may have an allergy to kapok, most do not, <b>making this a hypoallergenic alternative to latex and a vegan alternative to down.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-xs-block"></div>
    <div class="col-xs-12 col-md-6">
        <h3 class="text-center"><i class="fa fa-check-circle" aria-hidden="true"></i> Guarantee & Warranty</h3>
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading100">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse100" aria-expanded="false" aria-controls="collapse100">
                            1. What does the 120-night guarantee cover?
                        </a>
                    </h4>
                </div>
                <div id="collapse100" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading100">
                    <div class="panel-body">
                        When you get your new mattress, you’ll want to give your body <b>at least 30 nights to adjust to your new mattress</b>. Your body might not be used to such contouring support right away. But if you give it some time, and the mattress just isn’t your style, you can <b>contact us within the first 120 days of your purchase</b>, and we’ll arrange for a <b>pickup</b> of your mattress to be donated to a local charity or shelter, <b>free of charge</b>. <b>Please note there is a limit of 2 items per year per household. Standard shipping costs will apply after that.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            2. What if there’s a defect in my mattress that I didn’t discover until after the 120 nights?
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body">
                        <b>We have a 25-year warranty for all the mattresses sold on our website and most of our third-party sites.</b> So if a defect is present that you didn’t discover until after the 120-Night guarantee, you can contact us directly for a Warranty Claim Form. If it’s found there is a manufacturer’s defect after that 120 nights, <b>we’ll pick up your old one and send you a new one.</b> Customers will be responsible for shipping costs for the replacement mattress.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEleven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            3. Is there a guarantee or warranty for other Brentwood Home products, besides the mattresses?
                        </a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                    <div class="panel-body">
                        For all of our non-mattress products, <b>we offer a 30-day return policy with a 1-year warranty</b> to cover any manufacturer defects.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
        <h3 class="text-center"><i class="fa fa-comments-o" aria-hidden="true"></i> Tell Me More</h3>
        <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwenty">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                            1. What mattress do you recommend using?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                    <div class="panel-body">
                        <b>Everyone at Brentwood Home has their favorite.</b> Our office is right in our showroom, so we can try out the products and remind ourselves why we love what we do. Since feeling is so subjective, we’ve tried to simplify the process with a scale of <b>Firm to Plush</b> to help you better decide what’s right for you.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwentyone">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
                            2. I have arthritis or other physical ailments. What mattress is right for me?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwentyone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                    <div class="panel-body">
                        Those with delicate joints will need to pay attention to both the cushioning on top and the support at the base of the mattress. <b>Luxury Plush models with Eurotops tend to work well in these cases</b>, but so do hybrids and latex. Keep in mind that a <b>hybrid will give more support, while the latex gives a little more bounce.</b>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwentythree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwentythree">
                            3. I definitely want a Brentwood Home mattress, but I don’t know what base or bed frame to buy. Can you make any suggestions?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwentythree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentythree">
                    <div class="panel-body">
                        You can use any boxspring, foundation, adjustable base, slatted base, or platform beds with 5-inches or less between the supports/slats. The base should also provide adequate airflow below the mattress to prevent condensation and mold. 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwentyfour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwentyfour" aria-expanded="false" aria-controls="collapseTwentyfour">
                            4. I’m looking for a mattress for my RV. Does Brentwood Home do custom sizes?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwentyfour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyfour">
                    <div class="panel-body">
                        If you’re looking for a mattress suitable for an RV or travelin’ van, take a peek at any of our foam or latex mattresses and give us a call.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwentyfive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwentyfive" aria-expanded="false" aria-controls="collapseTwentyfive">
                            5. I accidentally threw out my care instructions when I purchased my dog bed. How do I wash it again?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwentyfive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyfive">
                    <div class="panel-body">
                        You can <b>unzip and remove the cover from your dog bed, washing it on cold and tumble drying on low.</b> The liner of the orthopedic foam is coated with a waterproofed polyurethane to keep the foam fresh and dry, but you can easily spot clean the liner before placing the cover back on the bed.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p>Didn't find an answer to your question? Don't hesitate to call us at <a href="tel:+18559791416">855.979.1416</a> and a friendly representative will help you.</p>
</div>
<script>
    mixpanel.track("FAQ", {
        "name": "{{ page_title | handle }}"
    });
</script>