<style>
    .template-page .standardPages h2, .template-page .standardPages h3{
        text-align: left;
    }
    .standardPages>.row{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .template-page .standardPages h2{
        margin-top: 0;
    }
    I.fa.affirm{
        color: #00c9e5;
    }
    UL LI{
        line-height: 40px;
    }
    OL LI{
        line-height: 27px;
        padding-bottom: 10px;
    }
    strong{
        color: #666;
    }
    .text-small{
        line-height: 20px !important;
    }
    .underline{
        text-decoration: underline;
    }
    .underline:HOVER{
        text-decoration: none;
    }
    .flexV div{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* The hero image */
    .hero-image {
        /* The image used */
        background-image: url("https://brentwood-home-2.imgix.net/bhfamily.jpg?7788353565071076423");

        /* Set a specific height */
        height: 62vh;

        /* Position and center the image to scale nicely on all screens */
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .hero-text H1{
        color: white;
        font-size: 70px !important;
        /*margin-bottom: 20px !important;*/
        margin: 0;
    }
    .hero-text H3{
        color: white;
        font-size: 20px !important;
        font-style: normal !important;
    }
    H2.sectiontitle{
        text-align: center !important;
        font-size: 36px;
    }
    .margTBLarge{
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .sectionHighlight{
        background-color: #F9F4F4;
        padding: 150px 0;
    }
    P.reliefLogo IMG{
        max-width: 80%;
    }
    .section.team H2{
        margin-bottom: 15px; 
    }
    .section.team H3{
        margin-bottom: 15px; 
        font-size: 18px;
    }
    /*.container.section{
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .container.section.margTBLarge{
    margin-top: 80px;
    margin-bottom: 80px;
    }*/
    @media screen and (max-width:768px) {
        .flex{
            display: block;
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-10%, -50%);
            color: white;
        }
        .hero-text H1{
            color: white;
            font-size: 36px !important;
            margin-bottom: 20px !important;
        }
        .standardPages>.row{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .template-page .standardPages .section h2{
            margin-top: 40px;
        }
        .margTBLarge{
            margin-top: 60px;
            margin-bottom: 60px;
        }
        .breadcrumb-wrap{
            display: none;
        }
        .sectionHighlight{
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 60px 0;
        }
        .hero-image{
            height: 42vh;
        }
        P.reliefLogo IMG{
            max-width: 40%;
            margin: 20px auto;
        }
    }
</style>

<div class="rte standardPages">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="">Our Customer Care Team</h1>
        </div>
    </div>

    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/ty.jpg" alt="Ty CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Ty</h2>
                    <h3>Customer Experience Lead</h3>
                    <p>Ty is a loving wife and mother, born and raised in Southern California. A true believer of Christ who lives by faith, and acknowledges her commitment to serve, love and encourage the world with her spirit of joy. She enjoys her time cooking and spending countless hours finding and executing new recipes. When she's not behind the grill, you can find her on her spin bike, or cuddling with her mini me laughing and singing nursery rhymes.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/savana.jpg" alt="Savana CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Savanna</h2>
                    <h3>Customer Experience</h3>
                    <p>Savanna is a mother of two living in California. When she’s not working, some of her favorite things to do are spend time with her husband and daughters and cook healthy food. She is passionate about clean eating, clean products and altogether clean living!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/ali.jpg" alt="Alison CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Alison</h2>
                    <h3>Customer Experience</h3>
                    <p>Ali grew up with her toes in the sand in a sleepy beach town in Florida. She and her husband love spending time outdoors exploring their new home in Asheville, NC. If Ali is not hiking or cuddling with her dog, you can find her on her yoga mat.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/lukas.jpg" alt="Lukas CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Lukas</h2>
                    <h3>Customer Experience</h3>
                    <p>Lukas enjoys combining his love for film photography and writing into photo essays. He has a website for his film photography. He enjoys rock climbing but tends to stick to boulders, as he quickly forgets the essential knots for tying ropes. As a drum and guitar player, he likes to think that in another life he would have been in a band.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/alexis.jpg" alt="Alexis CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Alexis</h2>
                    <h3>Customer Experience</h3>
                    <p>Alexis is a very active, outgoing person who enjoys working out and attending sporting events! She grew up on the East Coast and graduated from the University of Virginia, where she played Women’s College Soccer. Alexis is always up for an adventure and loves traveling to new places, trying new food, and living in the moment! Her happy place is near the water</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/courtney.jpg" alt="Courtney CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Courtney</h2>
                    <h3>Customer Experience</h3>
                    <p>Courtney comes to us with 10 years experience in Customer Service. She absolutely loves problem solving and helping others! Courtney, her husband, and their 4 fur babies have lived in the Asheville, NC Area for 8 years now. They wouldn’t trade their life here for the world! They are huge foodies and love anything outdoors. When the family is not outside or in a food sleep coma, Courtney can be found reading a supernatural fiction novel or mixing essential oil potions!</p>
                </div>
            </div>
        </div>
    </div>
    {%comment%}
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/judith.jpg" alt="Judith CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Judith</h2>
                    <h3>Customer Experience</h3>
                    <p>Judith is a newly converted morning person who hails from Southern California. If she’s not reading up on mythology you might bump into her while on leisurely nature walks—the forest is truly full of mystery. She enjoys exploring and meeting new people. Planning trips is just as, if not more, fun as the actual trip.</p>
                </div>
            </div>
        </div>
    </div>
    {%endcomment%}
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/jamie.jpg" alt="Jamie CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Jamie</h2>
                    <h3>Customer Experience</h3>
                    <p>When Jamie isn’t creating exceptional customer experiences she is usually outside backpacking, hiking, kayaking or gardening. A lover of nature she is passionate about plant medicine and the environment, and when she’s not outside you can almost always find her with a book in hand. She loves to travel and go on adventures with her fiancee, but the love of her life is her Boston Terrier Rocco!</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/laura.jpg" alt="Laura CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Laura</h2>
                    <h3>Customer Experience</h3>
                    <p>Laura, a California native, found her home in a beautiful valley surrounded by mountains and orange blossoms. As a mother of two and wife to a firefighter, she knows best how to keep a peaceful balance in her life and this sense of peace is felt in every interaction she has. When she’s not immersed in the world of mattresses, she’s drinking Kombucha, soaking up the sun, and spending time with her family.</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/adia.jpg" alt="Adia CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Adia</h2>
                    <h3>Customer Experience</h3>
                    <p>Adia is from sunny Los Angeles. She’s a voracious reader, handicrafter and loves traveling the world. She’s also big fan of all vegan cuisine! Adia graduated from UCLA with a degree in English and is also multilingual. She is an empath and channels this in her work—providing the best customer experience possible. Ask her about her cat Moose and his burgeoning leashing skills!</p>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/bianca-cxp.jpg" alt="Bianca CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Bianca</h2>
                    <h3>Customer Experience</h3>
                    <p>Bianca is a NJ native now residing in sunny California where she loves to spend time at the beach and cook for friends. She is also a huge music lover and spends a lot of her spare time studying new music and song writing. She believes in the power of words and spreading positivity amongst her loved ones and anyone new she is in the presence of.</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container section margTBMedium team">
        <div class="row flex">
            <div class="photo col-xs-12 col-sm-6 text-center">
                <img src="https://s3-brentwoodhome.imgix.net/team/adia.jpg" alt="Adia CXP">
            </div>
            <div class="bio col-xs-12 col-sm-6 flexV">
                <div>
                    <h2>Lanisha</h2>
                    <h3>Customer Experience</h3>
                    <p>Lanisha is from sunny California. She’s a lover of spontaneity, self-help books, Harry Potter, and reality TV. She believes life is the best teacher and has embraced each lesson with an open heart and fierce courage. In the words of Brene Brown, “You can choose courage or you can choose comfort. You cannot have both.</p>
                </div>
            </div>
        </div>
    </div>
    -->
   <script>
       $(function() {
           $('.team:odd').each(function() {
               $(this).children().children(".photo").addClass("col-sm-push-6").next().addClass("col-sm-pull-6");
           });
       });
    </script>