<style type="text/css">
    .grid-item .product-title{
        text-align: center;
    }
</style>
<header class="page-header">
    <h1>BH+Sleepsherpa</h1>
</header>

<div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p class="text-center">Your dream of trying Brentwood Home's handcrafted beds in person just became a reality. <br>Our best selling mattresses are now available at the Sleep Sherpa showroom. <br>Come experience your goldilocks moment.</p><br><br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h3 class="text-center">The Most Luxurious</h3>
           <div class="grid-item product-item">
                <div class="product-top">
                    <div class="product-image">
                        <a href="/products/oceano-mattress" class="product-grid-image">
                            <img src="https://brentwood-home-products.imgix.net/oceano2017-_0002_Oceano79006.jpg?w=480" alt="Oceano Luxury Hybrid Mattress">
                            <span class="product-image-hover" data-idproduct="6085545286">
                                <img alt="Oceano Luxury Hybrid Mattress" src="https://brentwood-home-products.imgix.net/Mattress_Components_Oceano4.jpg?w=480">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="product-bottom">
                    <a class="product-title" href="/collections/mattresses/products/oceano-mattress">Oceano Mattress</a>
                    <div class="price-box">
                        <div class="product-button">
                            <div class="action">   
                                <a class="btn" href="/collections/mattresses/products/oceano-mattress">SEE IT</a>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="text-center">The Most Natural</h3>
            <div class="grid-item product-item">
                <div class="product-top">
                    <div class="product-image">
                        <a href="/products/cedar-natural-luxe-mattress" class="product-grid-image">
                            <img src="https://brentwood-home-products.imgix.net/couple-playing-on-the-cedar-organic-mattress2.jpg?w=480" alt="Cedar Mattress">
                            <span class="product-image-hover" data-idproduct="11323072652">
                                <img alt="CedarNatural Luxe Mattress" src="https://brentwood-home-products.imgix.net/cedarluxe__0001_Brentwood_Home_-_Cedar_Mattress_web_-216.jpg?w=480">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="product-bottom">
                    <p class="text-center"><a class="product-title" href="/products/cedar-natural-luxe-mattress">Cedar Natural Luxe Mattress</a></p>
                    <div class="price-box">
                        <div class="product-button">
                            <div class="action">   
                                <a class="btn" href="/products/cedar-natural-luxe-mattress">SEE IT</a>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="map">
    <div class="row">
       <h2 class="text-center">How to get there</h2>
        <div class="col-xs-12" style="margin: 20px 0;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45241.400535347035!2d-93.3998816844375!3d44.870691080869264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f622218c20ad65%3A0x3509f2e8b6504053!2s7313+Washington+Ave+S%2C+Edina%2C+MN+55439!5e0!3m2!1sen!2sus!4v1507053009672" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
           <label for="">Address:</label>
            <p>Sleep Sherpa Showroom<br>
            7313 Washington Ave S. <br>
                Edina, MN 55439</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <label for="">Business Hours:</label>
            <p>
                Monday: 11am-6pm<br>
                Tuesday: 11am-8pm<br>
                Wednesday: 11am-8pm<br>
                Thursday: 11am-8pm<br>
                Friday: 11am-6pm<br>
                Saturday: 11am-6pm<br>
                Sunday: 12pm-5pm
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <label for="">Contact:</label>
            <p>
                Phone: (952) 222-0752<br>
                Email: ben@sleepsherpa.com
            </p>
        </div>
    </div>
</div>

<style>
    #map{
        margin: 50px 0;
    }
    H3{
        margin-bottom: 15px;
    }
    .product-button .btn{
        width: 100%;
        margin-top: 15px;
        border: 1px solid white;
        transition: background-color 0.5s ease;
        background-color: #454d5a;
        padding: 15px;
        height: auto;
        padding: 15px;
        color: white;
        font-size: 15px;
    }
    .product-button .btn:HOVER{
        background-color: #fff;
        border: 1px solid #454d5a;
        color: #454d5a;
    }
</style>