<style>
    .template-page .standardPages h2, .template-page .standardPages h3{
        text-align: left;
    }
    .standardPages>.row{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .template-page .standardPages h2{
        margin-top: 0;
    }
    I.fa.affirm{
        color: #00c9e5;
    }
    UL LI{
        line-height: 32px;
    }
    OL LI{
        line-height: 27px;
        padding-bottom: 10px;
    }
    p.strong{
        color: #4a4a4a;
        font-size: 21px;
        margin-top: 35px;
        display: block;
    }
    strong{
        color: #4a4a4a;
    }
    .text-small{
        line-height: 20px !important;
    }
    .underline{
        text-decoration: underline;
    }
    .underline:HOVER{
        text-decoration: none;
    }
    .flexV div{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* The hero image */
    .hero-image {
        /* The image used */
        background-image: url("https://s3-brentwoodhome.imgix.net/cedarnaturalluxe_widehero.jpg?w=1600");

        /* Set a specific height */
        height: 42vh;

        /* Position and center the image to scale nicely on all screens */
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .template-page .standardPages p{
        line-height: 32px;
        letter-spacing: 0;
    }
    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .hero-text H1{
        color: white;
        font-size: 70px !important;
        margin-bottom: 20px !important;
    }
    .hero-text H3{
        color: white;
        font-size: 20px !important;
        font-style: normal !important;
    }
    H2.sectiontitle{
        text-align: center !important;
        font-size: 36px;
    }
    Div.quote h2{
        font-size: 24px !important;
        font-style: italic !important;
        text-align: center !important;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 15px !important;
    }
    Div.quote{
        font-size: 24px;
        font-style: italic;
        text-align: center !important;
        margin: 0px 0 0 0;
    }
    Div.quote P{
        font-style: italic;
    }
    .missionLogos{
        margin: 20px 0 50px;
    }
    .margTBLarge{
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .sectionHighlight{
        background-color: #F9F4F4;
        padding: 150px 0;
    }
    P.reliefLogo IMG{
        max-width: 80%;
    }
    .hero-text H1{
        color: #38423f;
        padding: 20px;
        background-color: white;
    }
    @media screen and (max-width:768px) {
        .flex{
            display: block;
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-10%, -50%);
            color: white;
        }
        .hero-text H1{
            font-size: 36px !important;
            margin-bottom: 20px !important;
        }
        .standardPages>.row{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .template-page .standardPages .section h2{
            margin-top: 40px;
        }
        .margTBLarge{
            margin-top: 60px;
            margin-bottom: 60px;
        }
        .breadcrumb-wrap{
            display: none;
        }
        .sectionHighlight{
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 60px 0;
        }
        .hero-image{
            height: 42vh;
        }
        P.reliefLogo IMG{
            max-width: 40%;
            margin: 20px auto;
        }
    }
</style>

<div class="rte standardPages">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="">Privacy Policy</h1>
        </div>
    </div>


<p class="strong"><strong>Last Updated:  October 6, 2020</strong></p>
<p>Protecting your information is our priority. We recognize that your privacy is very important and take it seriously. This Privacy Policy is provided by Brentwood Home LLC (“Brentwood Home”, “we”, “our”, “us”) and governs data collection and usage on our website at <a href="https://www.brentwoodhome.com/">www.brentwoodhome.com</a> (“Website” or “Service”).</p>
<p class="strong"><strong>Overview</strong></p>
<ul>
<li>We collect Personally Identifiable Information (as defined below) from users of our Website when it is voluntarily provided by you (see <a href="#term-personal-info">Collection of your Information</a> below).</li>
<li>We automatically collect browsing information from users of our Website for advertising and analytical purposes (see <a href="#term-data-ads">Use of Cookies and Interest-Based Advertising</a> below).</li>
<li>You can access, delete and control certain uses of your information (see <a href="#term-control-data">Your Choices About Your Information</a> below).</li>
<li>We will not use or share your information with anyone except as described in this Privacy Policy.</li>
</ul>
<p>By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service.</p>
<p>IF YOU ARE A RESIDENT OF CALIFORNIA, PLEASE SEE THE SECTION “CALIFORNIA CONSUMER NOTICE” FOR SPECIFIC DISCLOSURES WITH RESPECT TO OUR COLLECTION, USE, AND DISCLOSURE OF YOUR INFORMATION AND ADDITIONAL RIGHTS YOU HAVE UNDER APPLICABLE LAW.</p>
<div id="term-personal-info">
<p class="strong"><strong>Collection of your Personal Information</strong></p>
</div>
<p>The categories of information we may collect through this Website are:</p>
<p>(1) <u>Personally Identifiable Information</u> &#8211; such as a name, email address, physical address, telephone number and any other information that identifies you as an individual person.</p>
<p>(2) <u>Non-Personally Identifiable Information</u> – such as demographic information, general interests and information that does not directly identify you as an individual person, including aggregated or anonymized information.</p>
<p>(3) <u>Browsing Information</u> &#8211; such as information about your equipment, browsing actions, and patterns, information about your device and internet connection, including your IP address, operating system, and browser type, provided such information does not directly identify you as an individual person.</p>
<p>Personally Identifiable Information is only collected from you when you voluntarily provide it to us.</p>
<p>If you purchase Brentwood Home products, your billing and credit card information will be provided by you directly to our payment processor, Braintree (<a href="https://www.braintreepayments.com/" target="_blank" rel="noopener">https://www.braintreepayments.com/</a>). They are only authorized by Brentwood Home to use this information to process your order. Brentwood Home will only receive the credit card type, last 4 numbers of the payment method, transaction date, transaction amount and a transaction ID.</p>

<p class="strong"><strong>Use of your Information</strong></p>
<p>Brentwood Home uses and shares your information as follows:</p>
<ul>
<li>to operate the Website and deliver the products and services you have requested.</li>
<li>to manage fulfillment, customer service, returns, warranty and other operational functions.</li>
<li>to inform you of other products or services available from Brentwood Home and its affiliates.</li>
<li>to contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</li>
<li>to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you.</li>
<li>with trusted vendors to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personally identifiable information except to provide these services to Brentwood Home, and they are required to maintain the confidentiality of your information.</li>
<li>when required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Brentwood Home; (b) comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service; (c) protect and defend the rights or property of Brentwood Home; and, (d) act under exigent circumstances to protect the personal safety of users of Brentwood Home, or the public.</li>
<li>in connection with a merger, sale, reorganization or bankruptcy involving Brentwood Home.</li>
<li>otherwise with your consent.</li>
</ul>
<p class="strong"><strong>Information Collected Automatically</strong></p>
<p>Browsing information may be automatically collected by Brentwood Home and third parties (as described below) from your device. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, for advertising, and to provide general statistics regarding use of the Website. Browsing information and Non-Personally identifiable Information may be shared with a number of third parties.</p>
<p>When you use the Service, we use persistent and session cookies (for information on cookies, please see below) and other tracking technologies such as log files and clear GIFs to: (a) store your username and password; (b) analyze the usage of the Service, such as the number of clicks, time spent on parts of the Service or search results; (c) customize the Service to your preferences; and (d) control the advertising displayed by the Service. We also may include clear GIFs in HTML-based emails sent to our users to determine whether the message has been opened. As we adopt additional technology, we may also gather additional information through other methods.</p>
<p>We may collect different types of information about your location, including general information (e.g., IP address, ZIP code) and more specific information (e.g., GPS-based functionality on mobile devices used to access the Service), and may use that information to customize the Service with location-based information and features. If you access the Service through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this.</p>
<div id="term-data-ads">
<p class="strong"><strong>Use of Cookies</strong></p>
</div>
<p>We may use “cookies” to help you personalize your online experience. A cookie is a text file that is placed on your device by a web page server. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
<p>One of the primary purposes of cookies is to provide a convenience feature to save you time and to tell the Web server that you have returned to a specific page. For example, if you personalize Brentwood Home pages, or register with Brentwood Home site or services, a cookie helps Brentwood Home to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Brentwood Home website, the information you previously provided can be retrieved, so you can easily use the Brentwood Home features that you customized.</p>
<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Brentwood Home services or websites you visit.</p>
<p class="strong"><strong>Non-Personally Identifiable Information:</strong></p>
<p>As noted above, we may collect information that is not Personally Identifiable Information (“Non-Personally Identifiable Information”). We may aggregate or de-identify Personally Identifiable Information so that the information does not personally identify you or anyone else directly. Because Non-Personally Identifiable Information, including aggregate or de-identified information, does not personally identify you directly, we may collect, use and disclose Non-Personally Identifiable Information for any purpose permitted by law and subject to the section titled <a href="#term-ccn">California Consumer Notice</a>. In some instances, we may combine Non-Personally Identifiable Information with Personally Identifiable Information. If we combine any Non-Personally Identifiable Information with Personally Identifiable Information, the combined information will be treated by us as Personally Identifiable Information.</p>
<p class="strong"><strong>Interest-Based Advertising</strong></p>
<p>We want our marketing efforts to be reflective of the interests and behaviors of our users. Therefore, we may work with third parties who collect information on our Website and elsewhere through the use of cookies and similar methods in order to serve you with relevant advertisements on other services or to determine that you have seen our advertisements on other services. For example, if you view information about a particular mattress on our Website, we may target advertising to you on other websites and services (such as unaffiliated websites and social media services) about that mattress. This method of advertising is sometimes called “interest-based advertising.”</p>
<p>For example, Google, as a third-party vendor, uses cookies to serve ads in connection with our advertising. Google’s use of the DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to our Service or other web sites on the Internet. You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the <a href="https://www.google.com/ads/preferences" target="_blank" rel="noopener">Google Ads Settings web page</a>.</p>
<p>You do have the ability to control certain advertising practices. We comply with the Self-Regulatory Principles for Online Behavioral Advertising as administered by the Digital Advertising Alliance (DAA). You can learn more about interest-based advertising and opt-out of targeted advertising from certain providers with whom we work by visiting the <a href="https://youradchoices.com/control" target="_blank" rel="noopener">DAA’s consumer choice page</a>. The opt-out process through the DAA relies upon the placement of an opt-out cookie on your device. We do not respond to or honor “do not track” (a.k.a. DNT) signals or similar mechanisms transmitted by web browsers.</p>
<p class="strong"><strong>Cross Device Matching</strong></p>
<p>We use Non-Personally Identifiable Information to facilitate cross device association. We or our third-party vendors analyze device activity data using a mathematical tool known as a “probabilistic algorithm” to determine if you have interacted with content across multiple devices and to match such devices. In connection with this analysis, we may rely on Non-Personally Identifiable Information (including demographic, geographic and interest-based data) from third parties such as data vendors, pursuant to their own privacy policies or we may use the Non-Personally Identifiable Information we collect in conjunction with such third-party data. Based on this data, we may then display targeted advertisements across devices that we believe are associated and may provide other services to our advertisers such as tools, analyses, data and insights to see how their website or mobile applications are used and to further enable the display of targeted advertisements to you, including across your devices. Our advertisers may also provide us with deterministic data about you that may be used to supplement our probabilistic data. Based on this data, we may then display targeted advertisements across devices that we believe are associated and may provide other services to our advertisers such as tools, analyses, data and insights to see how their website or mobile applications are used and to further enable cross-device targeting and analysis. In order to restrict our use of certain cross-device data, you may opt out in accordance with this section or the <a href="#term-control-data">Your Choices About Your Information</a> section below.</p>
<p class="strong"><strong>Security of your Information</strong></p>
<p>Brentwood Home uses a variety of physical, managerial, and technical safeguards to preserve the integrity and security of your information, based on the sensitivity of the information. We cannot, however, ensure or warrant the security of any information you transmit to Brentwood Home or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>
<p>The security of your information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.</p>
<p>However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the information we have collected from you.</p>
<p>To secure your <a href="#term-collected-info">Personally Identifiable</a> Information from unauthorized access, use or disclosure, Brentwood Home uses Cloudflare. When Personally Identifiable information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
<p>We will retain your information for as long as necessary for our business purposes, subject to your rights set forth below.</p>
<p class="strong"><strong>International Transfer</strong></p>
<p>Your information, including Personally Identifiable information, may be transferred to — and maintained on — servers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. If you are located outside the United States and choose to provide information to us, please note that we transfer the information, including Personally Identifiable Information, to the United States and process it there. Information stored in the United States may be subject to lawful requests by the courts or law enforcement authorities in the United States. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
<p class="strong"><strong>Links to Other Sites</strong></p>
<p>Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party’s site. We are not responsible for the practices employed by websites linked to or from the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website’s own rules and policies. We strongly advise you to review the Privacy Policy of every site you visit.</p>
<p>Our Website may have plugins from social media platforms. If you have a previous relationship with such social media platforms, then they may recognize you and combine information collected through this Website with information they already possess about you. As described in this Privacy Policy, we may work with social media platforms to target advertisements to you while you are on their services based on your visits to our Website.</p>
<p class="strong"><strong>Children Under 13</strong></p>
<p>Protecting the privacy of young children is especially important. We do not knowingly collect Personally Identifiable Information from children under 13. If you are a parent or guardian and you learn that your children have provided us with Personally Identifiable Information, please contact us. If we become aware that we have collected Personally Identifiable Information from a child under age 13 without verification of parental consent, we take steps to remove that information from our servers.</p>
<div id="term-control-data">
<p class="strong"><strong>Your Choices About Your Information</strong></p>
</div>
<p>You are able to control the use of certain information as follows:</p>
<ul>
<li><u>Do Not Provide Information</u> &#8211; You may, of course, decline to submit information through the Service, in which case Brentwood Home may not be able to provide certain services to you.</li>
<li><u>Update / Correct</u> &#8211; You may update or correct your account information and email preferences at any time by logging into your account.</li>
<li><u>Delete / Modify / Copy</u> &#8211; If you would like to delete, modify or receive a copy of your Personally Identifiable Information, you may contact us at <a href="mailto:privacy@brentwoodhome.com"><span class="__cf_email__">privacy@brentwoodhome.com</span></a>.</li>
<li><u>Opt-out of Communications</u> &#8211; If you would like to opt-out of our promotional emails, you may contact us at <a href="privacy@brentwoodhome.com"><span class="__cf_email__">privacy@brentwoodhome.com</span></a>.</li>
<li><u>Cookies</u> – You may stop or restrict the placement of cookies on your device or flush them from your browser by adjusting your web browser preferences, in which case you may still use our Website, but it may interfere with some of its functionality. Further information on cookies is available at www.allaboutcookies.org.</li>
<li><u>Interest-Based Advertising</u> &#8211; You can opt-out of certain targeted advertising by following the instructions in the <a href="#term-data-ads">Interest-Based Advertising</a> section above</li>
<li><u>California Users</u> &#8211; If you are a resident of California, you have specific rights with respect to your personal information (as defined below) under the California Consumer Privacy Act of 2018 (“CCPA”) and other California laws. For more information, see the <a href="#term-ccn">California Consumers Notice</a> below.</li>
<li><u>Nevada Users</u> &#8211; If you are a Nevada resident, you have the right to request that we do not sell your covered information (as those terms are defined in N.R.S. 603A) that we have collected, or may collect, from you. We do not sell your covered information, however, if you would like to make such a request you may do so by contacting us at <a href="mailto:privacy@brentwoodhome.com"><span class="__cf_email__">privacy@brentwoodhome.com</span></a>.</li>
<li><u>European Users </u>&#8211; If you are located in the European Union, you have specific rights with respect to your personal data (as defined in the GDPR) under the General Data Protection Regulation (Regulation (EU) 2016/679) (the “GDPR”), including the following:</li>
<li>The right of access to your personal data</li>
<li>The right to rectify your personal data if it is incorrect or incomplete</li>
<li>The right to have your personal data erased (“right to be forgotten”) if certain grounds are met</li>
<li>The right to withdraw your consent to our processing of your personal data at any time (if our processing is based on consent)</li>
<li>The right to object to our processing of your personal data (if processing is based on legitimate interests)</li>
<li>The right to object to our processing of your personal data for direct marketing purposes</li>
<li>The right to receive your personal data from us in a structured, commonly used and machine-readable format, and the right to transmit your personal information to another controller without hindrance from us (data portability)</li>
</ul>
<p>You may contact us as provided below, or as otherwise provided in this Privacy Policy, to exercise any of the above rights. We may request specific information from you to confirm your identity. Furthermore, if you believe that our processing of your information is inconsistent with your data protection rights under the GDPR and we have not adequately addressed your concerns, you have the right to lodge a complaint with the data protection supervisory authority of your country.</p>
<p>We reserve the right to retain information as permitted by applicable law.</p>
<div id="term-ccn"><strong>California Consumer Notice: </strong></div>
<p>We collect information (some of which may also constitute Personally Identifiable Information) that identifies, relates to, describes, references, or is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or household. The CCPA refers to such information as “personal information.” If you are a resident of California (“California Consumer”), the CCPA provides you with specific rights regarding your personal information. This section describes the rights that California Consumers have and explains how to exercise those rights. For the purposes of this section, personal information does not include (i) information that is lawfully made available from federal, state or local government records, (ii) de-identified or aggregated data or (iii) information excluded from the scope of the CCPA. To be clear the rights in this section are not intended to grant you additional rights, but just your rights under CCPA.</p>
<div id="term-collected-info"><strong>Information We Collect; How We Collect It; How We Use It</strong></div>
<p>Information about our data collection during the prior 12 months is described below.</p>

<table class="ui celled table">
<thead>
<tr>
<th style="width: 25%;"><small>Categories of Personal Information</small></th>
<th style="width: 25%;"><small>Sources of such Personal Information</small></th>
<th style="width: 25%;"><small>Business Purpose for such Personal Information</small></th>
<th style="width: 25%;"><small>Categories of Third Parties with whom information is shared</small></th>
</tr>
</thead>
<tbody>
<tr class="top aligned">
<td><strong>Contact information</strong> and other personal identifiers such as your name, email address, mailing address, telephone number, and your account username and password.</td>
<td>Collected from you directly through the Website when you register an account with us, purchase one of our products, sign up for our mailing list, send us an email or send us a message through our interactive chat room on our Website.</td>
<td>We use such information to process your orders, respond to your communications to us, to send you marketing communications and to customize the Website and our services to your preferences.</td>
<td>We share such information with our service providers and other third parties including our advertising partners.</td>
</tr>
<tr class="top aligned">
<td><strong>Online identifiers</strong> such as information about your device and internet connection, IP address, operating system, browser type, cookies, log files and clear GIFs.</td>
<td>Collected from you directly when you use the Website.</td>
<td>We use such information to better understand how the Website is being used, improve and maintain the quality of our Website and services, to provide you with information about products and services that we think might be of interest to you, to track your interaction with our communications to you and/or the advertisements and other features on our Website, and to customize the Website and our services to your preferences.</td>
<td>We share such information with our service providers and other third parties including our advertising partners.</td>
</tr>
<tr class="top aligned">
<td><strong>Browsing history</strong> and other information regarding internet activity such as domain names, access times, referring addresses, your interaction with and time spent on the Website, and search results.</td>
<td>Collected from you directly when you use the Website.</td>
<td>We use such information to better understand how the Website is being used, improve and maintain the quality of our Website and services, to provide you with information about products and services that we think might be of interest to you and to customize the Website and our services to your preferences.</td>
<td>We share such information with our service providers and other third parties including our advertising partners.</td>
</tr>
<tr class="top aligned">
<td><strong>Location information</strong> such as area code or GPS information.</td>
<td>Collected from you directly through the Website when you register for an account with us or make a purchase, or automatically collected from you when you access our Website through your mobile device.</td>
<td>We use such information to respond to your communications to us, to process your orders for our products, and to provide you with location-based information and features.</td>
<td>We share such information with our service providers and other third parties including our advertising partners.</td>
</tr>
<tr class="top aligned">
<td><strong>Demographic information</strong> such as your general interests.</td>
<td>Collected from you directly through the Website.</td>
<td>We use such information to better understand how the Website is being used, improve and maintain the quality of our Website and services, to provide you with information about products and services that we think might be of interest to you and to customize the Website and our services to your preferences.</td>
<td>We share such information with our service providers and other third parties including our advertising partners.</td>
</tr>
<tr class="top aligned">
<td><strong>Purchasing information</strong> including credit card type, last four digits of your payment method, billing and shipping address, transaction date, transaction amount and transaction ID.</td>
<td>Collected from you directly when you purchase our products.</td>
<td>We use such information to process your orders and provide you with our products and services that you request.</td>
<td>We share such information with our service providers.</td>
</tr>
</tbody>
</table>
<p>In addition to the purposes set forth in the above chart, each of these categories of personal information may be collected and used as otherwise described in <a href="#term-control-data">Use of Your Information</a> above.</p>
<p class="strong"><strong>Sharing of Personal Information </strong></p>
<p>Brentwood Home may disclose your personal information to a third party for a business purpose or sell personal information collected through our Website or Services subject to your right to opt-out of those sales (see <a href="#term-info-opt">Personal Information Sales Opt-Out and Opt-In Rights</a>). We may share your personal information with the categories of third parties set forth in the chart above under <a href="#term-collected-info">Information We Collect; How We Collect It; How We Use It</a>.</p>
<p class="strong"><strong>Disclosures of Personal Information for a Business or Commercial Purpose</strong></p>
<p>In the preceding twelve (12) months, Brentwood Home has disclosed the categories of personal information described above for a business or commercial purpose. See above under <a href="#term-collected-info">Information We Collect; How We Collect It; How We Use It</a> for more information regarding each category.</p>
<p class="strong"><strong>Rights to Your Information</strong><br />
<strong><em>Right to Know About Personal Information Collected, Disclosed or Sold </em></strong></p>
<p>As a California Consumer, you have the right to request that we disclose certain information to you about our collection, use, disclosure or sale of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request (see <a href="term-excise-rights">Exercising Access and Deletion Rights</a>), and subject to certain limitations that we describe below, we will disclose such information. You have the right to request any or all of the following:</p>
<ul>
<li>The categories of personal information we collected about you.</li>
<li>The categories of sources from which the personal information is collected.</li>
<li>Our business or commercial purpose for collecting or selling that personal information.</li>
<li>The categories of third parties with whom we share that personal information.</li>
<li>The specific pieces of personal information we collected about you (also called a data portability request).</li>
</ul>
<p class="strong"><strong>Deletion Request Rights</strong></p>
<p>You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request (see <a href="#term-excise-rights">Exercising Access, Data Portability, and Deletion Rights</a>), we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies, such as for fulfilling a transaction or for security purposes. However, we may retain personal information that has been de-identified or aggregated. Furthermore, we may deny your deletion request if retaining the information is necessary for us or our service provider(s) in order to perform certain actions set forth under CCPA, such as detecting security incidents and protecting against fraudulent or illegal activity.</p>
<p id="term-excise-rights" class="strong"><strong>Exercising Access and Deletion Rights</strong></p>
<p>To exercise the access and deletion rights described above, please submit a request to us by <strong><a href="https://privacyportal-eu.onetrust.com/webform/645f850a-dc2e-4e57-b580-41249ddaf966/95e5facf-fb59-4eff-8ef4-c8324af23d66">visiting this web form</a></strong> or by calling the following toll-free number: <strong><a href="tel:+18889149661,984694">1-888-914-9661</a></strong><a href="tel:+18889149661,303538">,</a> using PIN<strong> 984694</strong>.</p>
<p>Only you, or a person or business entity registered with the California Secretary of State that you authorize to act on your behalf (an “authorized agent”), may make the requests set forth above.</p>
<p>The request should include your contact information and describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it. In addition, you should provide sufficient information that allows us to reasonably verify that you are the person about whom we collected the personal information or an authorized representative of that person.</p>
<p class="strong"><strong>Response Timing and Format<br />
</strong></p>

<p>We will respond to consumer requests in a reasonably timely manner. If we require extra time to respond, we will inform you of the reason and extension period in writing. In order to protect the security of your personal information, we will not honor a request if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. The method used to verify your identity will depend on the type, sensitivity and value of the information, including the risk of harm to you posed by any authorized access or deletion. Generally speaking, verification will be performed by matching the identifying information provided by you to the personal information that we already have.</p>
<p>Any disclosures we provide will only cover the 12-month period preceding our receipt of your request (and will not be made more than twice in a 12-month period). If we cannot comply with a request, or cannot fully comply with a request, the response we provide will also explain the reasons we cannot comply.</p>
<p class="strong"><strong>Personal Information Sales Opt-Out and Opt-In Rights</strong></p>
<p>You have the right to direct us to not sell your personal information at any time (the &#8220;right to opt-out&#8221;). We do not sell the personal information of consumers we actually know are less than 16 years of age, unless we receive affirmative authorization (the &#8220;right to opt-in&#8221;) from either the consumer who is at least 13 and less than 16 years of age, or the parent or guardian of a consumer less than 13 years of age.</p>
<p>To exercise the right to opt-out, you (or your authorized representative) may submit a request to us by visiting the following internet web page: <a href="https://privacyportal-eu.onetrust.com/webform/645f850a-dc2e-4e57-b580-41249ddaf966/95e5facf-fb59-4eff-8ef4-c8324af23d66" target="_blank" rel="noopener">Do Not Sell My Personal Information</a>. Alternatively, you may submit an opt-out request by contacting us at <a href="mailto:privacy@brentwoodhome.com"><span class="__cf_email__">privacy@brentwoodhome.com</span></a>.</p>
<p>If you use an authorized agent to exercise the right to opt-out, you must provide the authorized agent written permission to do so, and we may deny the request if the authorized agent does not submit proof that it has been authorized by you to act on your behalf.</p>
<p class="strong"><strong>Non-Discrimination</strong></p>
<p>We will not discriminate against you for exercising any of your CCPA rights.</p>
<p class="strong"><strong>Changes to this Statement</strong></p>
<p>Brentwood Home LLC will occasionally update this Privacy Policy. Brentwood Home LLC encourages you to periodically review this Privacy Policy to be informed of how Brentwood Home LLC is protecting your information.</p>
<p class="strong"><strong>Contact Information</strong></p>
<p>Brentwood Home LLC welcomes your questions or comments regarding this Privacy Policy. Please contact Brentwood Home at:</p>
<p>Brentwood Home LLC<br />
601 Burning Tree Road<br />
Fullerton, CA, USA 92833<br />
Email Address: <a href="mailto:privacy@brentwoodhome.com"><span class="__cf_email__">privacy@brentwoodhome.com</span></a></p>
</div>